.hidden{display: none;}
.flex{display: flex;}
.block{display: block;}
.inline-block{display: inline-block;}
.relative{position: relative;}
.justify-center{justify-content: center;}
.justify-between{justify-content: space-between;}
.items-center{align-items: center;}
.uppercase{text-transform: uppercase;}
.font-normal{font-weight: 400;}
.font-semibold{font-weight:600;}
.font-bold{font-weight:700;}
.text-center{text-align: center;}
.fs10{font-size:size(10);}
.fs11{font-size: size(11);}
.fs12{font-size: size(12);}
.lh1{line-height: 1.2;}
.lh1{line-height: 1.4;}
.lh1{line-height: 1.5;}
.h-full{height: 100%;}	
.h-screen{height: 100vh;}
.w-full{width:100%}
.text-defaul-color{color: var(--default-font-color);}
.tracking-wider{letter-spacing: 0.2em;}
ul{padding:0; margin:0;}
.cursor-pointer{cursor: pointer;}
.grow{flex-grow: 1;}
.rounded-12{border-radius: 12px;}
.rounded-6{border-radius:6px;}
.sm-button{ 
   padding: 0px 12px;
   font-size: size(10);
   font-family: $font-family-primary;
   height:24px;
   line-height: 1.1;
   cursor: pointer;
}
.xs-button{ 
   padding: 0px 12px;
   font-size: size(10);
   font-family: $font-family-primary;
   height:16px;
   line-height: 1.1;
   cursor: pointer;
}

.border-b{border-bottom:1px solid #AEB7C0}
.border-0{border:0!important;}
p{padding:0;margin:0;}
.mr-3{margin-right: 12px;}
.ml-3{margin-left: 12px;}
.mr-2-5{margin-right: 10px;}
.mb-3{margin-bottom: 12px;}
.mb-4{margin-bottom: 16px;}
.mt-3{margin-top: 12px;}
.mt-8{margin-top: 32px;}
.mb-0{margin-bottom:0!important;}
.mb-2{margin-bottom: 8px;}
.mb-1{margin-bottom: 4px;}
.mr-5{margin-right: 20px;}
.mb-5{margin-bottom: 20px;}
.mt-5{margin-top: 20px;}
.text-area{width: 100%;height: 80px; resize: none;background: #fff;font-size: size(14);}
.w-20{width:20px}
.h-20{height:20px;}
.p-3{padding: 12px;}
.forward-btn{
   cursor: pointer;
   width:20px;
   height:20px;
   background: transparent;
   display: flex;
   justify-content: center;
   align-items: center;
   border:none;
   img{
         width: 16px;
   }
}
.button-gray{
   background: var(--comment-bg1);
   padding:5px 10px;
   border: none;
}
.button-compare{
   background: var(--compare-bg);
   padding:5px 10px;
   border: none;
}
.button-orange {
   border-radius: 34px;
   border: 1px solid var(--orange-bg);
   background-color: var(--orange-bg);
   color:var(--app-navigation-background-color)
}
.bg-dark{background: var(--card-bg);}
.bg-light{background: var(--comment-bg);}
.bg-light1{background: var(--comment-bg1);}
.body-text{
   font-size: size(11);
   line-height: 1.5;
}
.dot-g{
   background:var(--green-bg);
   width:11px;
   height:11px;
   border-radius: 100%;
}
.dot-red{
   background:var(--logo-color);
   width:11px;
   height:11px;
   border-radius: 100%;
}
.sm-chips{
   padding: 2px 16px;
   font-size: size(10);
}
.drop-down-modal{
  position: relative;
   &:hover{
      .menu-card{
         display: block;
  
         height:auto;
      }
     
   }
}
.menu-card{
   transition: all 0.3s ease-in;
   display: none;
   height:0;
   background: var(--app-navigation-background-color);
   box-shadow: 0 4px 24px rgba(0, 0, 0, 0.50 );
   padding:10px;
   position: absolute;
   z-index:1;
   min-width:200px;
   right:-6px;
   &::before{
      content:'';
      position: absolute;
      border-bottom:10px solid var(--app-navigation-background-color);
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      top:-6px;
      right:10px;
      z-index: 2;
           // transform: rotate(45deg);
      // background: red;
   }
   ul{
      list-style: none;
      li{
         font-size: size(11);
         line-height: 1.4;
         padding:8px 0px 8px 0;

         color: var(--default-font-color);
         &:not(:last-child){
            border-bottom: 1px solid var(--border-color2);
            // margin-bottom: 4px;
         }
         
         a{
            display: block;
            // padding:8px 0px 8px 0;
            color: var(--default-font-color);
            position: relative;
            font-size: size(11);
            line-height: 1.4;
            &:hover{
               color: var(--default-font-color);
            }
            &.forward-arrow{
               padding-right:18px;
               &::after{
                  background:url("/css/images/forward-icon.svg") no-repeat;
                  background-size:16px;
                  position: absolute;
                  z-index:2;
                  content: '';
                  right:0;
                  top: 50%;
                  transform: translateY(-50%);
                  width:16px;
                  height:16px;
   
               }
            }
         }

      }
   }
}
.add-btn{
   background: transparent;
   display: flex;
   height:16px;
   padding:0 4px;
   font-size:size(11);
   border: none;
   color: var(--logo-color);
   cursor: pointer;
   svg{
      max-width: 12px;
      height:auto;
      path{
         fill:  var(--logo-color);
      }
   }
}
.btn-icon{
   width:20px;
   height: 20px;
   cursor: pointer;
   line-height: 1;
   border: 0;
   background: transparent;
   &.down{
      transform: rotate(90deg);
   }
   img{
      width: 100%;
      max-width: 20px;

   }
}
// sharing component
.sharing-members{
   &.file-img-fix{
      width: 28px; position: absolute; right:0; top:calc(100% - 26px)
   }
   &.li-overlap{
      ul li{
         &:not(:last-child){
				margin-right: -4px;
			}
      }
   }
	ul {
		display: flex;
		list-style: none;
		li{
			width: 26px;
			height: 26px;
			position: relative;

			&:not(:last-child){
				margin-right: 4px;
			}
			.ic-member{
				width: 26px;
				height: 26px;
				border-radius: 100%;
				overflow: hidden;
				display: flex;
				font-size:size(11);
            color: var(--white);
            font-weight: 700;
				align-items: center;
				justify-content: center;
				box-shadow:0 2px 4px rgba(0, 0, 0, 0.16);
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}

}
.icon-s20{
   width:20px;
   height:20px;
   display: inline-flex;
   margin-right: 8px;
   img{max-width:20px;}
}

.icon-bg-size{	
   &.ic-red{
      background-color: #444488;
   }
   cursor: pointer;
   border:none;			
   width:20px;
   height: 20px;
   display: flex;
   mask-size: 20px 20px;
   mask-repeat: no-repeat;
   mask-position: center center;
   mask-image: var(--background);
   -webkit-mask-size: 20px 20px;
   -webkit-mask-repeat: no-repeat;
   -webkit-mask-position: center center;
   -webkit-mask-image: var(--background);
   
}
.app-breadcrumbs{
	display: flex;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 20px;
	color: var(--text-light-color);
	.back-btn{
		width: 20px;
		height:20px;
		background: transparent;
		display: inline-flex;
		justify-content: center;
		cursor: pointer;
		border: 0;
		margin-right: 24px;
		img{
			margin:0;
			max-width: 20px;
		}
	}
	.breadcrumb-ic{
		width:20px;
		height:20px;
		display: flex;
		margin-right: 14px;
		img{max-width:20px;}}
  }
  .forward-arrow{
   padding-right:18px;
   position: relative;
   display: block;
   &::after{
      background:url("/css/images/forward-icon.svg") no-repeat;
      background-size:16px;
      position: absolute;
      z-index:2;
      content: '';
      right:0;
      top: 50%;
      transform: translateY(-50%);
      width:16px;
      height:16px;

   }
}