// app-dashboard-viewer

.dashboard-viewer {
	flex-grow: 2;
	height: 100%;
	// display: flex;
	flex-direction: row;
	max-width: calc(100% - 260px);
	width:  calc(80% - 260px);
	min-width: calc(80% - 260px);
	
	&-wrapper {
		padding: 60px 0 0 0 ;
		position: relative;
		height: calc(100% - 60px);
		
	}
	
	&-tabs {
		z-index: 0;
		margin: 0 3%;
		
		ul {
			padding: 18px 0 0 0;
			list-style: none;
			margin: 0;
			display: flex;
			flex-direction: row;
			align-items: flex-end;
			
			> li {
				font-size: 12px;
				border-radius: 4px;
				font-weight: bold;
				color: var(--default-font-color);
				overflow: hidden;
				margin: 0 4px 8px 0;
				box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
				&:first-child {
					// margin-left: 12px;
				}
				
				> a, p {
					padding: 6px 18px;
					text-decoration: none;
					display: block;
					color: inherit;
					background-color: #eee;
					cursor: pointer;
					margin: 0;
					transition: all .2s;
				}
				&.active-tab, &:hover {
					// box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
					z-index: 112;
					> a, p {
						// padding: 8px 18px;
						background-image: none;
					}
				}
				
				&.active-tab {
					> a, p {
						border-bottom: 4px solid var(--logo-color);
						background-color: #fff;
					}
				}
				
				&:hover {
					> a, p {
						border-bottom: 4px solid #999;
					}
				}
			}
		}
	}
}

.document-pagination {
	height: 32px;
	position: absolute;
	z-index: 999;
	bottom: 0;
	left: 0;
	right: 0;
	
	&-wrapper {
		background-color: #fff; // #d9d9d9;
		// border-top: 1px solid #ccc;
		box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
		font-size: 11px;
		color: #aaa;
		width: auto;
		margin: 0;
		border-radius: 0 8px 0 0;
	}
	
	p {
		padding: 8px 18px;
		margin: 0;
	}
}

.document-container {
	width: auto; //80%;
	margin: 0 3%;
	height: 100vh;
	font-size: 14px;
	box-sizing: border-box;
	
	&.comments-on {
		margin: 0 0 0 3%;
		width: auto;
		
		.wrapper {
			margin: 0 auto 0 0;
		}
	}
	
	.original {
		height: 100%;
		// overflow: scroll;
		box-sizing: border-box;
	}
	
	.parsed {
		height: 100%;
		// overflow-y: scroll;
		// overflow-x: visible;
		box-sizing: border-box;
	}
	
	.parsed, .original {
		
	}
	
	&-content {
		height: calc(100% - 160px);
		max-height: calc(100% - 160px);
		z-index: 200;
		position: relative;
		overflow-y: scroll;
		// border-radius: 0px 12px 12px 12px ;
		border-radius: 8px;
		
		.content-block {
			position: relative;
			
			.markers {
				height: auto;
				width: 120px;
				position: absolute;
				z-index: 1000;
				left: calc(100% + 4px);
				right: auto;
				top: 0;
				font-size: .8rem;
				color: #999;
				
				div {
					.icon {
						background-repeat: no-repeat;
						background-position: 2px center;
						background-size: 1.6rem;
						border-radius: 24px;
						height: 24px;
						width: 60px;
						padding:  2px 2px 2px 1.8rem;
						cursor: pointer; 
						display: block;
						box-sizing: border-box;
						color: #666;
					}
					
					&:hover {
						.icon {
							box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
						}
					}
				}
				.comment .icon {
					background-image: url(images/icon-add-comment.svg);
					background-color: #ffd1d1;					
				}
				
				.highlight .icon {
					background-image: url(images/icon-add-comment.svg);
					background-color: #ede6bc;
				}
			}
		}
		
		
		.wrapper {
			padding: 48px;
			max-width: 50vw;
			background-color: #fff;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
			// margin: 0 auto;
		}
		
		.clause-wrapper {
			padding: 24px 48px;
			max-width: 50vw;
			background-color: #fff;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
			margin: 0 0 12px 0;	
			border-radius: 8px;	
			
			a {
				color: var(--logo-color);
				text-decoration: none;
			}	// margin: 0 auto;
		}
		
		.table-wrapper {
			padding: 24px 0px;
			// max-width: 50vw;
			background-color: #fff;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
			margin: 0 0 12px 0;	
			border-radius: 8px;	
			overflow: scroll;
			
			h3 {
				padding: 12px;
				max-width: 640px;
				margin: 0;
			}
			
			a {
				color: var(--logo-color);
				text-decoration: none;
			}	// margin: 0 auto;
			
			p {
				padding: 6px 12px;
				margin: 0;
			}
			
			table {
				width: 100%;
				font-size: 0.9em;
				tr {
					td, th {
						text-align: right; //assuming mostly it will be numbers
						vertical-align: middle;
						
						&:first-child {
							text-align: left;
							font-weight: bold;
						}
					}
					&:nth-child(2n+2) {
						td, th {
							background-color: #f7f7f7;
						}
					}
				}
				
				thead, tfoot {
					font-weight: bold;
				}
			}
		}
		
		> div {
			display: none;
			
			&.open {
				display: block;
			}
		}
		
		.notice {
			position: relative;
			display: inline;
			
			&.commented {
				background-color: #ffd1d1;
			}
			
			&.highlighted{
				background-color: #ede6bc;
			}
		}	
	}
}

.dashboard-comments {
	flex-grow: 1;
	height: 100%;
	display: flex;
	flex-direction: row;
	max-width: 20%;
	width: 20%;
	min-width: 20%;
	
	a {
		color: var(--logo-color);
		text-decoration: none;
	}
	
	&-wrapper {
		padding: 60px 2% 0 2% ;
		position: relative;
		// height: calc(100% - 60px);
		// background-color: #999;
		box-sizing: border-box;
		overflow: scroll;
		padding-bottom: 180px;
	}
	
	.comments {
		padding: 18px 0 0 0;
		
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			
			li {
				margin: 12px;
				border-radius: 8px;
				overflow: hidden;
				box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
				.user {
					img {
						border-radius: 100%;
						width: 28px;
						height: 28px;
						object-fit: cover;
						display: inline-block;
						vertical-align: middle;
					}
				}
			}
		}
		
		.comment {
			background-color: #fff;
			font-size: .8em;
			color: #777;
			
			p, h4 {
				padding: 6px 12px;
				margin: 0;
			}
			
			&-wrapper {
				padding: 12px;
			}
			
			&-header {
				background-color: #efefef;
			}
			
			&-footer {
				a {
					margin-right: 8px;
					display: inline-block;
				}
			}
			
			p.quote {
				border-left: 2px solid var(--logo-color);
				margin: 6px 0 0 12px;
			}
		}
		
		&-form {
			position: fixed;
			bottom: 0;
			min-height: 160px;
			
			&-wrapper {
				padding: 12px;
				margin: 0px 2% 0 2%;
				background-color: #fff;
				border-radius: 8px 8px 0 0;
				box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
				
				textarea {
					border: none;
					background-color: #f7f7f7;
				}
				
				h4 {
					font-size: 11px;
					padding: 0px 6px 8px 6px;
					margin: 0;
				}
			}
		}
	}
}




