// app-dashboard-viewer

.dashboard-viewer {
	flex-grow: 4;
	height: 100%;
	
	
	&-wrapper {
		padding: 60px 0 0 0;
		position: relative;
		height: calc(100% - 60px);
	}
}

.document-pagination {
	height: 32px;
	position: absolute;
	z-index: 999;
	bottom: 0;
	left: 0;
	right: 0;
	
	&-wrapper {
		background-color: #232323;
		border-top: 1px solid #ccc;
		box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.05);
		font-size: 11px;
		color: #aaa;
		width: 94%;
		margin: 0 auto;
		border-radius: 8px 8px 0 0;
	}
	
	p {
		padding: 8px 18px;
		margin: 0;
	}
}

.document-container {
	width: 60vw;
	max-width: 80vw;
	margin: 0 auto 0 auto;
	height: inherit;
	height: 100vh;
	font-size: 1vw;
	
	&.comments-on {
		margin: 0 auto 0 4%;
		width: auto;
		
		.wrapper {
			margin: 0 auto 0 0;
		}
	}
	
	.original {
		height: 100%;
		// overflow: scroll;
		box-sizing: border-box;
	}
	
	.parsed {
		height: 100%;
		// overflow-y: scroll;
		// overflow-x: visible;
		box-sizing: border-box;
	}
	
	.files {
		height: auto;
		box-sizing: border-box;
		display: block;
	}
	
	// &-content {
	// 	height: calc(100% - 145px);
	// 	max-height: calc(100% - 145px);
	// 	z-index: 200;
	// 	position: relative;
	// 	overflow: scroll;
	// 	
	// 	.content-block {
	// 		position: relative;
	// 		
	// 		.markers {
	// 			height: auto;
	// 			width: 260px;
	// 			position: absolute;
	// 			z-index: 1000;
	// 			left: 110.5%;
	// 			top: 0;
	// 			font-size: .8rem;
	// 			color: #999;
	// 			
	// 			div {
	// 				.icon {
	// 					background-repeat: no-repeat;
	// 					background-position: center center;
	// 					background-size: 1.6rem;
	// 					border-radius: 20px;
	// 					height: 28px;
	// 					width: 28px;
	// 					cursor: pointer; 
	// 					display: inline-block;
	// 					vertical-align: middle;
	// 					margin-right: 5px;
	// 				}
	// 				
	// 				&:hover {
	// 					.icon {
	// 						// box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	// 					}
	// 				}
	// 			}
	// 			.comment .icon {
	// 				background-image: url(images/icon-add-comment.svg);
	// 				background-color: #ffd1d1;					
	// 			}
	// 			
	// 			.highlight .icon {
	// 				background-image: url(images/icon-add-comment.svg);
	// 				background-color: #ede6bc;
	// 			}
	// 		}
	// 	}
	// 	
	// 	
	// 	.wrapper {
	// 		padding: 6vw;
	// 		max-width: 50vw;
	// 		background-color: #fff;
	// 		border-radius: 0 4px 0 0;
	// 		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	// 		margin: 0 auto;
	// 	}
	// 	
	// 	> div {
	// 		display: none;
	// 		
	// 		&.open {
	// 			display: block;
	// 		}
	// 	}
	// 	
	// 	.notice {
	// 		position: relative;
	// 		display: inline;
	// 		
	// 		&.commented {
	// 			background-color: #ffd1d1;
	// 		}
	// 		
	// 		&.highlighted{
	// 			background-color: #ede6bc;
	// 		}
	// 	}	
	// }
	// 
	// &-tabs {
	// 	z-index: 0;
	// 	margin: 0 aut;
	// 	
	// 	ul {
	// 		padding: 8px 0 0 0;
	// 		list-style: none;
	// 		margin: 0;
	// 		display: flex;
	// 		flex-direction: row;
	// 		align-items: flex-end;
	// 		> li {
	// 			font-size: 14px;
	// 			border-radius: 4px 4px 0 0;
	// 			background-color: #fff;
	// 			font-weight: bold;
	// 			color: var(--default-font-color);
	// 			overflow: hidden;
	// 			box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
	// 			
	// 			> a, p {
	// 				padding: 8px 24px;
	// 				text-decoration: none;
	// 				display: block;
	// 				color: inherit;
	// 				background-image: linear-gradient(180deg, #FDFDFD 0%, #E7E7E7 100%);
	// 				cursor: pointer;
	// 				margin: 0;
	// 				transition: all .2s;
	// 			}
	// 			&.active-tab {
	// 				font-size: 14px;
	// 				box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	// 				z-index: 112;
	// 				> a, p {
	// 					padding: 12px 24px;
	// 					background-image: none;
	// 					background-color: #fff;
	// 					border-bottom: 2px solid var(--logo-color);
	// 				}
	// 			}
	// 		}
	// 	}
	// }
}

.files-container {
	width: auto;
	margin: 0 auto 0 auto;
	height: 100%; //inherit;
	// min-height: 100vh;
	// max-height: 100vh;
	font-size: .8em;
	overflow-y: scroll;
	
	
	
	.scroller {
		height: auto;
		position: relative;
	}
	
	h3 {
		font-size: 1.3em;
		font-weight: normal;
		margin: 0;
		padding: 1px 1%;
	}
	
	.list-controls {
		display: flex;
		flex-direction: row;
	}
	
	.list-meta {
		width: 30%;
		text-align: right;
		
		p {
			margin: 4px 0;
		}
	}
	.breadcrumb {
		width: 70%;
		ul {
			margin: 0; 
			padding: 1px 1%;
			font-size: 1.3em;
			font-weight: normal;
			list-style: none;
			list-style: none;
			
			a {
				color: var(--default-font-color);
				
				&:hover, &:focus {
					text-decoration: underline;
				}
			}
			
			> li {
				display: inline-block;
				padding: 0 6px 0 24px ;
				background-image: url(images/icon-right-arrow.svg);
				background-size: .9em;
				background-repeat: no-repeat;
				background-position: left center;
				min-width: 20px;
				width: auto;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				vertical-align: middle;
				max-width: 20px;
				
				&:first-child {
					background-image: none;
					padding: 0 6px 0 0 ;
				}
				
				&.open {
					width: auto;
					max-width: none;
				}
			}
		}
	}
	
	p.meta {
		font-size: .9em;
		margin: 0;
		padding: 1px 1%;
	}
	
	.files {
		height: auto;
		box-sizing: border-box;
		display: block;
	}
	
	&-list {
		height: auto;
		z-index: 200;
		position: relative;
		margin: 12px 0 24px 0;
		
		&.sticky {
			position: sticky;
			top: 0px;
		}
		
		.wrapper {
			padding: 12px 0;
			max-width: 72vw;
			background-color: #fff;
			border-radius: 8px;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
			margin: 0 auto;
			
			&.nobg {
				background-color: transparent;
				box-shadow: none;
			}
		}
	}
}

.upload-dragdrop-box {
	border-radius: inherit;
	border: 2px dashed #ccc;
	height: 12vw;
	display: flex;
	align-content: center;
	align-items: center;
	
	> div {
		width: 80%;
		margin: 0 auto;
		text-align: center;
	}
}

#uploader, #addfolder, #addteam, #addmember {
	display: none;
}

.file-item {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid #e3e3e3;
	color: #818181;
	
	p {
		padding: 0;
		margin: 0;
	}
	
	&.header-row {
		font-weight: 500;
		color: #000000;
	}
	
	&.each-item {
		&:hover, &:active {
			color: #000000;
			cursor: pointer;
			background-color: #f7f7f7;
		}
	}
	
	&:last-child {
		border: none;
	}
	
	> div {
		
		box-sizing: border-box;
	}
	&-selector { 
		width: 6%; 
		padding: 9px 1% !important;
		text-align: center;
		padding: 12px 1%;
	}
	&-icon { 
		width: 3.4%; 
		text-align: center;
		padding: 12px 1%;
		
		&:has(.user) {
			width: 4%; 
		}
	}
	&-name { 
		width: 60%;
		text-align: left;
		padding: 12px 1%;
	}
	&-owner {
		width: 20%;
		text-align: left;
		padding: 12px 1%;
	}
	&-date { 
		width: 15%;
		text-align: right;
		padding: 12px 1%;
	}
	
	&-access, &-role { 
		width: 15%;
		text-align: left;
		padding: 12px 1%;
	}
	
	&-size { 
		width: 10%;
		text-align: right;
		padding: 12px 1%;
	}
	&-controls { 
		width: 2%;
		text-align: right;
		padding: 12px 1%;
	}
	&-uploading { 
		width: 27%;
		text-align: left;
		padding: 12px 1%;
	}
	&-parsing { 
		width: 27%;
		text-align: left;
		padding: 12px 1%;
	}
	&-ready { 
		width: 27%;
		text-align: left;
		padding: 12px 1%;
	}
	
	&-form { 
		width: 100%;
		text-align: left;
		margin: 0 auto;
		padding: 1px 2%;
	}
	
	// icons 
	.icon {
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 20px;
		height: 20px;
		width: 20px;
		cursor: pointer; 
		vertical-align: bottom;
		margin-right: 1em;
		margin-top: 0px;
		display: inline-block;
		text-align: center;
		
		&.pdf {
			background-image: url(images/icon-pdf.svg);
		}
		
		&.folder {
			background-image: url(images/icon-folder.svg);
		}
		
		&.doc {
			background-image: url(images/icon-word.svg);
		}
		
		&.xls {
			background-image: url(images/icon-xls.svg);
		}
		
		&.rtf {
			background-image: url(images/icon-txt.svg);
		}
		
		&.txt {
			background-image: url(images/icon-txt.svg);
		}
		
		&.anyfile {
			background-image: url(images/icon-generic-file.svg);
		}
		
		&.team {
			background-image: url(images/icon-team-color.svg);
			background-color: #cccccc;
			border-radius: 100%;
		}
		
		&.member {
			margin-right: 2em;
			
			img {
				object-fit: cover;
				width: inherit;
				height: inherit;
				border-radius: 100%;
			}
			
			&.empty {
				background-color: #4a4a4a;
				border-radius: 100%;
				color: #ffffff;
				font-size: 10px;
				padding: 3px 0;
				height: 14px;
				text-align: center;
				text-transform: uppercase;
			}
		}
	}
}

.uploader-bar {
	height: 4px; 
	width: 100%;
	border-radius: 4px;
	.progress {
		background-color: #f6d273;
		width: 1%;
		height: 4px;
		border-radius: 4px;
	}
}

.parsing-bar {
	height: 4px; 
	width: 100%;
	border-radius: 4px;
	.progress {
		background-color: #ff9600;
		width: 1%;
		height: 4px;
		border-radius: 4px;
	}
}

