.hidden{display: none;}
.flex{display: flex;}
.block{display: block;}
.justify-center{justify-content: center;}
.justify-between{justify-content: space-between;}
.uppercase{text-transform: uppercase;}
.font-normal{font-weight: 400;}
.font-semibold{font-weight:600;}
.font-bold{font-weight:700;}
.text-center{text-align: center;}
.fs10{font-size: 10px;}
.fs11{font-size: 10px;}
.fs12{font-size: 12px;}
.h-full{height: 100%;}	
.h-screen{height: 100vh;}
.text-defaul-color{color: var(--default-font-color);}
.tracking-wider{letter-spacing: 0.2em;}
ul{padding:0; margin:0;}
.cp{cursor: pointer;}
.grow{flex-grow: 1;}
.rounded-12{border-radius: 12px;}
.rounded-6{border-radius:6px;}
.sm-button{
   padding: 5px 20px;
   font-size: 10px;
   cursor: pointer;
}
.border-b{border-bottom:1px solid #AEB7C0}
p{padding:0;margin:0;}
.mr-3{margin-right: 12px;}
.ml-3{margin-left: 12px;}
.mb-3{margin-bottom: 12px;}
.text-area{width: 100%;height: 80px; resize: none;background: #fff;font-size: 14px;}