//buttons 

a {
	text-decoration: none;
	color: #fff; //var(--link-color);
}

.button {
	margin: 0 0 0 6px;
	font-weight: bold;
	padding: 4px 12px;
	cursor: pointer;
	border-radius: 4px;
	
	&-flat, &.disabled {
		border: 1px solid #ccc;
		background-color: #ccc;
		color: inherit;
	}
	
	&-red {
		border: 1px solid var(--logo-color);
		background-color: var(--logo-color);
		color: #fff;
	}
	
	&-red-outline {
		border: 1px solid var(--logo-color);
		color: var(--logo-color)
	}
	
	&:hover {
		background-color: var(--button-red);
		border: 1px solid var(--button-red);
		color: #ffffff;
		// box-shadow: inset 2px 3px rgba(0, 0, 0, 0.5);
	}
}


span.forgot-password {
	text-align: right;
}

input {
	font-size: 1.1em;
}

label {
	// width: 360px; 
	font-size: 14px;
	margin-top: 18px;
	margin-bottom: 2px;
	display: inline-block; 
}
.controls {
	display: flex;
	flex-direction: row; 
	justify-content: stretch;
	
	span {
		flex-grow: 4;
	}
}
.checkbox-label {
	margin-top: 0;
	cursor: pointer;
}

input[type=text], input[type=email], input[type=password], input[type=url]  {
	-webkit-appearance: none;
	border-radius: 4px;
	border: 1px solid #ccc;
	height: 30px;
	color: var(--default-font-color);
	padding: 12px;
	box-sizing: border-box;
	margin-right: 6px;
	min-width: 240px;
}

input[type=password] {
	
}
input[type=url] {
	width: 80%;
}

input[type=submit], input[type=button] {
	-webkit-appearance: none;
	border-radius: 4px;
	color: #fff;
	font-weight: bold;
	background-color: var(--logo-color);
	border: 1px solid var(--logo-color);
	height: 30px;
	min-width: 120px;
	box-sizing: border-box;
	margin-right: 6px;
	
	&:hover {
		background-color: var(--button-red);
		border: 1px solid var(--button-red);
	}
}

input[type=checkbox] {
	-webkit-appearance: none;
	display: inline-block; 
	border-radius: 4px;
	border: 1px solid #999;
	height: 14px;
	width: 14px; 
	vertical-align: middle;
	margin-right: 6px;
	margin-top: -1px;
	
	&:checked {
		background-color: var(--logo-color);
		border-color: var(--logo-color);
	}
}
.has-dropdown {
	position: relative;
	display: inline-block;
	&:hover {
		.dropdown-list {
			display: block;
		}
	}
}
.dropdown-list {
	position: absolute;
	top: calc(100% - 3px);
	right: 0;
	width: 240px;
	z-index: 9999;
	text-align: left;
	font-weight: normal;
	display: none;
	
	ul {
		list-style: none;
		padding: 8px 0;
		margin: 10px 0 0 0;
		border-radius: 8px;
		background-color: #fff;
		border-radius: 8px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
		position: relative;
		
		&:before {
			border-left: 10px solid transparent;
			border-right: 10px solid transparent;
			border-bottom: 10px solid #fff; //var(--logo-color);
			display: block;
			width: 0px;
			height: 0px;
			content: "";
			position: absolute;
			top: -10px;
			right: 10px;
		}
		
		> li {
			> a {
				display: block;
				color: #464646; //var(--default-font-color);
				padding: 8px 12px;
				border-bottom: 1px solid #e3e3e3;
				
				&:hover {
					background-color: #F2F2F2;
					color: #000000;
				}
			}
			
			&:last-child {
				> a {
					border: none;
				}
			}
		}
	}
}