.app-bg{
	background-color: var(--comments-header-background-color);
	width: 100%;
	min-height: 100vh;

}

.header-sec{
	position: fixed;
	z-index: 10;
	top:0;
	width: 100%;
	height: 69px;
	margin: auto;
	background-color: var(--comments-header-background-color);
	// background: var(--app-navigation-background-color);
}
.app-header{
	min-height:69px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding:0 21px;
	// max-width: 1440px;
	box-sizing: border-box;
	margin: auto;

	.app-left-sec{
		flex-grow: 1;
		// min-width: 498px;
		// max-width:900px;
		.app-left-inner{
			display: flex;
			align-items: center;
		}
	}
	.app-logo{
		width:155px;

		img {
			max-width: 120px;
			width: 100%;
		}
	}
	.app-search{
		flex-grow: 1;
		.app-search-inner{
			max-width: 900px;
			margin: auto;
			position: relative;
			.src-btn{
				// background-repeat: no-repeat;
				// background-position: 8px center;
				// background-image: url(images/icon-search@4x.png);
				// background-size: 24px;
				height:18px;
				width:18px;
				border: none;
				cursor: pointer;
				position: absolute;
				z-index:1;
				right: 14px;
				top:12px;
				background:transparent;
				img{
					display: block;
					height:18px;
					width:18px;
					object-fit: cover;
				}
			}
			.search-suggestion-list{
				background: var(--app-navigation-background-color);
				padding: 12px;
				border-radius: 0 0 12px 12px;
				position: absolute;
				z-index:1;
				top:43px;
				left:20px;
				ul{
					list-style: none;
					li{
						border-bottom: 1px soli var(--border-color);
						padding:4px 0;

					}
				}
			  }
		}
	
		input[type=search] {
			height: 42px;
			border-radius: 4px;
			-webkit-appearance: none;
			display: block; 
			background-color: #F2F2F2;
			border: 1px solid #F2F2F2;
			height: 42px;
			font-size: size(16);
			color: var(--default-font-color);
			padding: 12px 48px 12px 12px;
			box-sizing: border-box;
			position: relative;			
			width: 100%;
			box-sizing: border-box;			
			border-radius: 19px;
		
		}
	}
	.app-right-sec{
		flex: 1 1 426px;
		max-width:426px;
		margin-left: 68px;
		@media only screen and (max-width: 1279px) {
			margin-left: 24px;
		}
	}
		.app-right-inner{
			display: flex;
			justify-content: space-between;
			align-items: center;
			.app-icon-sec,.app-user-sec{
				display: flex;
				align-items: center;
			}
			.app-icon-w{
				width: 38px;
				height:38px;
				border-radius: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				position: relative;
				transition: all 0.3s ease-in;
				.alert-message{
					background-color: var(--logo-color);
					z-index:1;
					position: absolute;
					top:4px;
					right: 0px;
					font-size: size(11);
					font-weight: 700;
					min-width: 8px;
					padding: 1px 4px;
					border-radius: 10px;
					display: flex;
					align-items: center;
					justify-content: center;
					color: var(--app-navigation-background-color);
				}				
				&:not(:last-child){
					margin-right: 10px;
				}
				&.active,&:hover{
					background: var(--icon-bg);
				}
				.sharing-ic,.comment-ic,.calender-ic,.playbook-ic,.prompt-ic{
					width:20px;
					height: 20px;
					display: flex;
					img{
						max-width:20px;
						max-height: 20px;
		
					}

					svg{
						max-width:20px;
						max-height: 20px;
						path{
							fill:#555B65;	
						}
					}
				}
			}
			.app-user{
				width:28px;
				height: 28px;
				margin-left: 16px;
				img{
					width:28px;
					height:28px;
					object-fit: cover;
					border-radius: 100%;
				}

			}
			.app-alert{
				width:20px;
				height: 20px;
				position: relative;
				.alert-text{
					background-color: var(--logo-color);
					position: absolute;
					z-index:1;
					top:-6px;
					right: -6px;
					font-size: size(11);
					font-weight: 700;
					min-width: 8px;
					padding: 1px 4px;
					border-radius: 10px;
					display: flex;
					align-items: center;
					justify-content: center;
					color: var(--app-navigation-background-color);
				}
				.app-bell-icon{
					width:20px;
					height: 20px;
					img{
						max-width:20px;
					}
				}
				
			}
		}
	
		
	
}
.content-sec{
	position: relative;
	width:100%;
	margin: auto;
	display: flex;
	padding: 0 21px;
	padding-top: 72px;
	// max-width: 1440px;
	box-sizing: border-box;
	height: 100%;
	.left-section{
		flex-grow: 1;
		padding-left: 152px;
		@media only screen and (max-width: 1500px) {
			padding-left: 0;
		}
		.left-section-inner{
			max-width: 900px;
			margin: auto;
		}
	// width: calc(100% - 426px);
	// background: red;
	}
	.right-section{
		flex: 1 1 426px;
		min-width:426px;
		max-width: 426px;
		margin-left: 68px;
		@media only screen and (max-width: 1279px) {
			margin-left: 24px;
		}
		
	}
}

ul.app-tab-style{
	display: flex;
	margin: 0;
	padding:0;
	li{
		list-style: none;
		background: var(--icon-bg);
		border-radius: 4px;
		font-size: size(12);
		position: relative;
		transition: all 0.3s ease-in;	
		a{
			padding: 9px 14px;
			font-weight: 700;
			display: inline-flex;
			color: var(--text-light-color);		
		}

		&.active,&:hover{
			background: var(--tab-bg);
			color: var(--default-font-color);
			a{
				color: var(--default-font-color);
			}
			&::after{
				z-index:1;
				position: absolute;
				bottom: 0px;
				content: '';
				left: 0;
				right: 0;
				width: 100%;
				height: 4px;
				background: var(--logo-color);
				border-radius: 0 0 4px 4px;
			}
		}
		&:not(:last-child){
			margin-right: 6px;;
		}
	}
}
.app-tabs-sec{
	margin-bottom: 32px;
	.app-content-wrap{				
		.app-content-inner{
			background: var(--app-navigation-background-color);
			padding: 40px;
			box-sizing: border-box;
			margin-top: 10px;
			font-size: size(14);
			color: var(--default-font-color);
			line-height: 1.5;
			box-shadow: 0 4px 24px rgba(0, 0, 0, 0.25);
			h3{margin: 0;}
			a{
				color:var(--logo-color);
			}

		}
		.notice.commented {
			background-color: #ffd1d1;
		}
	}
}
.right-section-inner{
	height: 100%;

}
.right-tab-content {
	position: sticky;
	top:0px;
	display: none;
	&.active{
		display: block;
	}
	h4{padding:0; margin:0 0 12px 0;}
	.right-top-sec{
		padding-bottom: 22px;
		margin-bottom: 12px;
		border-bottom:1px solid #AEB7C0
	}	
	.sharing-members{
		ul {
			display: flex;
			list-style: none;
			li{
				width: 26px;
				height: 26px;
				position: relative;

				&:not(:last-child){
					margin-right: 4px;
				}
				.ic-member{
					width: 26px;
					height: 26px;
					border-radius: 100%;
					overflow: hidden;
					display: flex;
					font-size:size(12);
					align-items: center;
					justify-content: center;
					box-shadow:0 2px 4px rgba(0, 0, 0, 0.16);
					img{
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
			}
		}

	}
  }
  .app-breadcrumbs{
	display: flex;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 20px;
	color: var(--text-light-color);
	.back-btn{
		width: 20px;
		height:20px;
		background: transparent;
		display: inline-flex;
		justify-content: center;
		cursor: pointer;
		border: 0;
		margin-right: 24px;
		img{
			margin:0;
			max-width: 20px;
		}
	}
	.breadcrumb-ic{
		width:20px;
		height:20px;
		display: flex;
		margin-right: 14px;
		img{max-width:20px;}}
  }
  .app-summary-info{
	font-size:size(12);
	line-height: 1.5;
	color: var(--default-font-color);
	p{
		margin-bottom: 20px;
	 }
  }
  .app-summary-tab-section{
	h4{
			padding: 6px 4px;
			margin-left: 16px;
			text-transform: uppercase;
			letter-spacing: 0.2em;
			font-size: size(10);
			font-weight: normal;
			padding: 12px 4px;
			margin: 0;
	}
	ul{	
		list-style: none;
		li{
			position: relative;
			&:not(:last-child){
				border-bottom: 1px solid var(--border-color);
			}
			&.tab-icon{
				&.open{
					h4{
	
						background-color: var(--comment-bg);
						border-radius:6px 6px 0 0;
						&::before{
							background:url(/css/images/minus-icon.svg) no-repeat;
							top:6px;
						}	
					}
				}
				h4{
					padding-left: 28px;
					cursor: pointer;
					&::before{
						position: absolute;
						top:12px;
						left:12px;
						background:url(/css/images/plus-icon.svg) no-repeat;
						background-size: cover;
						width:12px;
						height: 12px;
						opacity:30%;
						content:'';
					}

				}
				
			}

			ul{
				box-shadow: none;
				padding: 0px 12px 12px 12px;
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
				background-color: var(--comment-bg);
				border-radius:0 0 6px 6px;
				display: none;
			
				li{
					padding: 4px 0;
					
						&:not(:last-child){
							border-bottom: 0;
							
						}
					
			
				}
			}
		}
	}
	.info-row{
		display: flex;
		font-size: size(11);
		line-height: 1.2;
		.info-row-left{
			width:120px;
			min-width: 120px;
			padding-right: 12px;
		}
		.info-row-right{
			flex-grow: 1;
		}
	}
  }

  //comment chat
  .comment-sec{
	width: 100%;
	a {
		color: var(--link-color);
		text-decoration: underline;
	}
	.comment-user{
		display: flex;
		align-items: center;
		.ic-member{
			width: 26px;
			height: 26px;
			min-width: 26px;
			border-radius: 100%;
			overflow: hidden;
			display: flex;
			font-size:size(12);
			font-weight: 600;
			color: #fff;
			align-items: center;
			justify-content: center;
			box-shadow:0 2px 4px rgba(0, 0, 0, 0.16);
			img{
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

	.c-user-name{
		font-size: size(11);
		font-weight: 700;
		color: var(--default-font-color);
		max-width: 240px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	}
	
		.received-message{		
		display: flex;
		flex-direction: row;
		padding-bottom: 8px;
		.received-card{
			background: var(--comment-bg2);
		}
	  }
	  .received-card,.send-card{
		padding: 12px;
		border-radius: 6px;
		font-size: size(11);
		line-height: 1.5;
		width: 305px;
		color: var(--default-font-color);
	  }
	  .send-message{		
		display: flex;
		flex-direction: row-reverse;
		padding-bottom: 8px;
		.send-card{
			background: var(--comment-bg1);			
		}
	  }
  }
  
  .comment-form-sec{
	margin-top: 40px;
	color: var(--default-font-color);
	&.fixed-comment{
		position: fixed;
		width: 426px;
		right: 21px;
		bottom: 0;
		padding: 10px 0;
		background: var(--comments-header-background-color);
	}
  	}
  //Dates in Calendar 

  .data-card{
	ul{
		background: var(--comment-bg1);
		padding: 0 12px;
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
		list-style: none;
		border-radius: 6px;
		margin-bottom: 20px;
		li{
			padding: 10px 0;
			a{
				color: var(--default-font-color);
			}
			&:not(:last-child){
				border-bottom: 1px solid var(--border-color1);
				
			}
		}
	}

	.data-row{
		display: flex;
		font-size: size(11);
		line-height: 1.2;

		.data-row-left{
			width:90px;
			padding-right: 12px;
		}
		.data-row-right{
			flex-grow: 1;
		}
		.data-row-icons{
			width:60px;
			.calender-status{
				width:16px;
				height:16px;
				background: transparent;
				border:none;
				display: inline-flex;
				img{
					width: 16px;

				}
			}
		}
	}
  }
  .p-card{
	background: var(--card-bg);
  }
 
  .icons-sec{
	width:60px;
	.calender-status{
		cursor: pointer;
		width:16px;
		height:16px;
		background: transparent;
		border:none;
		display: inline-flex;
		img{
			width: 16px;

		}
	}
}
.tool-tip-wrap{
	cursor: pointer;
	&:hover{
		.tool-tip-card{
			display: block;
		}
	}
}
.tool-tip-card{
	display: none;
	background: var(--tool-tip-bg);
	padding: 6px 12px;
	color: var(--app-navigation-background-color);
	min-width:132px;
	position: absolute;
	font-size: size(11);
	line-height: 1.2;
	right:50%;
	transform: translateX(50%);
	top:30px;
	&::before{
		content:'';
		position: absolute;
		border-bottom:10px solid var(--tool-tip-bg);
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		top:-6px;
		right:50%;
		transform: translateX(50%);
		z-index: 2;
			 // transform: rotate(45deg);
		// background: red;
	 }

}