// app-dashboard-viewer

.files-container {
	width: 100%;
	margin: 0 auto 0 auto;
	height: 100%; //inherit;
	// min-height: 100vh;
	// max-height: 100vh;
	font-size: .8em;
	overflow-y: scroll;
	
	.scroller {
		height: auto;
		position: relative;
	}
	
	h3 {
		font-size: 1.3em;
		font-weight: normal;
		margin: 0;
		padding: 1px 1%;
	}
	
	.list-controls {
		display: flex;
		flex-direction: row;
	}
	
	.list-meta {
		width: 20%;
		text-align: right;
		position: relative;
		
		p {
			margin: 4px 0;
		}
	}
	.breadcrumb {
		width: 80%;
		ul {
			margin: 0; 
			padding: 1px 1%;
			font-size: 1.3em;
			font-weight: normal;
			list-style: none;
			list-style: none;
			
			a {
				color: var(--default-font-color);
				
				&:hover, &:focus {
					text-decoration: underline;
				}
			}
			
			> li {
				display: inline-block;
				padding: 0 6px 0 24px ;
				background-image: url(images/icon-right-arrow.svg);
				background-size: .9em;
				background-repeat: no-repeat;
				background-position: left center;
				min-width: 20px;
				width: auto;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				vertical-align: middle;
				max-width: 20px;
				
				&:first-child {
					background-image: none;
					padding: 0 6px 0 0 ;
				}
				
				&.open {
					width: auto;
					max-width: none;
				}
			}
		}
	}
	
	p.meta {
		font-size: .9em;
		margin: 0;
		padding: 1px 1%;
	}
	
	.files {
		height: auto;
		box-sizing: border-box;
		display: block;
	}
	
	&-list {
		height: auto;
		// z-index: 200;
		position: relative;
		margin: 12px 0 24px 0;
		
		&.sticky {
			position: sticky;
			top: 0px;
		}
		
		.wrapper {
			padding: 12px 0;
			width: 96%;
			background-color: #fff;
			border-radius: 8px;
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
			margin: 0px 2%;
			position: relative;
			box-sizing: border-box;
			
			&.nobg {
				background-color: transparent;
				box-shadow: none;
			}
			
			&:has(.upload-dragdrop-box) {
				padding: 0;
			}
		}
	}
}

.upload-dragdrop-box {
	display: flex;
	align-content: center;
	align-items: center;
	flex-direction: column;
	
	.upload-area {
		width: 100%;
		padding: 64px 0;
		margin: 0 auto;
		text-align: center;
		border-radius: 8px;
		border: 2px dashed #ccc;
	}
	
	.link-area {
		width: 96%;
		padding: 24px 2%;
		margin: 12px auto 0 auto;
		text-align: left;
		border-radius: 8px;
	}
}

#uploader, #addfolder, #addteam, #addmember, #linkuploader {
	display: none;
}

.file-item {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid #e3e3e3;
	color: #818181;
	width: 100%;
	flex-wrap: wrap;
		
	p {
		padding: 0;
		margin: 0;
	}
	
	&.header-row {
		font-weight: 500;
		color: #000000;
	}
	
	&.each-item {
		&:hover, &:active {
			color: #000000;
			cursor: pointer;
			background-color: #f7f7f7;
		}
	}
	
	&:last-child {
		border: none;
	}
	
	> div {
		box-sizing: border-box;
	}
	&-selector { 
		width: 6%; 
		padding: 9px 1% !important;
		text-align: center;
		padding: 12px 1%;
	}
	&-icon { 
		width: 3.4%; 
		text-align: center;
		padding: 12px 1%;
		
		&:has(.user) {
			width: 4%; 
		}
	}
	&-name { 
		width: 25%;
		text-align: left;
		padding: 12px 1%;
		flex-grow: 2;
	}
	&-owner {
		width: 20%;
		text-align: left;
		padding: 12px 1%;
		flex-grow: 2;
	}
	&-date { 
		width: 15%;
		text-align: right;
		padding: 12px 1%;
	}
	
	&-access, &-role { 
		width: 10%;
		text-align: left;
		padding: 12px 1%;
	}
	
	&-size { 
		width: 10%;
		text-align: right;
		padding: 12px 1%;
	}
	&-controls { 
		width: 3.4%; 
		text-align: right;
		padding: 12px 1%;
	}
	&-uploading { 
		width: 60%;
		text-align: left;
		padding: 12px 1%;
	}
	&-parsing { 
		width: 60%;
		text-align: left;
		padding: 12px 1%;
	}
	&-ready { 
		width: 60%;
		text-align: left;
		padding: 12px 1%;
	}
	
	&-form { 
		width: 100%;
		text-align: left;
		margin: 0 auto;
		padding: 1px 2%;
	}
	
	&-snippet {
		min-width: 100%;
		padding: 12px 6% 36px 6%;
		font-size: 1.2em;
		color: var(--default-font-color);
		border-top: 1px solid #e3e3e3;
		
		p {
			max-width: 640px;
		}
	}
	
	&-breakrow {
		flex-basis: 100%;
		height: 0;
	}
	
	// icons 
	.icon {
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 20px;
		height: 20px;
		width: 20px;
		cursor: pointer; 
		vertical-align: bottom;
		margin-right: 1em;
		margin-top: 0px;
		display: inline-block;
		text-align: center;
		
		&.pdf {
			background-image: url(images/icon-pdf.svg);
		}
		
		&.folder {
			background-image: url(images/icon-folder.svg);
		}
		
		&.doc {
			background-image: url(images/icon-word.svg);
		}
		
		&.xls {
			background-image: url(images/icon-xls.svg);
		}
		
		&.rtf {
			background-image: url(images/icon-txt.svg);
		}
		
		&.txt {
			background-image: url(images/icon-txt.svg);
		}
		
		&.anyfile {
			background-image: url(images/icon-generic-file.svg);
		}
		
		&.team {
			background-image: url(images/icon-team-color.svg);
			background-color: #cccccc;
			border-radius: 100%;
		}
		
		&.control {
			background-image: url(images/icon-more-vertical-dark.svg);
			margin-right: 0;
		}
		
		&.member {
			margin-right: 2em;
			
			img {
				object-fit: cover;
				width: inherit;
				height: inherit;
				border-radius: 100%;
			}
			
			&.empty {
				background-color: #4a4a4a;
				border-radius: 100%;
				color: #ffffff;
				font-size: 10px;
				padding: 3px 0;
				height: 14px;
				text-align: center;
				text-transform: uppercase;
			}
		}
	}
}

@keyframes progress-bar {
	100% {
		background-position: 30vw 0vw;
	}
}

.progress {
	background-size: 200px 200px;
	animation: progress-bar 10s linear infinite;
}

.uploader-bar {
	height: 4px; 
	width: 100%;
	border-radius: 4px;
	margin-top: 2px;
	.progress {
		background-color: #f6d273;
		width: 1%;
		height: 6px;
		border-radius: 4px;
		background-image: repeating-linear-gradient(
			45deg,
			#f6d273,
			#f6d273 10px,
			#f69973 10px,
			#f69973 20px
		);
	}
}

.parsing-bar {
	height: 4px; 
	width: 100%;
	border-radius: 4px;
	margin-top: 2px;
	.progress {
		background-color: #ff9600;
		width: 1%;
		height: 6px;
		border-radius: 4px;
		background-image: repeating-linear-gradient(
			45deg,
			#ff9600,
			#ff9600 10px,
			#ff4a00 10px,
			#ff4a00 20px
		);
	}
}

.highlighted{
	background-color: #ede6bc;
	color: var(--default-font-color);
}