//boilerplate

.boilerplate {
	background-color: var(--default-background-color);
	font-size: 14px;
	color: var(--default-boilerplate-color);
	
	.wrapper {
		padding-top: 64px;
		max-width: 1280px;
		margin: 0 auto;
		.inner-wrapper {
			padding: 24px 0px 64px 0px;
			margin: 0 48px;
			display: flex;
			justify-content: flex-start;
			align-items: top;
			border-bottom: #333 1px solid;
			
			&:last-child {
				border-bottom: none;
			}
		}
	}
	
	&-logo {
		width: 35%;
	}
	
	&-lists {
		width: 65%;
		
		a {
			padding: 4px 0px;
			display: block;
		}
		
		ul {
			list-style: none;
			margin: 0;
			padding: 12px 0;
			display: flex;
			justify-content: flex-start ;
			align-items: top;
			flex-direction: row;
			
			> li {
				flex-grow: 4;
				
				ul {
					display: block;
					padding: 0;
					
					a {
						color: var(--default-boilerplate-color);
					}
					
					> li {
						display: block;
					}
				}
			}
		}
		
	}
}