.file-list-card{
   background: var(--comments-background-color);
   padding: 10px;
   width:100%;
   .file-list-row{
      display: flex;
      align-items: center;
      padding: 6px 0;   
     
      &:not(:last-child){
         border-bottom: 1px solid var(--border-color2);
         margin-bottom: 3px;
      }
      .file-list-checkbox-sec{
         width:30px;
         flex: 0 0 30px;
      }
      .file-list-name{
         width:40%;
         &.left-space{
            padding-left: 36px;
         }
      }
      .file-list-modified{
         width:175px;
         min-width:175px;
         text-align: right;
         padding-right: 36px;
      }
      .file-list-shared{
         width:30%;
      }
      .file-list-action{
         width:48px;
         flex: 0 0 48px;
         justify-content: right;
         display: flex;
      }
   }
}

.my-d-sugg-file-sec{
   display: flex;
   flex-wrap: wrap;
   min-height: 140px;
   gap: 12px;
   .sugg-card{
      flex: 1 1 200px;
      min-width: 200px;
      max-width: 300px;
      position: relative;
      background: var(--icon-bg);
      border-radius: 4px;
      padding: 10px;
      .file-name{
         font-size: 12px;
         color: var(--default-font-color);
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;

      }
      .file-img-sec{
        margin-top: 10px;
         height: 90px;
         position: relative;
         background: white;
         .file-img{
            height: 90px;
            width: 100%;
            overflow: hidden;
            img{
               padding-top: 12px;
               width: 90%;
               height: auto;
            }
         }
      }
   }
}

.page-breadcrum{
// max-width: 746px;
width: 100%;
   ul{
      &.breacrum-ul{
         display: flex;
         li{
           
            display: flex;
            align-items: center;
               
            .breadcrum-btn{
               background: transparent;
               border: none;
               display: flex;
               align-items: center;
               justify-content: center;
               width: 30px;
               height: 17px;
               padding-right: 16px;
               &::after{
                  content:'';
                  position: absolute;
                  top:50%;
                  transform: translateY(-50%);
                  right:0;
                  background: url('../css/images/forward-icon.svg');
                  width:20px;
                  height: 20px;
                  display: flex;
                  mask-size: 20px 20px;
                  mask-repeat: no-repeat;
                  mask-position: center center;
                  mask-image: var(--background);
                  -webkit-mask-size: 20px 20px;
                  -webkit-mask-repeat: no-repeat;
                  -webkit-mask-position: center center;
                  -webkit-mask-image: var(--background);
                  background-size: cover;
               }
               img{
                  display: block;
                  height: 17px;
               }
            }
           &.list{
            list-style: none;
            font-size: size(11);
            margin-bottom: 2px;
          
            &:not(:last-child){
               margin-right: 12px;
            }
            
            a{
               color: var(--text-light-color);
               padding:10px 24px 10px 0;
               font-size: size(12);
               font-weight: 700;
               line-height: 1.1;
               display: block;
               position: relative;
               transition: all 0.3s ease-in;
               white-space: nowrap;
               overflow: hidden;
               text-overflow: ellipsis;
               max-width: 120px;
               &::after{
                  content:'';
                  position: absolute;
                  top:50%;
                  transform: translateY(-50%);
                  right:0;
                  background: url('../css/images/forward-icon.svg');
                  width:20px;
                  height: 20px;
                  display: flex;
                  mask-size: 20px 20px;
                  mask-repeat: no-repeat;
                  mask-position: center center;
                  mask-image: var(--background);
                  -webkit-mask-size: 20px 20px;
                  -webkit-mask-repeat: no-repeat;
                  -webkit-mask-position: center center;
                  -webkit-mask-image: var(--background);
                  background-size: cover;
               }
               &:hover,&.active{
                  font-weight: 700;
               }
            }
           }
         }
      }
   
    
   }
}
//filter menu css
.filter-sec{
   margin-bottom: 20px;
   display: flex;
   gap: 10px;
   align-items: center;
}
.file-btn{
   background: var(--tab-bg);
   padding: 10px 10px;
   border:none;
   border-radius: 4px;
   font-size:size(12);
   line-height: 1;
&.close-icon{
   position: relative;
   padding-right: 30px;
   &::after{
      content:'';
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      right: 10px;
      width:12px;
      height:12px;
      background: url('../css/images/icon-cross-dark.svg');
      background-size: cover;

   }
}
}
.file-btn1{
   background: var(--icon-bg);
   padding: 10px 10px;
   border:none;
   border-radius: 4px;
   font-size:size(12);
   line-height: 1;
&.down-icon{
   position: relative;
   padding-right: 30px;
   &::after{
      content:'';
      position: absolute;
      top:50%;
      transform: translateY(-50%) rotate(90deg);
      right: 10px;
      width:12px;
      height:12px;
      background: url('../css/images/forward-icon.svg');
      background-size: cover;

   }
}
}
.filter-menu-modal{
   position: relative;
    &:hover{
       .filter-menu-card{
          display: block;
   
          height:auto;
       }
      
    }
 }
.filter-menu-card{
   transition: all 0.3s ease-in;
   display: none;
   height:0;
   background: var(--app-navigation-background-color);
   box-shadow: 0 4px 24px rgba(0, 0, 0, 0.50 );
   padding:10px;
   position: absolute;
   z-index:9;
   min-width:200px;
   width:200px;
   left:0px;
   top:calc(100% + 6px);
   &::before{
      content:'';
      position: absolute;
      border-bottom:10px solid var(--app-navigation-background-color);
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      top:-6px;
      left:10px;
      z-index: 2;
           // transform: rotate(45deg);
      // background: red;
   }
   ul{
      list-style: none;
      li{
         font-size: size(11);
         display: flex;
         justify-content: space-between;
         line-height: 1.4;
         padding:8px 0px 8px 0;
         color: var(--default-font-color);
         &:not(:last-child){
            border-bottom: 1px solid var(--border-color2);
         }         
         a{
            display: block;
            color: var(--default-font-color);
            position: relative;
            font-size: size(11);
            line-height: 1.4;
            &:hover{
               color: var(--default-font-color);
            }           
         }
      .ch-box{
         width: 20px;
         input[type=checkbox]{
            background: var(--check-bg);
            border-color: var(--check-bg);
            cursor: pointer;
         }
         input[type=checkbox]:checked{
            background-color: var(--logo-color);
            border-color: var(--logo-color);
         }
      }

      }
   }
}

//folder section
.folder-sec{
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   .folder-card{
      flex: 1 1 32%;
      min-width:32%;
      max-width:32%;
      position: relative;
      .folder-img{
         margin-right: 6px;
         width: 70px;
         height:70px;
         display: flex;
         align-items: center;
         img{
            max-width: 70px;
            width:100%;
            height: auto;
            display: block;
         }
      }
      .file-title{
         font-size: size(12);
         line-height: 1.2;
         color: var(--default-font-color);
         font-weight: 600;
         margin-bottom: 2px;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         width:96%;
      }
      .file-info{
         font-size: size(11);
         line-height: 1.2;
         color: var(--default-font-color);
      }
     
   }
}