// main css to compile

//fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


//variables

:root {
	--default-background-color: #E9E9E9;
	--default-font-color: #232323;
	--app-navigation-background-color: #ffffff;
	--logo-color: #ff6868;
	--button-red: #ef4747;
	--link-color: #121212;
}

//styles 

body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	font-size: 18px;
}

.container {
	width: auto;
	height: 100vh; //auto;
	background-color: var(--default-background-color);
	color: var(--default-font-color);
	padding: 0;
	margin: 0;
	position: relative;
	overflow: hidden;
	min-width: 980px; //Stop after
	// display: flex;
	// flex-direction: column;
}


@import 'app-controls';
@import 'app-navigation';
@import 'app-sidebar';
@import 'app-dashboard-viewer';
@import 'app-dashboard-filelister';
@import 'dataTables';


// @import 'boilerplate';
// @import 'popups';

.popup-container {
	width: 100vw;
	height: 100vh;
	min-height: 600px;
	position: fixed; 
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	display: flex;
	align-items: center; 
	justify-content: center;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	z-index: 999;
	display: none;
	overflow: scroll;
	
	&.open {
		display: flex;
	}
	
	.popup {
		min-width: 860px;
		max-width: 960px;
		height: auto;
		border-radius: 12px;
		overflow: hidden;
		background: #fff;
		border-radius: 12px;
		width: 60vw;
		position: relative;
		padding: 0px;
		
		
		.close-popups {
			cursor: pointer;
			position: absolute;
			right: 12px;
			top: 12px;
			width: 24px;
			height: 24px;
			border-radius: 100%;
			background-color: var(--logo-color);
			background-image: url(images/icon-cross.svg);
			background-size: 16px;
			background-position: center center;
			background-repeat: no-repeat;
			transition: all .3s;
			z-index: 999;
			
			&:hover {
				transform: rotate(90deg);
			}
		}
		
		
		
		.files-share-list {
			width: 100%;
			min-height: 480px;
			max-height: 80vh; 
			overflow: scroll;
			
			.wrapper {
				padding: 12px 2%;
				width: 96%;
				
				&.sticky {
					position: sticky; 
					padding-top: 24px;
					top: 0; 
					background-color: #fff;
					box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
				}
			}
			
			.file-item  {
				width: 100%;
				
			}
			
			input[type=search] {
				padding: 12px;
				width: 75%;
				// height: auto;
			}
		}
	}
}