@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --default-background-color: #dce1e6;
  --comments-background-color: #f4f6f9;
  --comments-header-background-color: #c6cdd4;
  --default-font-color: #232323;
  --app-navigation-background-color: #ffffff;
  --logo-color: #ff6868;
  --button-red: #ef4747;
  --link-color: #121212;
  --icon-bg:#E0E4E7;
  --tab-bg:#F0F2F5;
  --text-light-color:#525252;
  --border-color:#AEB7C0;
  --border-color1:#CCCCCC;
  --border-color2:#E3E3E3;
  --border-color3:#B8BDC4;
  --comment-bg:#DFE3EB;
  --comment-bg1:#F4F6F9;
  --comment-bg2:#DFE4EB;
  --link-color:#488FCE;
  --dark-blue:#444488;
  --card-bg:#B1BAC5;
  --green-bg:#78D537;
  --dark-btn-bg:#5C677D;
  --dark-bg:#566373;
  --tool-tip-bg:#333E4F;
  --orange-bg:#FFA268;
  --compare-bg:#C5CCD8;
  --icon-dark-color:#555B65;
  --icon-active-color:#7C828D;
  --white:#fff;
  --check-bg:#D8D8D8;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
}

html {
  font-size: 18px;
  line-height: 1.5;
}

html, body {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Verdana", sans-serif;
  line-height: 1;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.container {
  width: auto;
  height: 100vh;
  background-color: var(--default-background-color);
  color: var(--default-font-color);
  padding: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
  min-width: 980px;
}

.app-bg {
  background-color: var(--comments-header-background-color);
  width: 100%;
  min-height: 100vh;
}

ul.app-tab-style {
  display: flex;
  margin: 0;
  padding: 0;
}
ul.app-tab-style li {
  list-style: none;
  background: var(--icon-bg);
  border-radius: 4px;
  font-size: 0.75rem;
  position: relative;
  transition: all 0.3s ease-in;
}
ul.app-tab-style li a {
  padding: 9px 14px;
  font-weight: 700;
  display: inline-flex;
  color: var(--text-light-color);
}
ul.app-tab-style li.active, ul.app-tab-style li:hover {
  background: var(--tab-bg);
  color: var(--default-font-color);
}
ul.app-tab-style li.active a, ul.app-tab-style li:hover a {
  color: var(--default-font-color);
}
ul.app-tab-style li.active::after, ul.app-tab-style li:hover::after {
  z-index: 1;
  position: absolute;
  bottom: 0px;
  content: "";
  left: 0;
  right: 0;
  width: 100%;
  height: 4px;
  background: var(--logo-color);
  border-radius: 0 0 4px 4px;
}
ul.app-tab-style li:not(:last-child) {
  margin-right: 6px;
}

.app-tabs-sec {
  margin-bottom: 32px;
}
.app-tabs-sec .app-content-wrap .app-content-inner {
  background: var(--app-navigation-background-color);
  padding: 40px;
  box-sizing: border-box;
  margin-top: 10px;
  font-size: 0.875rem;
  color: var(--default-font-color);
  line-height: 1.5;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.25);
}
.app-tabs-sec .app-content-wrap .app-content-inner h3 {
  margin: 0;
}
.app-tabs-sec .app-content-wrap .app-content-inner a {
  color: var(--logo-color);
}
.app-tabs-sec .app-content-wrap .notice.commented {
  background-color: #ffd1d1;
}

.right-top-sec {
  padding-bottom: 40px;
  margin-bottom: 12px;
  border-bottom: 1px solid #AEB7C0;
}

.data-card {
  width: 100%;
}
.data-card .u-img-size {
  min-width: 26px;
  width: 26px;
  height: 26px;
}
.data-card .u-img-size img {
  width: 26px;
  height: 26px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.data-card ul {
  background: var(--comment-bg);
  padding: 0 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  list-style: none;
  border-radius: 6px;
  margin-bottom: 20px;
}
.data-card ul li {
  padding: 10px 0;
}
.data-card ul li a {
  color: var(--default-font-color);
}
.data-card ul li:not(:last-child) {
  border-bottom: 1px solid var(--border-color1);
}
.data-card .data-row {
  display: flex;
  font-size: 0.6875rem;
  line-height: 1.2;
}
.data-card .data-row .data-row-left {
  width: 35%;
  min-width: 35%;
  padding-right: 12px;
}
.data-card .data-row .data-row-right {
  flex-grow: 1;
}

.icons-sec {
  width: 60px;
}
.icons-sec .status-color {
  background-color: var(--dark-blue);
}
.icons-sec .calender-status {
  cursor: pointer;
  width: 16px;
  height: 16px;
  background: transparent;
  border: none;
  display: inline-flex;
}
.icons-sec .calender-status.disable {
  opacity: 0.5;
}

.tool-tip-wrap {
  cursor: pointer;
}
.tool-tip-wrap:hover .tool-tip-card {
  display: block;
}

.tool-tip-card {
  font-size: 0.6875rem;
  display: none;
  background: var(--tool-tip-bg);
  padding: 6px 12px;
  color: var(--app-navigation-background-color);
  min-width: 132px;
  width: 150px;
  position: absolute;
  font-size: 0.6875rem;
  font-weight: normal;
  line-height: 1.2;
  right: 50%;
  transform: translateX(50%);
  top: 30px;
  z-index: 1;
}
.tool-tip-card::before {
  content: "";
  position: absolute;
  border-bottom: 10px solid var(--tool-tip-bg);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  top: -6px;
  right: 50%;
  transform: translateX(50%);
  z-index: 2;
}

.error-tip-wrap {
  cursor: pointer;
}
.error-tip-wrap:hover .error-tool-tip {
  display: block;
}

.error-tool-tip {
  font-size: 0.6875rem;
  display: none;
  background: var(--logo-color);
  padding: 6px 12px;
  color: var(--white);
  min-width: 132px;
  width: 150px;
  position: absolute;
  font-size: 0.6875rem;
  font-weight: normal;
  line-height: 1.2;
  right: 50%;
  transform: translateX(50%);
  top: calc(100% + 4px);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.5);
  z-index: 1;
  border-radius: 6px;
}
.error-tool-tip.sm {
  min-width: 100px;
  width: 100px;
}
.error-tool-tip::before {
  content: "";
  position: absolute;
  border-bottom: 10px solid var(--logo-color);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  top: -6px;
  right: 50%;
  transform: translateX(50%);
  z-index: 2;
}
.error-tool-tip.enable-tip {
  background: var(--dark-blue);
}
.error-tool-tip.enable-tip::before {
  border-bottom: 10px solid var(--dark-blue);
}

.app-bg {
  background-color: var(--comments-header-background-color);
  width: 100%;
  min-height: 100vh;
}

.header-sec {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 69px;
  margin: auto;
  background-color: var(--comments-header-background-color);
}

.app-header {
  min-height: 69px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 21px;
  box-sizing: border-box;
  margin: auto;
}
.app-header .app-left-sec {
  flex-grow: 1;
}
.app-header .app-left-sec .app-left-inner {
  display: flex;
  align-items: center;
}
.app-header .app-logo {
  width: 175px;
}
.app-header .app-logo img {
  max-width: 120px;
  width: 100%;
}
.app-header .app-search {
  flex-grow: 1;
}
.app-header .app-search .app-search-inner {
  max-width: 900px;
  margin: auto;
  position: relative;
}
.app-header .app-search .app-search-inner .src-btn {
  height: 18px;
  width: 18px;
  border: none;
  cursor: pointer;
  position: absolute;
  z-index: 1;
  right: 14px;
  top: 12px;
  background: transparent;
}
.app-header .app-search .app-search-inner .src-btn img {
  display: block;
  height: 18px;
  width: 18px;
  -o-object-fit: cover;
     object-fit: cover;
}
.app-header .app-search .app-search-inner .search-suggestion-list {
  background: var(--app-navigation-background-color);
  box-shadow: 0 18px 24px rgba(0, 0, 0, 0.2);
  padding: 12px;
  border-radius: 0 0 12px 12px;
  position: absolute;
  z-index: 1;
  top: 43px;
  left: 20px;
  width: 60%;
}
@media screen and (max-width: 1279px) {
  .app-header .app-search .app-search-inner .search-suggestion-list {
    width: calc(100% - 40px);
  }
}
.app-header .app-search .app-search-inner .search-suggestion-list ul {
  list-style: none;
}
.app-header .app-search .app-search-inner .search-suggestion-list ul li {
  padding: 6px 0;
}
.app-header .app-search .app-search-inner .search-suggestion-list ul li:not(:last-child) {
  border-bottom: 1px solid var(--border-color2);
}
.app-header .app-search .app-search-inner .search-suggestion-list ul li a {
  color: var(--default-font-color);
}
.app-header .app-search input[type=search] {
  height: 42px;
  border-radius: 4px;
  -webkit-appearance: none;
  display: block;
  background-color: #F2F2F2;
  border: 1px solid #F2F2F2;
  height: 42px;
  font-size: 1rem;
  color: var(--default-font-color);
  padding: 12px 48px 12px 12px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-radius: 19px;
}
.app-header .app-right-sec {
  flex: 1 1 426px;
  max-width: 426px;
  margin-left: 68px;
}
@media only screen and (max-width: 1279px) {
  .app-header .app-right-sec {
    margin-left: 24px;
  }
}
.app-header .app-right-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app-header .app-right-inner .app-icon-sec, .app-header .app-right-inner .app-user-sec {
  display: flex;
  align-items: center;
}
.app-header .app-right-inner .app-icon-w {
  width: 38px;
  height: 38px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in;
}
.app-header .app-right-inner .app-icon-w .alert-message {
  background-color: var(--logo-color);
  z-index: 1;
  position: absolute;
  top: 4px;
  right: 0px;
  font-size: 0.6875rem;
  font-weight: 700;
  min-width: 8px;
  padding: 1px 4px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--app-navigation-background-color);
}
.app-header .app-right-inner .app-icon-w:not(:last-child) {
  margin-right: 10px;
}
.app-header .app-right-inner .app-icon-w.active, .app-header .app-right-inner .app-icon-w:hover {
  background: var(--icon-bg);
}
.app-header .app-right-inner .app-icon-w.active .icon-color, .app-header .app-right-inner .app-icon-w:hover .icon-color {
  background-color: var(--icon-active-color);
}
.app-header .app-right-inner .app-icon-w .icon-color {
  background-color: var(--icon-dark-color);
}
.app-header .app-right-inner .app-icon-w .sharing-ic, .app-header .app-right-inner .app-icon-w .comment-ic, .app-header .app-right-inner .app-icon-w .calender-ic, .app-header .app-right-inner .app-icon-w .playbook-ic, .app-header .app-right-inner .app-icon-w .prompt-ic {
  width: 20px;
  height: 20px;
  display: flex;
  mask-size: 20px 20px;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-image: var(--background);
  -webkit-mask-size: 20px 20px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-image: var(--background);
}
.app-header .app-right-inner .app-user {
  width: 28px;
  height: 28px;
  margin-left: 16px;
}
.app-header .app-right-inner .app-user img {
  width: 28px;
  height: 28px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 100%;
}
.app-header .app-right-inner .app-alert {
  width: 20px;
  height: 20px;
  position: relative;
}
.app-header .app-right-inner .app-alert .alert-text {
  background-color: var(--logo-color);
  position: absolute;
  z-index: 1;
  top: -6px;
  right: -6px;
  font-size: 0.6875rem;
  font-weight: 700;
  min-width: 8px;
  padding: 1px 4px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--app-navigation-background-color);
}
.app-header .app-right-inner .app-alert .app-bell-icon {
  width: 20px;
  height: 20px;
}
.app-header .app-right-inner .app-alert .app-bell-icon img {
  max-width: 20px;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.overflow-hidden {
  overflow: hidden;
}

.relative {
  position: relative;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.items-center {
  align-items: center;
}

.uppercase {
  text-transform: uppercase;
}

.font-normal {
  font-weight: 400;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.fs10 {
  font-size: 0.625rem;
}

.fs11 {
  font-size: 0.6875rem;
}

.fs12 {
  font-size: 0.75rem;
}

.lh1 {
  line-height: 1.2;
}

.lh1 {
  line-height: 1.4;
}

.lh1 {
  line-height: 1.5;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}

.w-full {
  width: 100%;
}

.text-defaul-color {
  color: var(--default-font-color);
}

.tracking-wider {
  letter-spacing: 0.2em;
}

ul {
  padding: 0;
  margin: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.grow {
  flex-grow: 1;
}

.rounded-12 {
  border-radius: 12px;
}

.rounded-6 {
  border-radius: 6px;
}

.rounded-full {
  border-radius: 100%;
}

img {
  width: 100%;
  height: auto;
}

.sm-button {
  padding: 0px 12px;
  font-size: 0.625rem;
  font-family: "Open Sans", "Helvetica Neue", "Verdana", sans-serif;
  height: 24px;
  line-height: 1;
  cursor: pointer;
}

.xs-button {
  padding: 0px 12px;
  font-size: 0.625rem;
  font-family: "Open Sans", "Helvetica Neue", "Verdana", sans-serif;
  height: 16px;
  line-height: 1.1;
  cursor: pointer;
}

.border-b {
  border-bottom: 1px solid #AEB7C0;
}

.border-0 {
  border: 0 !important;
}

p {
  padding: 0;
  margin: 0;
}

.pb-1 {
  padding-bottom: 4px;
}

.mr-3 {
  margin-right: 12px;
}

.ml-3 {
  margin-left: 12px;
}

.mr-2-5 {
  margin-right: 10px;
}

.mb-3 {
  margin-bottom: 12px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mt-3 {
  margin-top: 12px;
}

.mt-8 {
  margin-top: 32px;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-1 {
  margin-bottom: 4px;
}

.mr-4 {
  margin-right: 16px;
}

.mr-5 {
  margin-right: 20px;
}

.mr-10 {
  margin-right: 40px;
}

.mb-5 {
  margin-bottom: 20px;
}

.mt-5 {
  margin-top: 20px;
}

.gap-2 {
  gap: 8px;
}

.truncate-line1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-area {
  width: 100%;
  height: 80px;
  resize: none;
  background: #fff;
  font-size: 0.875rem;
}

.w-20 {
  width: 20px;
}

.h-20 {
  height: 20px;
}

.w-26 {
  width: 26px;
}

.h-26 {
  height: 26px;
}

.p-3 {
  padding: 12px;
}

.forward-btn {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.forward-btn img {
  width: 16px;
}

.button-gray {
  background: var(--comment-bg1);
  padding: 5px 10px;
  border: none;
}

.button-compare {
  background: var(--compare-bg);
  padding: 5px 10px;
  border: none;
}

.button-orange {
  border-radius: 34px;
  border: 1px solid var(--orange-bg);
  background-color: var(--orange-bg);
  color: var(--app-navigation-background-color);
}

.bg-dark {
  background: var(--card-bg);
}

.bg-light {
  background: var(--comment-bg);
}

.bg-light1 {
  background: var(--comment-bg1);
}

.body-text {
  font-size: 0.6875rem;
  line-height: 1.5;
}

.dot-g {
  background: var(--green-bg);
  width: 11px;
  height: 11px;
  border-radius: 100%;
}

.dot-red {
  background: var(--logo-color);
  width: 11px;
  height: 11px;
  border-radius: 100%;
}

.sm-chips {
  padding: 2px 16px;
  font-size: 0.625rem;
}

.drop-down-modal {
  position: relative;
}
.drop-down-modal:hover .menu-card {
  display: block;
  height: auto;
}

.menu-card {
  transition: all 0.3s ease-in;
  display: none;
  height: 0;
  background: var(--app-navigation-background-color);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.5);
  padding: 10px;
  position: absolute;
  z-index: 1;
  min-width: 200px;
  right: -6px;
  top: calc(100% + 4px);
}
.menu-card::before {
  content: "";
  position: absolute;
  border-bottom: 10px solid var(--app-navigation-background-color);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  top: -6px;
  right: 10px;
  z-index: 2;
}
.menu-card ul {
  list-style: none;
}
.menu-card ul li {
  font-size: 0.6875rem;
  line-height: 1.4;
  padding: 8px 0px 8px 0;
  color: var(--default-font-color);
}
.menu-card ul li:not(:last-child) {
  border-bottom: 1px solid var(--border-color2);
}
.menu-card ul li a {
  display: block;
  color: var(--default-font-color);
  position: relative;
  font-size: 0.6875rem;
  line-height: 1.4;
  width: 100%;
}
.menu-card ul li a:hover {
  color: var(--default-font-color);
}
.menu-card ul li a.forward-arrow {
  padding-right: 18px;
}
.menu-card ul li a.forward-arrow::after {
  background: url("../css/images/forward-icon.svg") no-repeat;
  background-size: 16px;
  position: absolute;
  z-index: 2;
  content: "";
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
}

.add-btn {
  background: transparent;
  display: flex;
  height: 16px;
  padding: 0 4px;
  font-size: 0.6875rem;
  border: none;
  color: var(--logo-color);
  cursor: pointer;
}
.add-btn svg {
  max-width: 12px;
  height: auto;
}
.add-btn svg path {
  fill: var(--logo-color);
}

.btn-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  line-height: 1;
  border: 0;
  background: transparent;
}
.btn-icon.down {
  transform: rotate(90deg);
}
.btn-icon img {
  width: 100%;
  max-width: 20px;
}

.sharing-members {
  position: relative;
}
.sharing-members.file-img-fix {
  width: 28px;
  position: absolute;
  right: 0;
  top: calc(100% - 26px);
}
.sharing-members.li-overlap ul li:not(:last-child) {
  margin-right: -4px;
}
.sharing-members ul {
  display: flex;
  list-style: none;
}
.sharing-members ul li {
  width: 26px;
  height: 26px;
  position: relative;
}
.sharing-members ul li:not(:last-child) {
  margin-right: 4px;
}
.sharing-members ul li .ic-member {
  width: 26px;
  height: 26px;
  line-height: 26px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  font-size: 0.6875rem;
  color: var(--white);
  font-weight: 700;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
}
.sharing-members ul li .ic-member img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.icon-s20 {
  width: 20px;
  height: 20px;
  min-width: 20px;
  display: inline-flex;
  margin-right: 8px;
}
.icon-s20 img {
  width: 20px;
  height: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.share-list-wrap {
  position: relative;
}
.share-list-wrap:hover .shared-all-list {
  display: block;
}
.share-list-wrap .shared-all {
  background: var(--logo-color);
  color: var(--white);
  font-weight: 700;
  font-size: 0.625rem;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.share-list-wrap .shared-all-list {
  display: none;
  top: calc(100% + 10px);
  width: 200px;
  right: 0;
  position: absolute;
  z-index: 1;
  padding: 10px;
  background: var(--white);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  color: var(--default-font-color);
  border-radius: 6px;
}
.share-list-wrap .shared-all-list .shared-all-row {
  display: flex;
  padding: 4px 0;
}
.share-list-wrap .shared-all-list .shared-all-row:not(:last-child) {
  border-bottom: 1px solid var(--border-color1);
  margin-bottom: 3px;
}
.share-list-wrap .shared-all-list .u-img-size {
  min-width: 26px;
  width: 26px;
  height: 26px;
}
.share-list-wrap .shared-all-list .u-img-size img {
  width: 26px;
  height: 26px;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.share-list-wrap .shared-all-list::before {
  content: "";
  position: absolute;
  border-bottom: 10px solid var(--white);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  top: -6px;
  right: 10px;
  transform: translateX(50%);
  z-index: 2;
}

.icon-bg-size {
  cursor: pointer;
  border: none;
  width: 20px;
  height: 20px;
  display: flex;
  mask-size: 20px 20px;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-image: var(--background);
  -webkit-mask-size: 20px 20px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-image: var(--background);
}
.icon-bg-size.ic-red {
  background-color: #444488;
}

.icon-option-dot {
  cursor: pointer;
  border: none;
  width: 20px;
  height: 20px;
  display: flex;
  mask-size: 20px 20px;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-image: var(--background);
  -webkit-mask-size: 20px 20px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-image: var(--background);
  background: url("../css/images/icon-more-vertical-dark.svg");
  background-size: cover;
}

.app-breadcrumbs {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  color: var(--text-light-color);
}
.app-breadcrumbs .back-btn {
  width: 20px;
  height: 20px;
  background: transparent;
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  border: 0;
  margin-right: 24px;
}
.app-breadcrumbs .back-btn img {
  margin: 0;
  max-width: 20px;
}
.app-breadcrumbs .breadcrumb-ic {
  width: 20px;
  height: 20px;
  display: flex;
  margin-right: 14px;
}
.app-breadcrumbs .breadcrumb-ic img {
  max-width: 20px;
}

.forward-arrow {
  padding-right: 18px;
  position: relative;
  display: block;
}
.forward-arrow::after {
  background: url("../css/images/forward-icon.svg") no-repeat;
  background-size: 16px;
  position: absolute;
  z-index: 2;
  content: "";
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
}

.sec-2 {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 2%;
       column-gap: 2%;
}
.sec-2 .col-6 {
  width: 49%;
}

.content-sec {
  position: relative;
  width: 100%;
  margin: auto;
  display: flex;
  padding: 0 21px;
  padding-top: 72px;
  box-sizing: border-box;
  height: 100%;
}
.content-sec .aside-bar-menu + .left-section {
  padding-left: 0;
}
.content-sec .left-section {
  flex-grow: 1;
  padding-left: 175px;
}
@media only screen and (max-width: 1500px) {
  .content-sec .left-section {
    padding-left: 0;
  }
}
.content-sec .left-section .left-section-inner {
  max-width: 900px;
  margin: auto;
}
.content-sec .right-section {
  flex: 1 1 426px;
  min-width: 426px;
  max-width: 426px;
  margin-left: 68px;
}
@media only screen and (max-width: 1279px) {
  .content-sec .right-section {
    margin-left: 24px;
  }
}
.content-sec .right-section .right-section-inner {
  height: 100%;
}

.left-inner-sticky {
  background-color: var(--comments-header-background-color);
}

.right-content-sec {
  padding-top: 60px;
}

.left-inner-sticky, .right-tab-content, .right-content-sec {
  position: sticky;
  top: 69px;
  z-index: 1;
}

.right-tab-content {
  display: none;
}
.right-tab-content.active {
  display: block;
}
.right-tab-content h4 {
  padding: 0;
  margin: 0 0 12px 0;
}

.app-summary-tab-section h4 {
  padding: 6px 4px;
  margin-left: 16px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 0.625rem;
  font-weight: normal;
  padding: 12px 4px;
  margin: 0;
}
.app-summary-tab-section ul {
  list-style: none;
}
.app-summary-tab-section ul li {
  position: relative;
}
.app-summary-tab-section ul li:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}
.app-summary-tab-section ul li.tab-icon.open h4 {
  background-color: var(--comment-bg);
  border-radius: 6px 6px 0 0;
}
.app-summary-tab-section ul li.tab-icon.open h4::before {
  background: url("../css/images/minus-icon.svg") no-repeat;
  top: 6px;
}
.app-summary-tab-section ul li.tab-icon h4 {
  padding-left: 28px;
  cursor: pointer;
}
.app-summary-tab-section ul li.tab-icon h4::before {
  position: absolute;
  top: 12px;
  left: 12px;
  background: url("../css/images/plus-icon.svg") no-repeat;
  background-size: cover;
  width: 12px;
  height: 12px;
  opacity: 30%;
  content: "";
}
.app-summary-tab-section ul li ul {
  box-shadow: none;
  padding: 0px 12px 12px 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: var(--comment-bg);
  border-radius: 0 0 6px 6px;
  display: none;
}
.app-summary-tab-section ul li ul li {
  padding: 4px 0;
}
.app-summary-tab-section ul li ul li:not(:last-child) {
  border-bottom: 0;
}
.app-summary-tab-section .info-row {
  display: flex;
  font-size: 0.6875rem;
  line-height: 1.4;
}
.app-summary-tab-section .info-row .info-row-left {
  width: 40%;
  min-width: 40%;
  padding-right: 12px;
}
.app-summary-tab-section .info-row .info-row-right {
  flex-grow: 1;
}

.app-summary-info {
  font-size: 0.75rem;
  line-height: 1.5;
  margin-left: 12px;
  color: var(--default-font-color);
}
.app-summary-info p {
  margin-bottom: 20px;
}

.comment-sec {
  width: 100%;
}
.comment-sec a {
  color: var(--link-color);
  text-decoration: underline;
}
.comment-sec .comment-user {
  display: flex;
  align-items: center;
}
.comment-sec .comment-user .ic-member {
  width: 26px;
  height: 26px;
  min-width: 26px;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  font-size: 0.75rem;
  font-weight: 600;
  color: #fff;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
}
.comment-sec .comment-user .ic-member img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.comment-sec .comment-user .c-user-name {
  font-size: 0.6875rem;
  font-weight: 700;
  color: var(--default-font-color);
  max-width: 240px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.comment-sec .received-message {
  display: flex;
  flex-direction: row;
  padding-bottom: 8px;
}
.comment-sec .received-message .received-card {
  background: var(--comment-bg2);
}
.comment-sec .received-card, .comment-sec .send-card {
  padding: 12px;
  border-radius: 6px;
  font-size: 0.6875rem;
  line-height: 1.5;
  width: 305px;
  color: var(--default-font-color);
}
.comment-sec .send-message {
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 8px;
}
.comment-sec .send-message .send-card {
  background: var(--comment-bg1);
}

.comment-form-sec {
  margin-top: 40px;
  color: var(--default-font-color);
}
.comment-form-sec.fixed-comment {
  position: fixed;
  width: 426px;
  right: 21px;
  bottom: 0;
  padding: 10px 0;
  background: var(--comments-header-background-color);
}

.aside-bar-menu {
  width: 175px;
  min-width: 175px;
}
.aside-bar-menu .navigation-sec {
  padding-right: 20px;
  padding-top: 58px;
  position: sticky;
  top: 69px;
}
.aside-bar-menu .navigation-vertical {
  position: relative;
}
.aside-bar-menu .navigation-vertical ul li {
  list-style: none;
  font-size: 0.6875rem;
  margin-bottom: 2px;
  border-bottom: 1px solid var(--border-color3);
}
.aside-bar-menu .navigation-vertical ul li a {
  color: var(--default-font-color);
  padding: 10px 0 10px 20px;
  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 1.1;
  display: block;
  position: relative;
  transition: all 0.3s ease-in;
}
.aside-bar-menu .navigation-vertical ul li a::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background: url("../css/images/forward-icon.svg");
  width: 16px;
  height: 16px;
  display: flex;
  mask-size: 16px 16px;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-image: var(--background);
  -webkit-mask-size: 16px 16px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-image: var(--background);
  background-size: cover;
}
.aside-bar-menu .navigation-vertical ul li a:hover, .aside-bar-menu .navigation-vertical ul li a.active {
  font-weight: 700;
}

.icon-color {
  background-color: var(--icon-dark-color);
}

.file-list-card {
  background: var(--comments-background-color);
  padding: 10px;
  width: 100%;
}
.file-list-card .file-list-row {
  display: flex;
  align-items: center;
  padding: 6px 0;
}
.file-list-card .file-list-row:not(:last-child) {
  border-bottom: 1px solid var(--border-color2);
  margin-bottom: 3px;
}
.file-list-card .file-list-row .file-list-checkbox-sec {
  width: 30px;
  flex: 0 0 30px;
}
.file-list-card .file-list-row .file-list-name {
  width: 40%;
}
.file-list-card .file-list-row .file-list-name.left-space {
  padding-left: 36px;
}
.file-list-card .file-list-row .file-list-modified {
  width: 175px;
  min-width: 175px;
  text-align: right;
  padding-right: 36px;
}
.file-list-card .file-list-row .file-list-shared {
  width: 30%;
}
.file-list-card .file-list-row .file-list-action {
  width: 48px;
  flex: 0 0 48px;
  justify-content: right;
  display: flex;
}

.my-d-sugg-file-sec {
  display: flex;
  flex-wrap: wrap;
  min-height: 140px;
  gap: 12px;
}
.my-d-sugg-file-sec .sugg-card {
  flex: 1 1 200px;
  min-width: 200px;
  max-width: 300px;
  position: relative;
  background: var(--icon-bg);
  border-radius: 4px;
  padding: 10px;
}
.my-d-sugg-file-sec .sugg-card .file-name {
  font-size: 12px;
  color: var(--default-font-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.my-d-sugg-file-sec .sugg-card .file-img-sec {
  margin-top: 10px;
  height: 90px;
  position: relative;
  background: white;
}
.my-d-sugg-file-sec .sugg-card .file-img-sec .file-img {
  height: 90px;
  width: 100%;
  overflow: hidden;
}
.my-d-sugg-file-sec .sugg-card .file-img-sec .file-img img {
  padding-top: 12px;
  width: 90%;
  height: auto;
}

.page-breadcrum {
  width: 100%;
}
.page-breadcrum ul.breadcrum-ul {
  display: flex;
}
.page-breadcrum ul.breadcrum-ul li {
  display: flex;
  align-items: center;
}
.page-breadcrum ul.breadcrum-ul li .breadcrum-btn {
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 17px;
  padding-right: 16px;
}
.page-breadcrum ul.breadcrum-ul li .breadcrum-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background: url("../css/images/forward-icon.svg");
  width: 20px;
  height: 20px;
  display: flex;
  mask-size: 20px 20px;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-image: var(--background);
  -webkit-mask-size: 20px 20px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-image: var(--background);
  background-size: cover;
}
.page-breadcrum ul.breadcrum-ul li .breadcrum-btn img {
  display: block;
  height: 17px;
}
.page-breadcrum ul.breadcrum-ul li.list {
  list-style: none;
  font-size: 0.6875rem;
  margin-bottom: 2px;
}
.page-breadcrum ul.breadcrum-ul li.list:not(:last-child) {
  margin-right: 12px;
}
.page-breadcrum ul.breadcrum-ul li.list a {
  color: var(--text-light-color);
  padding: 10px 24px 10px 0;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1.1;
  display: block;
  position: relative;
  transition: all 0.3s ease-in;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 120px;
}
.page-breadcrum ul.breadcrum-ul li.list a::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background: url("../css/images/forward-icon.svg");
  width: 20px;
  height: 20px;
  display: flex;
  mask-size: 20px 20px;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-image: var(--background);
  -webkit-mask-size: 20px 20px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-image: var(--background);
  background-size: cover;
}
.page-breadcrum ul.breadcrum-ul li.list a:hover, .page-breadcrum ul.breadcrum-ul li.list a.active {
  font-weight: 700;
}

.filter-sec {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.file-btn {
  background: var(--tab-bg);
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  font-size: 0.75rem;
  line-height: 1;
}
.file-btn.close-icon {
  position: relative;
  padding-right: 30px;
}
.file-btn.close-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  width: 12px;
  height: 12px;
  background: url("../css/images/icon-cross-dark.svg");
  background-size: cover;
}

.file-btn1 {
  background: var(--icon-bg);
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  font-size: 0.75rem;
  line-height: 1;
}
.file-btn1.down-icon {
  position: relative;
  padding-right: 30px;
}
.file-btn1.down-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
  right: 10px;
  width: 12px;
  height: 12px;
  background: url("../css/images/forward-icon.svg");
  background-size: cover;
}

.filter-menu-modal {
  position: relative;
}
.filter-menu-modal:hover .filter-menu-card {
  display: block;
  height: auto;
}

.filter-menu-card {
  transition: all 0.3s ease-in;
  display: none;
  height: 0;
  background: var(--app-navigation-background-color);
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.5);
  padding: 10px;
  position: absolute;
  z-index: 9;
  min-width: 200px;
  width: 200px;
  left: 0px;
  top: calc(100% + 6px);
}
.filter-menu-card::before {
  content: "";
  position: absolute;
  border-bottom: 10px solid var(--app-navigation-background-color);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  top: -6px;
  left: 10px;
  z-index: 2;
}
.filter-menu-card ul {
  list-style: none;
}
.filter-menu-card ul li {
  font-size: 0.6875rem;
  display: flex;
  justify-content: space-between;
  line-height: 1.4;
  padding: 8px 0px 8px 0;
  color: var(--default-font-color);
}
.filter-menu-card ul li:not(:last-child) {
  border-bottom: 1px solid var(--border-color2);
}
.filter-menu-card ul li a {
  display: block;
  color: var(--default-font-color);
  position: relative;
  font-size: 0.6875rem;
  line-height: 1.4;
}
.filter-menu-card ul li a:hover {
  color: var(--default-font-color);
}
.filter-menu-card ul li .ch-box {
  width: 20px;
}
.filter-menu-card ul li .ch-box input[type=checkbox] {
  background: var(--check-bg);
  border-color: var(--check-bg);
  cursor: pointer;
}
.filter-menu-card ul li .ch-box input[type=checkbox]:checked {
  background-color: var(--logo-color);
  border-color: var(--logo-color);
}

.folder-sec {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.folder-sec .folder-card {
  flex: 1 1 32%;
  min-width: 32%;
  max-width: 32%;
  position: relative;
}
.folder-sec .folder-card .folder-img {
  margin-right: 6px;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
}
.folder-sec .folder-card .folder-img img {
  max-width: 70px;
  width: 100%;
  height: auto;
  display: block;
}
.folder-sec .folder-card .file-title {
  font-size: 0.75rem;
  line-height: 1.2;
  color: var(--default-font-color);
  font-weight: 600;
  margin-bottom: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 96%;
}
.folder-sec .folder-card .file-info {
  font-size: 0.6875rem;
  line-height: 1.2;
  color: var(--default-font-color);
}

.share-outer-wrap {
  width: 640px;
  box-shadow: 0 18px 24px rgba(0, 0, 0, 0.2);
  background: var(--white);
  padding: 20px;
  margin: auto;
  border-radius: 6px;
}

.share-inner {
  position: relative;
  margin-bottom: 30px;
}
.share-inner .share-input {
  display: flex;
}
.share-inner .share-input input {
  height: 42px;
  -webkit-appearance: none;
  display: block;
  background-color: var(--border-color2);
  border: 1px solid var(--border-color2);
  height: 38px;
  font-size: 0.75rem;
  color: var(--default-font-color);
  padding: 12px 48px 12px 12px;
  box-sizing: border-box;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-radius: 19px 0 0 19px;
}
.share-inner .share-input input:focus {
  outline: none;
}
.share-inner .share-input .share-button {
  background: var(--logo-color);
  display: flex;
  border: none;
  height: 38px;
  line-height: 38px;
  color: var(--white);
  font-weight: 700;
  border-radius: 0 19px 19px 0;
  padding: 0 20px;
  cursor: pointer;
  font-size: 0.75rem;
}
.share-inner .remove-button {
  background: var(--border-color2);
  display: flex;
  border: none;
  height: 24px;
  line-height: 24px;
  color: var(--white);
  font-weight: 700;
  border-radius: 12px;
  padding: 0 12px;
  cursor: pointer;
  font-size: 0.625rem;
}
.share-inner .view-button {
  background: transparent;
  display: flex;
  border: none;
  height: 24px;
  line-height: 24px;
  color: var(--default-font-color);
  border-radius: 12px;
  padding: 0 12px;
  cursor: pointer;
  font-size: 0.625rem;
}
.share-inner .share-user-info {
  font-size: 0.625rem;
  color: var(--default-font-color);
  border-bottom: 1px solid var(--border-color2);
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.shared-user-list ul li {
  margin-bottom: 3px;
  padding: 4px 0;
}
.shared-user-list ul li:not(:last-child) {
  border-bottom: 1px solid var(--border-color2);
}
.shared-user-list ul li:last-child {
  margin-bottom: 16px;
}
.shared-user-list ul li .share-user-img {
  width: 26px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  color: var(--white);
  font-weight: 700;
  margin-right: 12px;
  background: var(--logo-color);
}
.shared-user-list ul li .share-user-img img {
  width: 26px;
  height: 26px;
  display: block;
  border-radius: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

.button {
  margin: 0 0 0 6px;
  font-weight: bold;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
}
.button-flat, .button.disabled {
  border: 1px solid #ccc;
  background-color: #ccc;
  color: #fff;
}
.button-red {
  border: 1px solid var(--logo-color);
  background-color: var(--logo-color);
  color: #fff;
}
.button-dark-gray {
  border: 1px solid var(--dark-btn-bg);
  background-color: var(--dark-btn-bg);
  color: #fff;
}
.button-red-outline {
  border: 1px solid var(--logo-color);
  color: var(--logo-color);
}
.button:hover {
  background-color: var(--button-red);
  border: 1px solid var(--button-red);
  color: #ffffff;
}

span.forgot-password {
  text-align: right;
}

input {
  font-size: 1.1em;
}

label {
  font-size: 14px;
  margin-top: 18px;
  margin-bottom: 2px;
  display: inline-block;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}
.controls span {
  flex-grow: 4;
}

.checkbox-label {
  margin-top: 0;
  cursor: pointer;
}

input[type=text], input[type=email], input[type=password], input[type=url], input[type=search] {
  -webkit-appearance: none;
  border-radius: 4px;
  border: 1px solid #ccc;
  height: 36px;
  color: var(--default-font-color);
  padding: 12px;
  box-sizing: border-box;
  margin-right: 6px;
  min-width: 240px;
}

input[type=url] {
  width: 80%;
}

input[type=submit], input[type=button] {
  -webkit-appearance: none;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  background-color: var(--logo-color);
  border: 1px solid var(--logo-color);
  height: 36px;
  min-width: 120px;
  box-sizing: border-box;
  margin-right: 6px;
}
input[type=submit]:hover, input[type=button]:hover {
  background-color: var(--button-red);
  border: 1px solid var(--button-red);
}

textarea {
  -webkit-appearance: none;
  border-radius: 4px;
  border: 1px solid #ccc;
  min-height: 36px;
  color: var(--default-font-color);
  padding: 12px;
  box-sizing: border-box;
  margin-right: 6px;
  min-width: 240px;
  width: 100%;
  font-size: 1em;
}

input[type=checkbox] {
  -webkit-appearance: none;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #999;
  height: 14px;
  width: 14px;
  vertical-align: middle;
  margin-right: 6px;
  margin-top: -1px;
}
input[type=checkbox]:checked {
  background-color: var(--logo-color);
  border-color: var(--logo-color);
}

.has-dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-list {
  position: absolute;
  top: calc(100% - 3px);
  right: 0;
  z-index: 9999;
  text-align: left;
  font-weight: normal;
  display: none;
}
.dropdown-list.medium {
  min-width: 240px;
  max-width: 300px;
}
.dropdown-list.small {
  min-width: 120px;
  max-width: 240px;
}
.dropdown-list ul {
  list-style: none;
  padding: 8px 0;
  margin: 10px 0 0 0;
  border-radius: 8px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  position: relative;
}
.dropdown-list ul:before {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  display: block;
  width: 0px;
  height: 0px;
  content: "";
  position: absolute;
  top: -10px;
  right: 10px;
}
.dropdown-list ul > li > a {
  display: block;
  color: #464646;
  padding: 8px 12px;
  border-bottom: 1px solid #e3e3e3;
}
.dropdown-list ul > li > a:hover {
  background-color: #F2F2F2;
  color: #000000;
}
.dropdown-list ul > li:last-child > a {
  border: none;
}

.app-close-popups {
  cursor: pointer;
  position: absolute;
  right: 6px;
  top: 6px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-image: url(images/icon-cross-dark.svg);
  background-size: 16px;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 0.3s;
}
.app-close-popups:hover {
  transform: rotate(90deg);
}

.popup-container {
  width: 100vw;
  height: 100vh;
  min-height: 600px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 999;
  display: none;
  overflow: scroll;
}
.popup-container.open {
  display: flex;
}
.popup-container .popup {
  min-width: 860px;
  max-width: 960px;
  height: auto;
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
  border-radius: 12px;
  width: 60vw;
  position: relative;
  padding: 0px;
}
.popup-container .popup .close-popups {
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 12px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: var(--logo-color);
  background-image: url(images/icon-cross.svg);
  background-size: 16px;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 0.3s;
  z-index: 999;
}
.popup-container .popup .close-popups:hover {
  transform: rotate(90deg);
}
.popup-container .popup .files-share-list {
  width: 100%;
  min-height: 480px;
  max-height: 80vh;
  overflow: scroll;
}
.popup-container .popup .files-share-list .wrapper {
  padding: 12px 2%;
  width: 96%;
}
.popup-container .popup .files-share-list .wrapper.sticky {
  position: sticky;
  padding-top: 24px;
  top: 0;
  background-color: #fff;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
}
.popup-container .popup .files-share-list .file-item {
  width: 100%;
}
.popup-container .popup .files-share-list input[type=search] {
  padding: 12px;
  width: 75%;
}/*# sourceMappingURL=app-style3.css.map */