.app-bg{
	background-color: var(--comments-header-background-color);
	width: 100%;
	min-height: 100%;

}
//header
.home-header{
	height: 69px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index:999;
	// padding: 0 20px;
	background:rgba(255, 255, 255, 0.2);
	-webkit-backdrop-filter: saturate(100%) blur(8px);
	backdrop-filter: saturate(100%) blur(8px);

}
.header-inner{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	position: relative;
	z-index: 8;
	max-width: 1280px;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
	@media(min-width:1440px){
		max-width: 1440px;
	}
	.home-logo{
		width:175px;
		@media(max-width:600px){
			width:auto;
			margin-right: 24px;
		}
		img {
			max-width: 120px;
			width: 100%;
			@media(max-width:600px){
				max-width: 100px;
			}
		}
	}
	.header-left{
		display: flex;
		width: 100%;
		flex-grow:1;
	}
	.home-navigation{
		position: relative;
		display: flex;
		@media(max-width:767px){
			display: none;
		}
		ul{
			display: flex;
			align-items: center;
			list-style: none;
			li{
				margin-right: 40px;
				font-size:size(14);
				font-weight: 700;
				a{
					color: var(--default-font-color);
					text-decoration: none;
					&.active{
						color: var(--button-red);
					}
				}
				
				}
		}
	}

}

 .demo-button, a.demo-button {
	margin: 0 20px 0 0;
	font-size: size(15);
	font-weight: bold;
	padding: 0px 18px;
	cursor: pointer;
	border-radius: 24px;
	border: 1px solid var(--button-red);
	background-color: var(--button-red);
	color:#fff;
	white-space: nowrap;
	text-transform: uppercase;
	font-family: $font-family-primary;
	letter-spacing: 0.2em;
	height: 34px;
    display: flex;
    align-items: center;
	@media(max-width:600px){
		padding: 0px 10px;
		font-size: size(14);
		margin: 0 10px 0 0;
	}
 }
 .vd-button,a.vd-button {
	margin: 0 0 0 0;
	font-size: size(15);
	font-weight: bold;
	padding: 0px 18px;
	cursor: pointer;
	border-radius: 24px;
	border: 1px solid var(--bg-button);
	background-color: var(--bg-button);
	color:#fff;
	white-space: nowrap;
	text-transform: uppercase;
	font-family: $font-family-primary;
	letter-spacing: 0.2em;
	height: 34px;
    display: flex;
    align-items: center;
	@media(max-width:600px){
		padding: 0px 10px;
		font-size: size(14);
	}
 }
 .login-btn{
	background: #fff;
	width:38px;
	min-width: 38px;
	height: 38px;
	border-radius: 100%;
	border: 0;
	.login-ic{
		width: 20px;
		height: 20px;
		display: flex;
		mask-size: 20px 20px;
		mask-repeat: no-repeat;
		mask-position: center center;
		mask-image: var(--icon-file);
		-webkit-mask-size: 20px 20px;
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-position: center center;
		-webkit-mask-image: var(--icon-file);
		background-color: #555B65;
		--icon-file: url("../images/user-login.svg");
		margin: auto;
		
	}
 }
 .header-right{
	min-width: 280px;
	display: flex;
    justify-content: flex-end;
	@media(max-width:600px){
		min-width: 200px;
	}
 }
 .header-bn-wrap{
	display: flex;
	align-items: center;
 }
.ineline-block{display: inline-block;}
 //banner
 .main-banner{
	min-height: 600px;
	position: relative;
	height: auto;
	// display: flex;
	// position: relative;
	
	picture {
		width: 100%;
		height: 100%;
	}
	
	label {
		display: block;
	}
	
	&.border-b{
		// border-bottom: 1px solid #979797;
	}
	@media(max-width:767px){
		min-height: 700px;
	}
	img{
		width: 100%;
		height: inherit; //100%;
		object-fit: cover;
		object-position: center center;
		position: absolute;
		top: 0;
		z-index: 2;
		// max-height: 600px;
		@media(max-width:767px){
			max-height: 700px;
		}
	}
		.banner-content{
		display: flex;
		flex-direction: column;
		padding: 130px 0 80px 0;
		// justify-content: center;
		width: 100%;
		max-width: 740px;
		// z-index: 2;
		color: var(--default-font-color);
		@media(max-width: 1024px){
			justify-content: flex-start;
			padding-top: 100px;
			max-width: 600px;
		}
		h1.home-title{
			font-size: size(42);
			font-weight: 700;
			color: var(--default-font-color);
			margin-bottom: 24px;
			line-height: 1.2;
			@media(max-width: 1024px){
				font-size: size(28);
				margin-bottom: 20px;
			}
		}
		.title2{
			font-size: size(32);
			font-weight: 700;
			line-height: 1.2;
			color: var(--default-font-color);
			margin-bottom: 24px;
			@media(max-width: 1024px){
				font-size: size(24);
				margin-bottom: 20px;
			}
		}

		.banner-info{
			margin-bottom: 24px;
			p{
				font-size: size(24);
				line-height: 1.5;
				@media(max-width: 1024px){
					font-size: size(16);
					// margin-bottom: 20px;
				}

			}
		}
	}
 }
 .title1{
	font-size: size(36);
	font-weight: 700;
	line-height: 1.2;
	color: var(--default-font-color);
	margin-bottom: 24px;
	@media(max-width: 1024px){
		font-size: size(28);
		margin-bottom: 20px;
	}
}
 .content-wrap{
    height: 100%;
    width: 57%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
	padding-left: 16px;
	@media(min-width: 1367px){
		width: 50%;
	}
	@media(max-width: 1024px){
		width: 70%;
	}
	@media(max-width: 767px){
		width: 100%;
		justify-content: center;
		padding:0 16px;
	}
 }
 .action-btn{
	display: flex;
	align-items: center;
	@media(max-width: 767px){
		flex-direction: column;
		align-items: flex-start;
		.demo-button, a.demo-button{
			margin: 0 0 20px 0;
			width: 161px;
		}
		.vd-button, a.vd-button{
			width: 202px;
		}
	}
 }
 .co-piolt-sec{
	background: var(--bg-black);
	padding: 90px 0;
	@media(max-width: 1024px){
		padding: 40px 0;
	}
 }
 .summary-sec{
	background: var(--check-bg);
	padding: 90px 0;
	@media(max-width: 1024px){
		padding: 40px 0;
	}
 }
 .legal-sec{
	background: var(--bg-color2);
	padding: 90px 0;
	&.dark-bg{
		background:var(--bg-color3);
	}
	&.dark-bg1{
		background:#C6CDD4;
	}
	&.black-bg{
	background: var(--bg-black);;
	}
	@media(max-width: 1024px){
		padding: 40px 20px;
	}
	.btn-space{
		margin-left: 20px;
		@media(max-width: 1024px){
			margin-left: 0;
			margin-top: 8px;
		}
	}
 }
 .content-image-sec{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1280px;
	margin: auto;
	display: flex;
	column-gap:6%;
	@media(min-width:1440px){
		max-width: 1440px;
	}
	flex-direction: row;
	@media(max-width:1024px) {
		flex-direction: column;
	}
	.img-sec{
		width: 40%;
		display: flex;
    align-items: center;
    justify-content: flex-end;
		img{
			max-width: 600px;
			width: 100%;
			height: auto;
			display: block;
			border-radius: 12px;
			box-shadow: 0 24px 34px rgba(0, 0, 0, 0.25);
			@media(max-width:1024px) {
				max-width: 400px;
			}
		}
		@media(max-width:1024px) {

			width: 100%;
			margin-bottom: 42px;
			justify-content: center;
		}
	}
	.content-sec{
		width: 60%;
		padding: 0;
		display: flex;
    align-items: center;
    justify-content: flex-start;

	@media(max-width:1024px) {
		width: 100%;
		justify-content: center;
	}
	.content-align{
		text-align: left;
		@media(max-width:1024px) {
		text-align: center;
		}
	}
		.info-para{
			font-size: size(24);
			line-height: 1.4;
			color: var(--default-font-color);
			max-width: 740px;
			@media(max-width:767px) {
				font-size: size(16);
				}
			p{
				margin-bottom: 32px;
			}
		}
	}
 }
 .content-image-reverse-sec{
	max-width: 1280px;
	padding-left: 20px;
	padding-right: 20px;
	margin: auto;
	display: flex;
	column-gap:6%;
	@media(min-width:1440px){
		max-width: 1440px;
	}
	flex-direction: row-reverse;
	@media(max-width:1024px) {
		flex-direction: column;
	}
	.img-sec{
		width: 40%;
		display: flex;
    align-items: center;
    justify-content: flex-end;
		img{
			max-width: 600px;
			width: 100%;
			height: auto;
			display: block;
			border-radius: 12px;
			box-shadow: 0 24px 34px rgba(0, 0, 0, 0.25);
			@media(max-width:1024px) {
				max-width: 400px;
			}
		}
		@media(max-width:1024px) {
			width: 100%;
			margin-bottom: 42px;
			justify-content: center;
		}
	}
	.content-sec{
		width: 60%;
		padding: 0;
		display: flex;
    align-items: center;
    justify-content: flex-start;

	@media(max-width:1024px) {
		width: 100%;
		justify-content: center;
	}
	.content-align{
		text-align: left;
		@media(max-width:1024px) {
		text-align: center;
		}
	}
		.info-para{
			font-size: size(24);
			line-height: 1.4;
			color: var(--default-font-color);
			max-width: 740px;
			@media(max-width:767px) {
				font-size: size(16);
				}
			p{
				margin-bottom: 32px;
			}
		}
	}
 }
 .home-content-sec{
	max-width: 960px;
	padding-left: 20px;
	padding-right: 20px;
	margin: auto;
	&-lg{
		padding-left: 20px;
		padding-right: 20px;
		max-width: 1280px;
		margin: auto;
		width: 100%;
		@media(min-width:1367px){
			max-width: 1440px;
			.m-text-center{
				text-align: center;
			}
		}
		.m-text-center{
			text-align: left;
		}
		// .title1{
		// 	@media(max-width: 1024px){
		// 		text-align: center;
		// 	}
			
		// }
	}
 }
 .heading1{
	font-size: size(42);
	font-weight: 700;
	color: var(--default-font-color);
	line-height: 1.4;
	@media(max-width: 1024px){
		font-size: size(28);
	}
}

.heading2{
	font-size: size(32);
	font-weight: 700;
	line-height: 1.4;
	color: var(--default-font-color);
	font-size: size(24);
	@media(max-width: 1024px){
		font-size: size(16);
	}
}
.white-text{
	color: var(--white)!important;
}
.default-text{
	color: var(--default-font-color);
}
.text-center{
	text-align: center;
}
.mb-6{
	margin-bottom: 24px;
}
.mb-3{
	margin-bottom: 12px;
}
.pt-6{
	padding-top: 24px;
}
.ml-5{
	margin-left: 20px!important;
}
.mr-0{
	margin-right: 0px!important;
}
.v-middle{
	display: flex;
	align-items: center;
	@media(max-width:1024px){
		flex-direction: column;
	}	
}
.justify-center{justify-content: center;}
.delivery-items{
	ul{
		padding: 0;
		margin: 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		column-gap:90px;
		@media(max-width:1024px){
			column:24px;
			justify-content: center;
		}
		li{
			list-style: none;
			min-width: 180px;
			width: 100%;
			flex: 0 1 180px;
	
			// background: red;
			// display: flex;
			// flex-direction: column;
			// align-items: center;
			@media(max-width:767px){
				width: 120px;
				flex: 0 1 120px;
			}
			margin-bottom: 24px;

				.delivery-img{
				width:120px;
				margin: auto;
				text-align: center;
				// margin-bottom: 6px;
				img{
					max-width: 84px;
					height: auto;
					// @media(max-width:767px){
					// 	max-width: 84px;
					// }
				}
			}
			.delivery-heading{
				font-size: size(24);
				color: var(--default-font-color);
				font-weight: 400;
				line-height: 1.4;
				text-align: center;
				@media(max-width:767px){
					font-size: size(16);
				}
				a{
					color: var(--default-font-color);
					text-decoration: none;	
				}
			}
		}
	}
}
.footer-wrap{
	max-width: 1280px;
	padding-left: 20px;
	padding-right: 20px;
	@media(min-width:1440px){
		max-width: 1440px;
	}
	margin: auto;
}
.footer-top-sec{
	padding-bottom: 30px;
	border-bottom:1px solid var(--divider-footer);
	display: flex;
	@media(max-width:1024px){
		flex-direction: column-reverse;
		// border-bottom:0;
		// border-top:1px solid var(--divider-footer);
	}
	.ft-address-sec{
		width: 200px;
		border-right:1px solid var(--divider-footer);
		padding-right: 52px;
		margin-right: 52px;
		.ft-logo{
			margin-bottom: 12px;
			img{
				max-width: 120px;
				width: 100%;
			}
		}
		.ft-address-info{
			font-size: size(14);
			line-height: 1.4;
			color: var(--default-font-color);
			p{
				line-height: 1.4;
			}
		}
		@media(max-width:1024px){
			width: 100%;
			border-right:0;
			padding-right: 0;
			margin-right: 0;
			border-top:1px solid var(--divider-footer);
			padding-top: 20px;
			margin-top: 20px;
		}

	}
	.ft-logo-sec{
		.ft-heading{
			font-size: size(14);
			font-weight: 700;
			color: var(--default-font-color);
		}
		.ft-cmp-logo{
			ul{
				padding: 0;
				margin: 0;
				display: flex;
				li{
					width: 100px;
					height: 100px;
					border-radius: 100%;
					img{
						width: 100px;
						height: 100px;
						object-fit: cover;	
						display: block;
					}
					@media(max-width:1024px){
						width: 60px;
						height: 60px;
						img{
							width: 60px;
							height: 60px;
						}
						&:not(:last-child){
							margin-right: 10px;
						}
					}
					&:not(:last-child){
						margin-right: 20px;
					}
				}
			}
		}
	}
}
.ft-copywrite{
	font-size:size(14);
	line-height: 1.5;
	a{
		color: var(--default-font-color);
		font-weight: 700;
		text-decoration: none;
	}
}
.social-sec{
	ul{
		padding: 0;
		margin: 0;
		display: flex;
		li{
		width: 26px;
		img{
			display: block;
			max-width: 26px;
			height: auto;
		}
		a{
			text-decoration: none;
			&:hover{
				opacity: 0.8;
			}
		}
		&:not(:last-child){
			margin-right: 12px;
		}
		}
	}
}
.content-outer-wrap{
	display: flex;
	column-gap: 10%;
	@media(max-width:767px){
		flex-direction: column;
	}
	.content-inner{
		width:50%;
		flex:0 1 50%;

		@media(max-width:767px){
			width:100%;
			flex:0 1 100%;
			&:first-child{
				margin-bottom: 24px;
			}
		}
		.info{
			font-size: size(24);
			line-height: 1.4;
			color: var(--default-font-color);
			max-width: 740px;
			p{
				margin-bottom: 32px;
				@media(max-width:767px){
					margin-bottom: 24px;
				}
			}
			@media(max-width:767px){
				font-size: size(16);
			}
		}
	}
}
.footer-bg{
	padding: 90px 0;

	background: var(--comments-header-background-color);
	@media(max-width: 1024px){
		padding: 40px 0;
	}

}
.container-sec{
	max-width: 1280px;
	padding-left: 20px;
	padding-right: 20px;
	margin: auto;
	position: relative;
	z-index: 9;
	@media(min-width:1367px){
		max-width: 1440px;
	}
	// @media(max-width:1280px){
	// 	padding-left: 20px;
	// 	padding-right: 20px;
	// }
}
.image-right-fix{
	position: relative;
	right: -8%;	
	@media (max-width:1280px) {
		right: 0;		
	}
	// @media (min-width:1440px) {
	// 	right: 0;	
	// }
}
.image-left-fix{
	position: relative;
	left: -8%;
	@media (max-width:1280px) {
		left: 0;	
	}
	// @media (min-width:1440px) {
	// 	left: 0;	
	// }
	
}

.large-text-container {
	font-size: 1.3rem;
	line-height: 1.5em;
	
	h1, h2, h3, h4, h5, h6, p {
		margin: 0;
		padding: 12px 0;
	}
	
	ul, ol {
		// margin: 0 24px 0 0;
		// padding: 0;
		margin: revert;
		padding: revert;
		list-style: revert;
		
		li {
			// margin: 0 0 0 12px;
			padding: 4px 0;
		}
	}
	
	ul {
		// list-style-type: disc;
		// list-style-position: inside;
	}
	
	ol {
		// list-style-type: revert;
		// list-style-position: inside;
	}
	
	.wrapper {
		max-width: 1440px;
		width: auto;
		padding: 120px 0;
		.inner-wrapper {
			max-width: 920px;
			padding: 0;
			margin: 0 auto 0 90px;
		}
	}
}