@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --default-font:"Open Sans","Helvetica Neue", "Verdana", sans-serif;
  --default-background-color: #dce1e6;
  --comments-background-color: #f4f6f9;
  --comments-header-background-color: #c6cdd4;
  --default-font-color: #232323;
  --app-navigation-background-color: #ffffff;
  --logo-color: #ff6868;
  --button-red: #ef4747;
  --link-color: #121212;
  --icon-bg:#E0E4E7;
  --tab-bg:#F0F2F5;
  --text-light-color:#525252;
  --border-color:#AEB7C0;
  --border-color1:#CCCCCC;
  --border-color2:#E3E3E3;
  --border-color3:#B8BDC4;
  --comment-bg:#DFE3EB;
  --comment-bg1:#F4F6F9;
  --comment-bg2:#DFE4EB;
  --link-color:#488FCE;
  --dark-blue:#444488;
  --card-bg:#B1BAC5;
  --green-bg:#78D537;
  --dark-btn-bg:#5C677D;
  --dark-bg:#566373;
  --tool-tip-bg:#333E4F;
  --orange-bg:#FFA268;
  --compare-bg:#C5CCD8;
  --icon-dark-color:#555B65;
  --icon-active-color:#7C828D;
  --white:#fff;
  --check-bg:#D8D8D8;
  --success-bg:#80AB88;
  --light-text:#7E8BA3;
  --yellow-light:#f9e076;
  --light-gray:#9199A8;
  --bg-black:#1E1D22;
  --bg-button:#5B667E;
  --bg-color2:#E4E9EE;
  --divider-footer:#979797;
  --form-background-color: #dfe8eb;
  --bg-color3:#B2B2B2;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
}

html {
  font-size: 15px;
  line-height: 1.5;
}

html, body {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Verdana", sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.app-bg {
  background-color: var(--comments-header-background-color);
  width: 100%;
  min-height: 100%;
}

.home-header {
  height: 69px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  padding: 0 20px;
  background: rgba(198, 205, 212, 0.7);
  -webkit-backdrop-filter: saturate(100%) blur(6px);
  backdrop-filter: saturate(100%) blur(6px);
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  position: relative;
  z-index: 8;
  max-width: 1280px;
  margin: auto;
}
@media (min-width: 1440px) {
  .header-inner {
    max-width: 1440px;
  }
}
.header-inner .home-logo {
  width: 175px;
}
@media (max-width: 600px) {
  .header-inner .home-logo {
    width: auto;
    margin-right: 24px;
  }
}
.header-inner .home-logo img {
  max-width: 120px;
  width: 100%;
}
@media (max-width: 600px) {
  .header-inner .home-logo img {
    max-width: 100px;
  }
}
.header-inner .header-left {
  display: flex;
  width: 100%;
  flex-grow: 1;
}
.header-inner .home-navigation {
  position: relative;
  display: flex;
}
@media (max-width: 767px) {
  .header-inner .home-navigation {
    display: none;
  }
}
.header-inner .home-navigation ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.header-inner .home-navigation ul li {
  margin-right: 40px;
  font-size: 0.875rem;
  font-weight: 700;
}
.header-inner .home-navigation ul li a {
  color: var(--default-font-color);
  text-decoration: none;
}
.header-inner .home-navigation ul li a.active {
  color: var(--button-red);
}

.demo-button, a.demo-button {
  margin: 0 20px 0 0;
  font-size: 0.9375rem;
  font-weight: bold;
  padding: 0px 18px;
  cursor: pointer;
  border-radius: 24px;
  border: 1px solid var(--button-red);
  background-color: var(--button-red);
  color: #fff;
  white-space: nowrap;
  text-transform: uppercase;
  font-family: "Open Sans", "Helvetica Neue", "Verdana", sans-serif;
  letter-spacing: 0.2em;
  height: 34px;
  display: flex;
  align-items: center;
}
@media (max-width: 600px) {
  .demo-button, a.demo-button {
    padding: 0px 10px;
    font-size: 0.875rem;
    margin: 0 10px 0 0;
  }
}

.vd-button, a.vd-button {
  margin: 0 0 0 0;
  font-size: 0.9375rem;
  font-weight: bold;
  padding: 0px 18px;
  cursor: pointer;
  border-radius: 24px;
  border: 1px solid var(--bg-button);
  background-color: var(--bg-button);
  color: #fff;
  white-space: nowrap;
  text-transform: uppercase;
  font-family: "Open Sans", "Helvetica Neue", "Verdana", sans-serif;
  letter-spacing: 0.2em;
  height: 34px;
  display: flex;
  align-items: center;
}
@media (max-width: 600px) {
  .vd-button, a.vd-button {
    padding: 0px 10px;
    font-size: 0.875rem;
  }
}

.login-btn {
  background: #fff;
  width: 38px;
  min-width: 38px;
  height: 38px;
  border-radius: 100%;
  border: 0;
}
.login-btn .login-ic {
  width: 20px;
  height: 20px;
  display: flex;
  mask-size: 20px 20px;
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-image: var(--icon-file);
  -webkit-mask-size: 20px 20px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center center;
  -webkit-mask-image: var(--icon-file);
  background-color: #555B65;
  --icon-file: url("../images/user-login.svg");
  margin: auto;
}

.header-right {
  min-width: 280px;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 600px) {
  .header-right {
    min-width: 200px;
  }
}

.header-bn-wrap {
  display: flex;
  align-items: center;
}

.ineline-block {
  display: inline-block;
}

.main-banner {
  min-height: 600px;
  display: flex;
  position: relative;
}
.main-banner.border-b {
  border-bottom: 1px solid #979797;
}
@media (max-width: 767px) {
  .main-banner {
    min-height: 700px;
  }
}
.main-banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  position: absolute;
}
.main-banner .banner-content {
  display: flex;
  flex-direction: column;
  padding: 110px 0;
  width: 100%;
  max-width: 740px;
  z-index: 2;
  color: var(--default-font-color);
}
@media (max-width: 1024px) {
  .main-banner .banner-content {
    justify-content: flex-start;
    padding-top: 100px;
    max-width: 600px;
  }
}
.main-banner .banner-content h1.home-title {
  font-size: 2.625rem;
  font-weight: 700;
  color: var(--default-font-color);
  margin-bottom: 24px;
  line-height: 1.2;
}
@media (max-width: 1024px) {
  .main-banner .banner-content h1.home-title {
    font-size: 1.75rem;
    margin-bottom: 20px;
  }
}
.main-banner .banner-content .title2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--default-font-color);
  margin-bottom: 24px;
}
@media (max-width: 1024px) {
  .main-banner .banner-content .title2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
}
.main-banner .banner-content .banner-info {
  margin-bottom: 24px;
}
.main-banner .banner-content .banner-info p {
  font-size: 1.5rem;
  line-height: 1.5;
}
@media (max-width: 1024px) {
  .main-banner .banner-content .banner-info p {
    font-size: 1rem;
  }
}

.title1 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--default-font-color);
  margin-bottom: 24px;
}
@media (max-width: 1024px) {
  .title1 {
    font-size: 1.75rem;
    margin-bottom: 20px;
  }
}

.content-wrap {
  height: 100%;
  width: 57%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  padding-left: 16px;
}
@media (min-width: 1367px) {
  .content-wrap {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .content-wrap {
    width: 70%;
  }
}
@media (max-width: 767px) {
  .content-wrap {
    width: 100%;
    justify-content: center;
    padding: 0 16px;
  }
}

.action-btn {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .action-btn {
    flex-direction: column;
    align-items: flex-start;
  }
  .action-btn .demo-button, .action-btn a.demo-button {
    margin: 0 0 20px 0;
    width: 161px;
  }
  .action-btn .vd-button, .action-btn a.vd-button {
    width: 202px;
  }
}

.co-piolt-sec {
  background: var(--bg-black);
  padding: 90px 0;
}
@media (max-width: 1024px) {
  .co-piolt-sec {
    padding: 40px 20px;
  }
}

.summary-sec {
  background: var(--check-bg);
  padding: 90px 0;
}
@media (max-width: 1024px) {
  .summary-sec {
    padding: 40px 20px;
  }
}

.legal-sec {
  background: var(--bg-color2);
  padding: 90px 0;
}
.legal-sec.dark-bg {
  background: var(--bg-color3);
}
.legal-sec.dark-bg1 {
  background: #C6CDD4;
}
.legal-sec.black-bg {
  background: var(--bg-black);
}
@media (max-width: 1024px) {
  .legal-sec {
    padding: 40px 20px;
  }
}
.legal-sec .btn-space {
  margin-left: 20px;
}
@media (max-width: 1024px) {
  .legal-sec .btn-space {
    margin-left: 0;
    margin-top: 8px;
  }
}

.content-image-sec {
  max-width: 1280px;
  margin: auto;
  display: flex;
  -moz-column-gap: 6%;
       column-gap: 6%;
  flex-direction: row;
}
@media (min-width: 1440px) {
  .content-image-sec {
    max-width: 1440px;
  }
}
@media (max-width: 1024px) {
  .content-image-sec {
    flex-direction: column;
  }
}
.content-image-sec .img-sec {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.content-image-sec .img-sec img {
  max-width: 600px;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
  box-shadow: 0 24px 34px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1024px) {
  .content-image-sec .img-sec {
    width: 100%;
    margin-bottom: 42px;
    justify-content: center;
  }
}
.content-image-sec .content-sec {
  width: 60%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 1024px) {
  .content-image-sec .content-sec {
    width: 100%;
    justify-content: center;
  }
}
.content-image-sec .content-sec .content-align {
  text-align: left;
}
@media (max-width: 1024px) {
  .content-image-sec .content-sec .content-align {
    text-align: center;
  }
}
.content-image-sec .content-sec .info-para {
  font-size: 1.5rem;
  line-height: 1.4;
  color: var(--default-font-color);
  max-width: 740px;
}
@media (max-width: 767px) {
  .content-image-sec .content-sec .info-para {
    font-size: 1rem;
  }
}
.content-image-sec .content-sec .info-para p {
  margin-bottom: 32px;
}

.content-image-reverse-sec {
  max-width: 1280px;
  margin: auto;
  display: flex;
  -moz-column-gap: 6%;
       column-gap: 6%;
  flex-direction: row-reverse;
}
@media (min-width: 1440px) {
  .content-image-reverse-sec {
    max-width: 1440px;
  }
}
@media (max-width: 1024px) {
  .content-image-reverse-sec {
    flex-direction: column;
  }
}
.content-image-reverse-sec .img-sec {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.content-image-reverse-sec .img-sec img {
  max-width: 600px;
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
  box-shadow: 0 24px 34px rgba(0, 0, 0, 0.25);
}
@media (max-width: 1024px) {
  .content-image-reverse-sec .img-sec {
    width: 100%;
    margin-bottom: 42px;
    justify-content: center;
  }
}
.content-image-reverse-sec .content-sec {
  width: 60%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 1024px) {
  .content-image-reverse-sec .content-sec {
    width: 100%;
    justify-content: center;
  }
}
.content-image-reverse-sec .content-sec .content-align {
  text-align: left;
}
@media (max-width: 1024px) {
  .content-image-reverse-sec .content-sec .content-align {
    text-align: center;
  }
}
.content-image-reverse-sec .content-sec .info-para {
  font-size: 1.5rem;
  line-height: 1.4;
  color: var(--default-font-color);
  max-width: 740px;
}
@media (max-width: 767px) {
  .content-image-reverse-sec .content-sec .info-para {
    font-size: 1rem;
  }
}
.content-image-reverse-sec .content-sec .info-para p {
  margin-bottom: 32px;
}

.home-content-sec {
  max-width: 960px;
  margin: auto;
}
.home-content-sec-lg {
  max-width: 1280px;
  margin: auto;
  width: 100%;
}
@media (max-width: 1240px) {
  .home-content-sec-lg {
    max-width: 1440px;
  }
  .home-content-sec-lg .m-text-center {
    text-align: center;
  }
}
.home-content-sec-lg .m-text-center {
  text-align: center;
}

.heading1 {
  font-size: 2.625rem;
  font-weight: 700;
  color: var(--default-font-color);
  line-height: 1.4;
}
@media (max-width: 1024px) {
  .heading1 {
    font-size: 1.75rem;
  }
}

.footer-bg {
  padding: 90px 0;
  background: var(--comments-header-background-color);
}
@media (max-width: 1024px) {
  .footer-bg {
    padding: 40px 20px;
  }
}

.heading2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.4;
  color: var(--default-font-color);
  font-size: 1.5rem;
}
@media (max-width: 1024px) {
  .heading2 {
    font-size: 1rem;
  }
}

.white-text {
  color: var(--white) !important;
}

.default-text {
  color: var(--default-font-color);
}

.text-center {
  text-align: center;
}

.mb-6 {
  margin-bottom: 24px;
}

.mb-3 {
  margin-bottom: 12px;
}

.pt-6 {
  padding-top: 24px;
}

.ml-5 {
  margin-left: 20px !important;
}

.mr-0 {
  margin-right: 0px !important;
}

.v-middle {
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  .v-middle {
    flex-direction: column;
  }
}

.justify-center {
  justify-content: center;
}

.delivery-items ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 90px;
       column-gap: 90px;
}
@media (max-width: 1024px) {
  .delivery-items ul {
    column: 24px;
    justify-content: center;
  }
}
.delivery-items ul li {
  list-style: none;
  width: 180px;
  flex: 0 1 180px;
  margin-bottom: 24px;
}
@media (max-width: 767px) {
  .delivery-items ul li {
    width: 120px;
    flex: 0 1 120px;
  }
}
.delivery-items ul li .delivery-img {
  width: 120px;
  margin: auto;
  text-align: center;
}
.delivery-items ul li .delivery-img img {
  max-width: 84px;
  height: auto;
}
.delivery-items ul li .delivery-heading {
  font-size: 1.5rem;
  color: var(--default-font-color);
  font-weight: 400;
  line-height: 1.4;
  text-align: center;
}
@media (max-width: 767px) {
  .delivery-items ul li .delivery-heading {
    font-size: 1rem;
  }
}
.delivery-items ul li .delivery-heading a {
  color: var(--default-font-color);
  text-decoration: none;
}

.footer-wrap {
  max-width: 1280px;
  margin: auto;
}
@media (min-width: 1440px) {
  .footer-wrap {
    max-width: 1440px;
  }
}

.footer-top-sec {
  padding-bottom: 30px;
  border-bottom: 1px solid var(--divider-footer);
  display: flex;
}
@media (max-width: 1024px) {
  .footer-top-sec {
    flex-direction: column-reverse;
  }
}
.footer-top-sec .ft-address-sec {
  width: 160px;
  border-right: 1px solid var(--divider-footer);
  padding-right: 52px;
  margin-right: 52px;
}
.footer-top-sec .ft-address-sec .ft-logo {
  margin-bottom: 12px;
}
.footer-top-sec .ft-address-sec .ft-logo img {
  max-width: 120px;
  width: 100%;
}
.footer-top-sec .ft-address-sec .ft-address-info {
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--default-font-color);
}
@media (max-width: 1024px) {
  .footer-top-sec .ft-address-sec {
    width: 100%;
    border-right: 0;
    padding-right: 0;
    margin-right: 0;
    border-top: 1px solid var(--divider-footer);
    padding-top: 20px;
    margin-top: 20px;
  }
}
.footer-top-sec .ft-logo-sec .ft-heading {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--default-font-color);
}
.footer-top-sec .ft-logo-sec .ft-cmp-logo ul {
  padding: 0;
  margin: 0;
  display: flex;
}
.footer-top-sec .ft-logo-sec .ft-cmp-logo ul li {
  width: 100px;
  height: 100px;
  border-radius: 100%;
}
.footer-top-sec .ft-logo-sec .ft-cmp-logo ul li img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
@media (max-width: 1024px) {
  .footer-top-sec .ft-logo-sec .ft-cmp-logo ul li {
    width: 60px;
    height: 60px;
  }
  .footer-top-sec .ft-logo-sec .ft-cmp-logo ul li img {
    width: 60px;
    height: 60px;
  }
  .footer-top-sec .ft-logo-sec .ft-cmp-logo ul li:not(:last-child) {
    margin-right: 10px;
  }
}
.footer-top-sec .ft-logo-sec .ft-cmp-logo ul li:not(:last-child) {
  margin-right: 20px;
}

.ft-copywrite {
  font-size: 0.875rem;
  line-height: 1.5;
}
.ft-copywrite a {
  color: var(--default-font-color);
  font-weight: 700;
  text-decoration: none;
}

.content-outer-wrap {
  display: flex;
  -moz-column-gap: 10%;
       column-gap: 10%;
}
@media (max-width: 767px) {
  .content-outer-wrap {
    flex-direction: column;
  }
}
.content-outer-wrap .content-inner {
  width: 50%;
  flex: 0 1 50%;
}
@media (max-width: 767px) {
  .content-outer-wrap .content-inner {
    width: 100%;
    flex: 0 1 100%;
  }
  .content-outer-wrap .content-inner:first-child {
    margin-bottom: 24px;
  }
}
.content-outer-wrap .content-inner .info {
  font-size: 1.5rem;
  line-height: 1.4;
  color: var(--default-font-color);
  max-width: 740px;
}
.content-outer-wrap .content-inner .info p {
  margin-bottom: 32px;
}
@media (max-width: 767px) {
  .content-outer-wrap .content-inner .info p {
    margin-bottom: 24px;
  }
}
@media (max-width: 767px) {
  .content-outer-wrap .content-inner .info {
    font-size: 1rem;
  }
}

.slide {
  margin: 0;
  padding: 0;
  text-align: center;
}
.slide .h2, .slide h2 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--default-font-color);
}
@media (max-width: 1024px) {
  .slide .h2, .slide h2 {
    font-size: 1.5rem;
  }
}
.slide p {
  line-height: 1.5;
  font-size: 24px;
}
.slide p:not(:last-child) {
  margin: 0 0 32px 0;
}
@media (max-width: 1024px) {
  .slide p {
    font-size: 1rem;
  }
}
.slide-roller {
  background: var(--check-bg);
  padding: 98px 0 50px 0;
}
@media (max-width: 1024px) {
  .slide-roller {
    padding: 40px 0 20px 0;
  }
}
.slide-roller .wrapper {
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .slide-roller .wrapper {
    padding: 0 16px;
  }
}
.slide-roller .wrapper .inner-wrapper {
  padding-bottom: 24px;
}
.slide-roller .scroller {
  text-align: left;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 1024px) {
  .slide-roller .scroller {
    flex-direction: column-reverse;
  }
}
.slide-roller .scroller .scroller-text {
  width: 50%;
}
@media (max-width: 1024px) {
  .slide-roller .scroller .scroller-text {
    width: 100%;
  }
}
.slide-roller .scroller .scroller-text .scroller-slide {
  padding: 24px 0px;
  cursor: pointer;
}
.slide-roller .scroller .scroller-text .scroller-slide:not(:last-child) {
  border-bottom: 1px solid #979797;
}
.slide-roller .scroller .scroller-text .scroller-slide h3 {
  font-size: 16px;
  line-height: 19px;
}
.slide-roller .scroller .scroller-text .scroller-slide-content {
  display: none;
  margin-top: 24px;
}
.slide-roller .scroller .scroller-text .scroller-slide:first-child .scroller-slide-content {
  display: block;
}
.slide-roller .scroller .scroller-image {
  width: 50%;
  text-align: center;
}
@media (max-width: 1024px) {
  .slide-roller .scroller .scroller-image {
    width: 100%;
    margin-bottom: 30px;
  }
}
.slide-roller .scroller .scroller-image .scroller-image-container {
  width: 80%;
  height: auto;
  position: relative;
  margin: 0 auto;
  display: none;
  opacity: 0;
  transition: all 3s;
}
.slide-roller .scroller .scroller-image .scroller-image-container.open {
  display: block;
  opacity: 1;
}
.slide-roller .scroller .scroller-image .scroller-image-container img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  display: block;
  z-index: 100;
  position: relative;
  margin-top: 48px;
  box-shadow: 0 24px 34px rgba(0, 0, 0, 0.25);
}
@media (max-width: 992px) {
  .slide-roller .scroller .scroller-image .scroller-image-container img {
    margin-top: 0;
  }
}

.popup-container {
  width: 100vw;
  height: 100vh;
  min-height: 600px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 999;
  display: none;
  overflow: scroll;
  font-family: var(--default-font);
}
.popup-container.open {
  display: flex;
}
.popup-container h2, .popup-container h3 {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.32px;
  background: linear-gradient(to bottom right, #ffffff, #775d5d);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.popup-container h4 {
  padding: 0;
  margin: 8px 0;
}
.popup-container p {
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.4;
}
.popup-container p.controls {
  margin-top: 0;
}
.popup-container .popup {
  min-width: 860px;
  max-width: 960px;
  height: auto;
  border-radius: 12px;
  overflow: hidden;
}
.popup-container .popup ul, .popup-container .popup ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.popup-container .popup ul > li, .popup-container .popup ol > li {
  position: relative;
  padding-left: 24px;
}
.popup-container .popup ul > li:before, .popup-container .popup ol > li:before {
  content: "-";
  color: var(--logo-color);
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  left: 0px;
  top: -8px;
}
.popup-container .popup .wrapper {
  position: relative;
}
.popup-container .popup .wrapper .close-popups {
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 12px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: var(--logo-color);
  background-image: url(../images/icon-cross.svg);
  background-size: 16px;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 0.3s;
}
.popup-container .popup .wrapper .close-popups:hover {
  transform: rotate(90deg);
}
.popup-container .popup .wrapper .inner-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}
.popup-container .popup-slide {
  width: 50%;
  background-color: #111111;
  color: #fff;
  padding: 0px 6%;
}
.popup-container .popup-slide-image {
  width: auto;
  margin: 48px 0;
}
.popup-container .popup-slide-image-container {
  width: 100%;
  height: auto;
  margin: 6px auto 24px auto;
  position: relative;
}
.popup-container .popup-slide-image-container img {
  width: 90%;
  height: auto;
  border-radius: 12px;
  z-index: 200;
  position: relative;
}
.popup-container .popup-slide-image-container:before {
  content: "";
  width: 86%;
  height: 90%;
  border-radius: 12px;
  background-color: #ffffff;
  display: block;
  z-index: 99;
  position: absolute;
  top: 24px;
  left: 2%;
  opacity: 0.6;
}
.popup-container .popup-slide-image-container:after {
  content: "";
  width: 82%;
  height: 90%;
  border-radius: 12px;
  background-color: #ffffff;
  display: block;
  z-index: 99;
  top: 24px;
  position: absolute;
  top: 32px;
  left: 4%;
  opacity: 0.4;
}
.popup-container .popup-slide-text {
  width: auto;
  margin: 12px 0;
}
.popup-container .popup-form {
  width: 50%;
  background-color: var(--form-background-color);
  color: var(--default-dark-font-color);
  padding: 24px 4% 12px 4%;
  text-align: center;
}
.popup-container .popup-form a {
  color: #000;
  text-decoration: underline;
}
.popup-container .popup-form-wrapper {
  padding: 12px 24px;
}
.popup-container .popup-form .logo {
  background-image: url(images/simpleo-ai-logo@4x.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 24px;
  width: auto;
  margin: 24px 0 24px 0;
}
@media all and (max-height: 720px) {
  .popup-container .popup-form .logo {
    height: 20px;
    margin: 12px 0 12px 0;
  }
}
.popup-container .popup-form-container form {
  text-align: left;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

.button {
  margin: 0 0 0 6px;
  font-weight: bold;
  padding: 6px 18px;
  cursor: pointer;
}
.button-flat {
  border-radius: 34px;
  border: 1px solid #ffffff;
}
.button-red {
  border-radius: 34px;
  border: 1px solid var(--button-red);
  background-color: var(--button-red);
  color: #fff;
}
.button-red-outline {
  border-radius: 34px;
  border: 1px solid var(--button-red);
  color: var(--button-red);
}
.button:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid var(--button-red);
}

span.forgot-password {
  text-align: right;
}

input {
  font-family: "Montserrat", sans-serif;
}

label {
  font-size: 14px;
  margin-top: 12px;
  margin-bottom: 2px;
  display: inline-block;
}
@media all and (max-height: 720px) {
  label {
    margin: 2px 0px;
    font-size: 10px;
  }
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}
.controls span {
  flex-grow: 4;
}

.checkbox-label {
  margin-top: 0;
  cursor: pointer;
}

input[type=text], input[type=email], input[type=password], input[type=tel] {
  -webkit-appearance: none;
  display: inline-block;
  border-radius: 8px;
  border: 1px solid #ccc;
  height: 42px;
  width: 360px;
  font-size: 14px;
  color: var(--default-font-color);
  padding: 12px;
  box-sizing: border-box;
}
@media all and (max-height: 720px) {
  input[type=text], input[type=email], input[type=password], input[type=tel] {
    height: 36px;
  }
}

input[type=submit], input[type=button] {
  -webkit-appearance: none;
  display: inline-block;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: var(--button-red);
  border: 1px solid var(--button-red);
  height: 42px;
  width: 360px;
}
@media all and (max-height: 720px) {
  input[type=submit], input[type=button] {
    height: 36px;
  }
}

input[type=checkbox] {
  -webkit-appearance: none;
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #999;
  height: 14px;
  width: 14px;
  vertical-align: middle;
  margin-right: 6px;
  margin-top: -1px;
}
input[type=checkbox]:checked {
  background-color: var(--button-red);
  border-color: var(--button-red);
}

.popup-container {
  width: 100vw;
  height: 100vh;
  min-height: 600px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  z-index: 999;
  display: none;
  overflow: scroll;
  font-family: var(--default-font);
  color: var(--default-font-color);
}
.popup-container.open {
  display: flex;
  overflow: hidden;
}
.popup-container .popup .close-popups {
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 12px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: var(--logo-color);
  background-image: url(images/icon-cross.svg);
  background-size: 16px;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all 0.3s;
  z-index: 999;
}
.popup-container .popup .close-popups:hover {
  transform: rotate(90deg);
}
.popup-container .popup .files-share-list {
  width: 100%;
  min-height: 480px;
  max-height: 80vh;
  overflow: scroll;
}
.popup-container .popup .files-share-list .wrapper {
  padding: 12px 2%;
  width: 96%;
}
.popup-container .popup .files-share-list .wrapper.sticky {
  position: sticky;
  padding-top: 24px;
  top: 0;
  background-color: #fff;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
}
.popup-container .popup .files-share-list .file-item {
  width: 100%;
}
.popup-container .popup .files-share-list input[type=search] {
  padding: 12px;
  width: 75%;
}

input {
  font-family: var(--default-font);
  margin-bottom: 8px;
}

input[type=checkbox], input[type=radio] {
  margin-bottom: 0;
}

.button {
  margin: 0 0 0 6px;
  font-weight: bold;
  padding: 6px 24px;
  cursor: pointer;
  font-size: 15px;
  text-transform: uppercase;
  font-family: var(--default-font);
}

label {
  margin-bottom: 4px;
}/*# sourceMappingURL=home-page.css.map */