.content-sec .left-section .compliance-section-inner{
			max-width: 100%;
			margin: auto;
			height: 100%;
			overflow-y: auto;
			overflow-x:hidden;
			padding-right: 10px;

			&::-webkit-scrollbar {
				background-color: transparent;
				width: 8px;
			}
			&:hover::-webkit-scrollbar {
				width: 8px;
		   }
		   &:hover::-webkit-scrollbar-thumb {
			background-color: rgba(0, 0, 0, .2);
			border-radius: 24px;
	   }
}
.linktoggle-sec{
	background: var(--white);
	border-radius: 6px;
	padding: 4px;
	ul{
		display: flex;
		li{
			&:not(:last-child){
				margin-right: 10px;
			}
			a{
				padding: 6px 10px;
				color: var(--light-text);
				border-radius: 6px;
				display: block;
				font-size: size(14);
				font-weight: 500;
				&.active{
					background: var(--logo-color);
					color: var(--white);
				}
			}
		}
	}
}
.card-bg{
	background: var(--menu-active);
	border-radius: 12px;
}
.comp-dash-row{
	display: flex;
	gap: 24px;
	min-height: 150px;
	.comp-dash-w{
		flex:0 1 33.33%;
		padding:24px 0;
		width:100%;max-width: 100%;
		color: var(--default-font-color);
		.card-t{
			display: flex;
			flex-direction: row;
			border-bottom: 1px solid var(--border-color4);
			padding:0 24px 16px 24px;
			align-items: center;
		}
		.card-b-sec{
			display: flex;
			padding:24px 24px 0 24px;
			.card-inner{flex: 0 1 33.33%;width:100%;max-width: 100%;}

		}
		.text-sm{
			font-size: size(12);
			line-height: 1.5;

		}
		.text-lg{
			font-size: size(30);
			line-height: 1.5;
		}
		.card-ic-w{width: 40px;height: 40px;
		img{max-width: 40px;max-height: 40px;}
		}
		.card-alert-box{background: var(--alert-number-bg);font-size:size(12);font-weight: 500;display: inline-flex;align-items: center;justify-content: center; width:30px;height: 24px;border-radius: 100%;color:var(--alert-number-color)}
	}
}

.card-heading{position: relative;}
.user-profile-sec{
	display: flex;
	font-size: size(16);
	padding: 4px 16px;
	.user-img{
		width: 32px;
		height: 32px;
		img{
			max-width: 32px;
			max-height: 32px;
		}
	}
}
.compliance-escalated{
	padding: 24px 0;
	.escalated-t{
		display: flex;
		flex-direction: row;
		border-bottom: 1px solid var(--border-color4);
		padding:0 24px 16px 24px;
		align-items: center;
	}
	.escalated-b-sec{
		padding:24px 24px 0 24px;
	}
}
.close-btn{
	cursor: pointer;                  
	width:20px;
	height: 20px;
	display: flex;
	mask-size: 20px 20px;
	mask-repeat: no-repeat;
	mask-position: center center;
	mask-image: var(--background);
	-webkit-mask-size: 20px 20px;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center center;
	-webkit-mask-image: var(--background);
	background-size: cover;
	background-color:#232323 ;
	--background: url(../images/close-btn.svg);	
	background-color:#A1A1AA;

	&:hover{
		background-color: #232323;

	}
}
.compliance-select{
	background:url(../images/select-arrow1.png) no-repeat 98% center;
	appearance: none;
	padding: 8px 12px;
	border: 1px solid var(--border-color4);
	border-radius: 4px;
	font-family: var(--default-font);
	background-color: var(--menu-active);
	font-size: size(14);
	&:focus-visible{
		// border: 2px solid #9CB1C6;
		outline: 1px solid #9CB1C6;

	}
}
.inpt-style{width: 100%;border:0; border-radius: 6px;padding: 5px;border: 1px solid var(--border-color4);background-color: var(--menu-active);
}
.icon-btn{
	min-width: 48px;
	// padding: 10px;
	border:1px solid var(--border-color4);
	height: 32px;
	line-height: 1;
	background: transparent;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	cursor: pointer;
}
.upload-ic,.print-ic{
	width:16px;
	height: 16px;
	display: flex;
	mask-size: 16px 16px;
	mask-repeat: no-repeat;
	mask-position: center center;
	mask-image: var(--background);
	-webkit-mask-size: 16px 16px;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center center;
	-webkit-mask-image: var(--background);
	background-size: cover;
	background-color:#232323 ;
}
.upload-ic{
	--background: url(../images/UploadSimple.svg);
}
.print-ic{
	--background: url(../images/Printer.svg);
}
.table-shorting{
	display: flex;
	width: 100%;
	overflow: auto;
	table{
		width: 100%;
		border:0;
		border-collapse: collapse;
		tr.first-row{
			background: var(--alert-number-bg);
			border-bottom: 0;

			th:first-child{
				border-radius: 12px 0 0 12px;
			}
			th:last-child{
				border-radius: 0 12px 12px 0;
			}
			&:hover{background: var(--alert-number-bg);}
		}
		tr{
			&:not(:last-child){
				border-bottom: 1px solid var(--border-color4);
			}
			&:hover{
				background: #EFF5FA;
				cursor: pointer;
				
			}

		}
		th{
			text-align: left;
			padding: 12px;
			font-size: size(12);
			font-weight: 600;
			color: #71717A;
			// background: var(--alert-number-bg);
		}
		td{
			text-align: left;
			padding: 12px;
			font-size: size(14);
			color: var(--default-font-color);


		}
	}
	.use-img{
		min-width: 24px;
		width: 24px;
		height: 24px;
		border-radius: 100%;
		img{
			width: 24px;
			height: 24px;
			object-fit: cover;
			border-radius: 100%;

		}
	}
}
.escalated-filter-sec{
	display: flex;
	gap: 24px;
	.col-w{
		flex: 1 0 auto;
	}
	
}
.department-sec{
	padding: 24px;
	.chart-sec{
		position: relative;		
	}
}
.chart-img{
	img{
		width: 100%;
		height: auto;
		object-fit: cover;
	}
}
.compliance-sec-row{
	display: flex;
	gap: 12px;
	min-height: 300px;
 
	.col-50{
	   flex: 1 1 50%;
	   width: 100%;
	   max-width: 100%;
	}
 
	.inner-card{
	   background: var(--comment-bg);
	   border-radius: 6px;
	   padding: 16px 12px;
	   display: flex;
	   flex-direction: column;
	   justify-content: space-between;
 
	}
	
 }
.high-bg{background: var(--high-bg);color: var(--white);}
.moderate-bg{background: var(--moderate-bg);color: var(--white);}
.medium-bg{background: var(--medium-bg);color: var(--white);}
.low-bg{background: var(--low-bg);color: var(--white);}
.lighter-high-bg{background: var(--light-high-bg);color: var(--high-bg);}
.lighter-moderate-bg{background: var(--light-moderate-bg);color: var(--moderate-bg);}
.lighter-medium-bg{background: var(--light-medium-bg);color: var(--medium-bg);}
.lighter-low-bg{background: var(--light-low-bg);color: var(--low-bg);}
.alert-btn-size{
	border-radius: 12px;height: 20px;padding: 0 8px;font-size:size(12);display: inline-flex;justify-content: center;align-items: center;	
}

.table-sorting-btn{display: inline-flex;padding:0 8px;
img {max-width: 100%; height: auto;}
}
.comp-filter-sec{
	display: flex; 
	gap:20px;
	flex-wrap: wrap;
	.comp-chips-box{
		border-radius: 16px;
		background: var(--alert-number-bg);
		padding: 8px 12px;
		font-size: size(12);
		color: var(--chips-text-color);
		.close-chips{
			cursor: pointer;                  
			width:10px;
			height: 10px;
			display: inline-flex;
			mask-size: 10px 10px;
			mask-repeat: no-repeat;
			mask-position: center center;
			mask-image: var(--background);
			-webkit-mask-size: 10px 10px;
			-webkit-mask-repeat: no-repeat;
			-webkit-mask-position: center center;
			-webkit-mask-image: var(--background);
			background-size: cover;
			background-color:var(--chips-text-color);
			--background: url(../images/close-btn.svg);
			margin-bottom: -1px;	
			&:hover{
				background-color: #232323;
		
			}
		}
		}	
}
.clear-btn{background: transparent;color: var(--logo-color);font-size:size(14);border: 0;cursor: pointer;}
.ob-name-btn{background: transparent;color: var(--logo-color);font-size:size(14);border: 1px solid var(--border-color4);cursor: pointer;padding: 8px 12px;border-radius: 8px;font-weight: 600;}
//obligation
.obligation-inner-sec{
	display: flex;
	gap: 24px;
	.obligation-left{
		padding: 24px;
		min-width: 400px;
		input[type=search] {
			border-radius: 4px;
			-webkit-appearance: none;
			display: block; 
			border: 1px solid var(--border-color4);
			height: 42px;
			font-size: size(14);
			color: var(--default-font-color);
			padding: 12px;
			box-sizing: border-box;
			position: relative;			
			width: 100%;
			box-sizing: border-box;			
			border-radius: 6px;
			background: transparent;
			&:focus-visible{
				outline: 1px solid var(--border-color4);
			}
		
		}
	}
	.obligation-right{
		flex-grow: 1;
	}
}
.obligation-info-card{
	background:var(--box-bg);
	border-radius: 12px;
	.card-t{
		background: var(--menu-active);
		padding: 16px 24px;
		font-size: size(16);
		font-weight: 700;
		border-radius: 12px 12px 0 0;
	}
	.card-middle{
		padding: 16px 24px;
		border-top: 1px solid var(--border-color5);

	}
}
.obligation-raised-box{
	padding: 16px;
	border: 1px solid var(--border-color5);
	border-radius: 6px;
	&.active{
	background: var(--box-bg);
	border: 1px solid var(--box-bg);
	}
	.ob-issue-ic{
		min-width: 20px;
		width:20px;
		height: 20px;
		img{
			width:20px;
			height: 20px;
			object-fit: cover;
		}
	}
}
.ob-btn-size{
	border-radius: 12px;height: 24px;padding: 0 8px;font-size:size(12);display: inline-flex;justify-content: center;align-items: center;
}
.ob-active{background: var(--obligation-active-bg);color: var(--white);}
.ob-Inactive{background: var(--obligation-inactive-bg);color: var(--white);}
// 18march
.note-pencil-ic,.drop-pencil-ic{
	width:16px;
	height: 16px;
	display: flex;
	mask-size: 16px 16px;
	mask-repeat: no-repeat;
	mask-position: center center;
	mask-image: var(--background);
	-webkit-mask-size: 16px 16px;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center center;
	-webkit-mask-image: var(--background);
	background-size: cover;
	background-color:#232323 ;
}
.note-pencil-ic{
	--background: url(../images/NotePencil.svg);
}
.drop-pencil-ic{
	--background: url(../images/CaretDown.svg);
}
.text-light-color1{color: #8E8E8E;}
.mr-2{margin-right: 8px;}
.flex-inline{display: inline-block;}
.obligation-status-sec{
	display: flex; 
	justify-content: space-between;
	.obligation-status-card	{
		flex:1 0 33.33%;
		max-width: 100%;
		.obligation-status-ic{
			width: 32px;
			height: 32px;
			min-width: 32px;
			img{
				max-width: 32px;
				height: 100%;
				object-fit: cover;
			}
		}

	}
}
.obligation-group-card{
	display: flex;
	gap: 24px;
	.obligation-group-left{
		flex: 1 0 56%;
		max-width: 56%;
	}
	.obligation-group-right{
		flex: 1 0 40%;
		max-width: 40%;
	}
}
.periorty-icon{
	min-width: 16px;
	width:16px;
	height: 16px;
img{max-width: 16px;height: 16px; object-fit: cover;}
}

.ob-card-type-sec{
	display: flex;
	justify-content: space-between;
	width: 100%;
	flex-wrap: wrap;
	gap: 32px;
	.ob-detail-card{
		flex: 1 0 45%;
		max-width: 100%;
		// &:first-child{border-right:1px solid var(--border-color5);padding-right: 40px;}
		.detail-card-row{
			display: flex;
			align-items: center;
			justify-content: space-between;
			&:not(:last-child){
				margin-bottom: 24px;
			}
			font-size: size(14);
			.col-heading{min-width: 160px;margin-right: 16px;}
			.col-status{flex-grow: 1;}
		}	
	}
}
.people-info-deail{
	&:not(:last-child){
		margin-bottom: 24px;
	}
	font-size: size(14);
}
.watch-num{background: #E4E9EE;padding: 8px 12px;}
.obligation-tag-sec{
	display: flex; 
	gap:20px;
	flex-wrap: wrap;
	.tag-chips-box{
		border-radius: 16px;
		background: var(--menu-active);
		padding: 8px 12px;
		font-size: size(12);
		font-weight: 500;
		color: var(--alert-number-color);
		
		}	
}
.obligation-description, .obligation-description p{
	font-size: size(12);
	line-height: 1.5;
	color: var(--default-font-color);
	p:not(:last-child){
		margin-bottom: 16px;
	}
}
ul.ob-acc{
	display: flex;
	gap: 24px;
	li{
		padding: 0 10px;
		position: relative;
		color: #9A9AA6;
		cursor: pointer;
		&.active{
			color: var(--logo-color);
		&::after{
			content:'';
			position: absolute;
			bottom:-16px;
			left:0;
			width: 100%;
			height:4px;
			background: var(--logo-color);
		}
		}
	}
}
.task-radio-sec{
	font-size: size(14);
	display: flex;
	align-items: center;
	color:#2F469C;
	font-weight: 600;
	&:not(:last-child){margin-bottom: 12px;}
	input[type=radio]{
		margin-right: 8px;
	}
	input[type=radio]:checked{
		accent-color: #2F469C;
	}
}
.pay-img{min-width: 24px;width: 24px; height: 24px;
	img{max-width: 24px;max-height: 24px;object-fit: cover;border-radius: 100%;}
}