.content-sec{
	position: relative;
	width:100%;
	margin: auto;
	display: flex;
	padding: 0 21px;
	padding-top: 72px;
	// max-width: 1440px;
	box-sizing: border-box; 
	height:  100vh;
	.aside-bar-menu + .left-section{
		padding-left: 0;
	}
	.left-section{
		flex-grow: 1;
		padding-left: 175px;
		@media only screen and (max-width: 1500px) {
			padding-left: 0;
		}
		.left-section-inner{
			max-width: 900px;
			margin: auto;
			height: 100%;
			overflow-y: auto;
			overflow-x:hidden;
			padding-right: 10px;
		}
	// width: calc(100% - 426px);
	// background: red;
	}
	.right-section{
		flex: 1 1 426px;
		min-width:426px;
		max-width: 426px;
		margin-left: 68px;
		@media only screen and (max-width: 1279px) {
			margin-left: 24px;
		}
		.right-section-inner{
			height: 100%;
		
		}
	}
}
.left-inner-sticky{
	background-color: var(--comments-header-background-color);
}
.right-content-sec{
	padding-top: 60px;
}
.left-inner-sticky{
	position: sticky;
	top:0;
	z-index: 1;
}

.right-tab-content,.right-content-sec{
	height:100%;
	overflow-y: auto;
	padding-right: 10px;

}
.right-tab-content {
	display: none;
	&.active{
		display: block;
	}
	h4{padding:0; margin:0 0 12px 0;}	
  }


  
 /* width */
 .content-sec .left-section .left-section-inner::-webkit-scrollbar,.right-tab-content::-webkit-scrollbar,.right-content-sec::-webkit-scrollbar {
	width: 8px;
  }
  
  /* Track */
  .content-sec .left-section .left-section-inner::-webkit-scrollbar-track,.right-tab-content::-webkit-scrollbar,.right-content-sec::-webkit-scrollbar {
	background: #fff; 
  }
   
  /* Handle */
  .content-sec .left-section .left-section-inner::-webkit-scrollbar-thumb,.right-tab-content::-webkit-scrollbar-thumb,.right-content-sec::-webkit-scrollbar-thumb {
	background: #888; 
  }
  
  /* Handle on hover */
  .content-sec .left-section .left-section-inner::-webkit-scrollbar-thumb:hover,.right-tab-content::-webkit-scrollbar-thumb:hover,.right-content-sec::-webkit-scrollbar-thumb:hover{
	background: #555; 
  }