.file-list-card{
   background: var(--comments-background-color);
   padding: 12px;
   width:100%;
   .file-list-row{
      display: flex;
      align-items: center;
      padding: 6px 0;   
     
      &:not(:last-child){
         border-bottom: 1px solid var(--border-color2);
         // margin-bottom: 3px;
      }
      .file-list-checkbox-sec{
         width:30px;
         flex: 0 0 30px;
      }
      .file-list-name{
         width:40%;
         &.left-space{
            padding-left: 36px;
         }
      }
      .file-list-modified{
         width:175px;
         min-width:175px;
         text-align: right;
         padding-right: 36px;
      }
      .file-list-shared{
         width:30%;
      }
      .file-list-action{
         position: relative;
         width:48px;
         flex: 0 0 48px;
         justify-content: right;
         display: flex;
      }
   }
}

.my-d-sugg-file-sec{
   display: flex;
   flex-wrap: wrap;
   min-height: 140px;
   gap: 12px;
   .sugg-card{
      flex: 1 1 200px;
      min-width: 200px;
      max-width: 300px;
      position: relative;
      background: var(--icon-bg);
      border-radius: 4px;
      padding: 12px;
      .file-name{
         font-size: 12px;
         color: var(--default-font-color);
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;

      }
      .file-img-sec{
        margin-top: 10px;
         height: 90px;
         position: relative;
         background: white;
         .file-img{
            height: 90px;
            width: 100%;
            overflow: hidden;
            img{
               padding-top: 12px;
               width: 90%;
               height: auto;
            }
         }
      }
   }
}

.page-breadcrum{
// max-width: 746px;
width: 100%;
   ul{
      &.breadcrum-ul{
         display: flex;
         margin-left: 12px;
         li{
           
            display: flex;
            align-items: center;
               
            .breadcrum-btn{
               background: transparent;
               border: none;
               display: flex;
               align-items: center;
               justify-content: center;
               width: 30px;
               height: 17px;
               padding-right: 16px;
               &::after{
                  content:'';
                  position: absolute;
                  top:50%;
                  transform: translateY(-50%);
                  right:0;
                  background-color:#555B65;
                  width:20px;
                  height: 20px;
                  display: flex;
                  mask-size: 20px 20px;
                  mask-repeat: no-repeat;
                  mask-position: center center;
                  mask-image: var(--background);
                  -webkit-mask-size: 20px 20px;
                  -webkit-mask-repeat: no-repeat;
                  -webkit-mask-position: center center;
                  -webkit-mask-image: var(--background);
                  background-size: cover;
                  --background:url(../images/forward-icon.svg);
               }
               img{
                  display: block;
                  height: 17px;
               }
            }
           &.list{
            list-style: none;
            font-size: size(11);
            margin-bottom: 2px;
          
            &:not(:last-child){
               margin-right: 12px;
            }
            
            a{
               color: var(--text-light-color);
               padding:10px 24px 10px 0;
               font-size: size(12);
               font-weight: 700;
               line-height: 1.1;
               display: block;
               position: relative;
               transition: all 0.3s ease-in;
               white-space: nowrap;
               overflow: hidden;
               text-overflow: ellipsis;
               max-width: 120px;
               &::after{
                  content:'';
                  position: absolute;
                  top:50%;
                  transform: translateY(-50%);
                  right:0;
                  background-color:#555B65;
                  width:20px;
                  height: 20px;
                  display: flex;
                  mask-size: 20px 20px;
                  mask-repeat: no-repeat;
                  mask-position: center center;
                  mask-image: var(--background);
                  -webkit-mask-size: 20px 20px;
                  -webkit-mask-repeat: no-repeat;
                  -webkit-mask-position: center center;
                  -webkit-mask-image: var(--background);
                  background-size: cover;
                  --background:url(../images/forward-icon.svg);
               }
               &:hover,&.active{
                  font-weight: 700;
               }
            }
            &:last-child{
               a{
                  &::after{
                     display: none;
                  }
               }
            }
           }
         }
      }
   
    
   }
}
//filter menu css
.filter-sec{
   margin-bottom: 20px;
   display: flex;
   gap: 10px;
   align-items: center;
   margin-left: 12px;
}
.file-btn{
   background: var(--tab-bg);
   padding: 10px 10px;
   border:none;
   border-radius: 4px;
   font-size:size(12);
   line-height: 1;
&.close-icon{
   position: relative;
   padding-right: 30px;
   &::after{
      content:'';
      position: absolute;
      top:50%;
      transform: translateY(-50%);
      right: 10px;
      width:12px;
      height:12px;
      background: url(../images/icon-cross-dark.svg);
      background-size: cover;

   }
}
}
.file-btn1{
   background: var(--icon-bg);
   padding: 10px 10px;
   border:none;
   border-radius: 4px;
   font-size:size(12);
   line-height: 1;
&.down-icon{
   position: relative;
   padding-right: 30px;
   &::after{
      content:'';
      position: absolute;
      top:50%;
      transform: translateY(-50%) rotate(90deg);
      right: 10px;
      width:12px;
      height:12px;
      background: url(../images/forward-icon.svg);
      background-size: cover;

   }
}
}
.filter-menu-modal{
   position: relative;
    &:hover{
       .filter-menu-card{
          display: block;
   
          height:auto;
       }
      
    }
 }
.filter-menu-card{
   transition: all 0.3s ease-in;
   display: none;
   height:0;
   background: var(--app-navigation-background-color);
   box-shadow: 0 4px 24px rgba(0, 0, 0, 0.50 );
   padding:10px;
   position: absolute;
   z-index:9;
   min-width:200px;
   width:200px;
   left:0px;
   top:calc(100% + 6px);
   &::before{
      content:'';
      position: absolute;
      border-bottom:10px solid var(--app-navigation-background-color);
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      top:-6px;
      left:10px;
      z-index: 2;
           // transform: rotate(45deg);
      // background: red;
   }
   ul{
      list-style: none;
      li{
         font-size: size(11);
         display: flex;
         justify-content: space-between;
         line-height: 1.4;
         padding:8px 0px 8px 0;
         color: var(--default-font-color);
         &:not(:last-child){
            border-bottom: 1px solid var(--border-color2);
         }         
         a{
            display: block;
            color: var(--default-font-color);
            position: relative;
            font-size: size(11);
            line-height: 1.4;
            &:hover{
               color: var(--default-font-color);
            }           
         }
      .ch-box{
         width: 20px;
         input[type=checkbox]{
            background: var(--check-bg);
            border-color: var(--check-bg);
            cursor: pointer;
         }
         input[type=checkbox]:checked{
            background-color: var(--logo-color);
            border-color: var(--logo-color);
         }
      }

      }
   }
}

//folder section
.folder-sec{
   display: flex;
   flex-wrap: wrap;
   gap: 12px;
   .folder-card{
      flex:1 1 170px;
      min-width:170px;
      max-width:180px;
      position: relative;
      .folder-img{
         margin-right: 10px;
         width: 32px;
         height:32px;
         // margin-bottom: 4px;
         display: flex;
         align-items: center;
         .icon-option-dot{
            position: absolute;
            left: 6px;
            top:20px;
            z-index: 2;
         }
         img{
            max-width: 70px;
            width:100%;
            height: auto;
            display: block;
         }
         .folder-img-color,.folder-img-color1,.folder-img-color2,.folder-img-color3,.folder-img-color4{
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
            min-width: 32px;
            min-height: 32px;
            width:32px;
            height: auto;
            display: flex;
            mask-size: 32px 32px;
            mask-repeat: no-repeat;
            mask-position: center center;
            -webkit-mask-size: 32px 32px;
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-position: center center;         
            background-size: cover; 
            mask-image: var(--background);
            -webkit-mask-image: var(--background); 
         }
         .folder-img-color{
            background-color:#F1C62D ;
            --background: url(../images/folder.svg);
           }
         .folder-img-color1{
            background-color:#fff ;
            --background: url(../images/folder.svg);
           }
           .folder-img-color2{
            background-color:#C4D8E0;
            --background: url(../images/folder.svg);
         }
         .folder-img-color3{
            background-color:#D6DDC7;
            --background: url(../images/folder.svg);
         }
         .folder-img-color4{
            background-color:#E3DDD8;
            --background: url(../images/folder.svg);
         }
      }
      .file-title{
         font-size: size(12);
         line-height: 1.2;
         color: var(--default-font-color);
         font-weight: 600;
         margin-bottom: 2px;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         width:96%;
      }
      .file-info{
         font-size: size(11);
         line-height: 1.2;
         color: var(--default-font-color);
      }
     
   }
}

//

.view-all-header{
   align-items: center;   
   column-gap: 15px;
   button{
   background-color:#a0a7b5;
   border-color:#a0a7b5;
   transition:0.3s;
   &:hover{
      background-color:#9097a3;
      border-color:#9097a3;
      transition:0.3s;
   }
   }
}
.folder-action{
   position: relative;
}
.folder-action .dropdown-container {
   left: 4px;
   width: 120px;
   z-index: 4;
   position: absolute;
   background: #fff;
   top: 48px;
   box-shadow: 0 6px 12px rgba(0,0,0,.2);
   border-radius: 8px;
}
.folder-action .dropdown-container .dropdown-box {
   position: absolute;
   width: 120px;
   background: #fff;
   z-index: 5;
   box-shadow: 0 6px 12px rgba(0,0,0,.2);
   border-radius: 8px;
   font-size: 12px;
   color: #232323;
}
.folder-action .dropdown-container ul {
   list-style: none;
   margin: 0;
   padding: 8px 0;
}
.folder-action .dropdown-container ul li {
   text-align: left;
   padding: 8px 12px;
   user-select: none;
   &:not(:last-child){
      border-bottom: 1px solid #e3e3e3;
   }
}
.folder-action .dropdown-container .notch {
   background: #fff;
   position: absolute;
   top: -4px;
   left: 8px;
   width: 12px;
   height: 12px;
   z-index: 2;
   transform: rotate(45deg);
   box-shadow: 0 0px 21px 3px rgba(0,0,0,.2);
}
.added-new-file-row{
   background: var(--yellow-light-bg);
   padding: 6px 12px!important;
   margin: 0 -12px;
.new-file-upload{
   color: var(--logo-color);
   margin-right: 3px;
   font-weight: 600;
}
}
.mytips-fix{
   position: fixed;
   height: 30px;
}
.folder-col{
position: relative;
background:var(--comment-bg);
border-radius: 6px;
display: flex;
align-items: center;
padding: 12px;
&:hover{
   background: var(--white);
}
}


.src-sec{
   .magnifier-input{
      border-radius: 24px;
      background: #F2F2F2;
      min-width: 100px;
      width: 160px;
      outline: none;
      padding:0 30px 0 24px;
      -webkit-appearance:none;
      appearance: none;
      font-size: size(12);
      &:focus{
         width: 300px;
      }
   }
   padding: 4px;
   position: relative;
   .magnifier-btn{
      position: absolute;
      top:10px;right:20px;background: transparent;border: none;
   &:hover{background: transparent;cursor: pointer;}
   }
   .magnifier-ic{
      width: 24px;
      height: 24px;
      display: flex;
      mask-size: 24px 24px;
      mask-repeat: no-repeat;
      mask-position: center center;
      mask-image: var(--icon-file);
      -webkit-mask-size: 24px 24px;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center center;
      -webkit-mask-image: var(--icon-file);
      background-color: #5C677D;
      --icon-file: url("../images/search-icon.svg"); 
   }

   .folder-suggestion-list{
      background: var(--app-navigation-background-color);
      box-shadow: 0 18px 24px rgba(0, 0, 0, 0.20);
      padding: 12px;
      border-radius: 0 0 12px 12px;
      position: absolute;
      z-index:3;
      top:calc(100% - 4px);
      left:24px;
      width:calc(100% - 50px);
      
      ul{ 
         list-style: none;
         height: 200px;
         overflow-y: auto;
         &::-webkit-scrollbar {
            background-color: transparent;
            width: 8px;
         }
            &::-webkit-scrollbar-thumb {
               background-color: rgba(0, 0, 0, .2);
               border-radius: 24px;
            }
         li{
            color:var(--default-font-color);;
            font-size: size(12);
            padding:6px 0;
            &:not(:last-child){
               border-bottom: 1px solid var(--border-color2);
            }
         

         }
      }
     }
}
