//dashboar outer structure
.content-sec .left-section{
	&.left-divider-sec{
	   .report-section-inner{
		  max-width:100%;
		  margin: initial;		  
	   }
	   .report-inner-sticky{
		  max-width:100%;
		//   max-width: 900px;
		  background: var(--comments-header-background-color);
	   }
	}
 }

 .report-inner-sticky{
	position: sticky;
	top:0;
	z-index: 1;
}
.content-sec .left-section{
	.report-section-inner{
		max-width: 1000px;
		margin: auto;
		height: 100%;
		overflow-y: auto;
		overflow-x:hidden;
		padding-right: 10px;
		padding-bottom: 100px;
	
		&::-webkit-scrollbar {
			background-color: transparent;
			width: 8px;
		}
		&:hover::-webkit-scrollbar {
			width: 8px;
	   }
	   &:hover::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, .2);
		border-radius: 24px;
		}
	}
}
.report-card{
	background: var(--comments-background-color);
	padding: 10px;
	width:100%;
} 
.table-outer-wrapper {
    border:1px solid #ccc;
    max-width:700px;
	position: relative;
}

.scrolling-lock-table-wrapper {
    overflow-x:scroll;
    overflow-y:visible;
    width:100%;
    padding-left: 410px;
}
table.report-info-list{
	border-collapse: 0;
	padding: 10px;
}
table.report-info-list td, table.report-info-list th {
    padding: 5px 20px;
    text-align:left;
    white-space: nowrap;
    text-align:left;
	font-size: size(12);
	background: transparent;
}
table.report-info-list th:nth-of-type(1), table.report-info-list td:nth-of-type(1) {
    position: absolute;
    left: 0;
    width: 40px;
	background: #fff;
}

table.report-info-list th:nth-of-type(2), table.report-info-list td:nth-of-type(2) {
    position: absolute;
    left: 40px;
    width: 120px;
	background: #fff;
}

table.report-info-list th:nth-of-type(3), table.report-info-list td:nth-of-type(3) {
    position: absolute;
    left: 160px;
    width: 250px;
	background: #fff;
}

.td-info{
	max-width: 100%;
	background: red;
	white-space: normal;
	display: block;
}