//dashboar outer structure
.content-sec .left-section{
	&.left-divider-sec{
	   .report-section-inner{
		//   max-width:100%;
		max-width: 1000px;
		  margin: initial;		  
	   }
	   .report-inner-sticky{
		  max-width:100%;
		//   max-width: 900px;
		  background: var(--comments-header-background-color);
	   }
	}
 }

 .report-inner-sticky{
	position: sticky;
	top:0;
	z-index: 1;
}
.content-sec .left-section{
	.report-section-inner{
		max-width: 1000px;
		margin: auto;
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		padding-right: 10px;
		padding-bottom: 100px;
	
		&::-webkit-scrollbar {
			background-color: transparent;
			width: 8px;
		}
		&:hover::-webkit-scrollbar {
			width: 8px;
	   }
	   &:hover::-webkit-scrollbar-thumb {
		background-color: rgba(0, 0, 0, .2);
		border-radius: 24px;
		}
	}
} 
.report-card{
	background: var(--white);
	padding: 10px;
	width:100%;

} 
.table-outer-wrapper {
    // border:1px solid #ccc;
    // max-width:900px;
	width: 960px;
	min-width: 900px;
	position: relative;
}

.scrolling-lock-table-wrapper {
    overflow-x:auto;
    overflow-y:hidden;
    width:100%;
    padding-left: 368px;
	&::-webkit-scrollbar {
		background-color: transparent;
		height: 8px;
	}
	&:hover::-webkit-scrollbar {
		height: 8px;
   }
   &:hover::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, .2);
	border-radius: 24px;
	}
}
table.report-info-list{
	border-collapse: 0;
	padding: 10px;
}
table.report-info-list th{
	text-transform: uppercase;
}

table.report-info-list td, table.report-info-list th {
    padding: 0 8px;
    text-align:left;
	height: 42px;
    white-space: nowrap;
    text-align:left;
	font-size: size(12);
	background: transparent;
	min-height: 36px;
	background: var(--tab-bg);
	border-bottom: 1px solid #E3E3E3;
}
// table.report-info-list th:nth-of-type(1), table.report-info-list td:nth-of-type(1) {
//     position: absolute;
//     left: 0;
// 	top: auto;
// 	display: inline-flex;
// 	align-items: center;
// 	height: 42px;
//     width: 40px;
// 	background: #fff;
// }

table.report-info-list th:nth-of-type(1), table.report-info-list td:nth-of-type(1) {
    position: absolute;
    left: 0px;
	top: auto;
	display: inline-flex;
	align-items: center;
	height: 42px;
    width: 120px;
	background: #fff;
}

table.report-info-list th:nth-of-type(2), table.report-info-list td:nth-of-type(2) {
    position: absolute;
    left: 120px;
	top: auto;
	display: inline-flex;
	align-items: center;
	height: 42px;
    width: 250px;
	background: #fff;
}
table.report-info-list th:nth-of-type(3), table.report-info-list td:nth-of-type(3) {
    position: absolute;
    left: 370px;
	top: auto;
	display: inline-flex;
	align-items: center;
	height: 42px;
    width: 10px;
	background: #fff;
}
.td-info{
	max-width: 100%;
	background: #fff;
	white-space: normal;
	display: block;
	line-height: 1.5;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.pagination-sec{
	padding: 10px 20px 10px 24px;
	margin-top: 10px;
} 
.pagination{
	position: relative;
	ul{
		padding: 0;
		margin: 0;
		display: flex;
		li{
			list-style: none;
			display: inline-flex;
			height: 20px;
			width: 36px;
			line-height: 1;
			justify-content: center;
			align-items: center;
			border-left:1px solid #C7D6DB;
			&.active{
				font-weight: bold;
			}
		}
	}

}
.per-page{
	border-left:1px solid #C7D6DB;
	padding-left: 8px;
}

.Select-columns-modal{
	position: relative;
	 &:hover{
		.Select-columns-menu-card{
		   display: block;
	
		   height:auto;
		}
	   
	 }
  }
 .Select-columns-menu-card{
	transition: all 0.3s ease-in;
	display: none;
	height:0;
	background: var(--app-navigation-background-color);
	box-shadow: 0 4px 24px rgba(0, 0, 0, 0.50 );
	padding:10px;
	position: absolute;
	z-index:9;
	min-width:200px;
	width:200px;
	left:0px;
	top:calc(100% + 6px);
	&::before{
	   content:'';
	   position: absolute;
	   border-bottom:10px solid var(--app-navigation-background-color);
	   border-left: 8px solid transparent;
	   border-right: 8px solid transparent;
	   top:-6px;
	   left:10px;
	   z-index: 2;
			// transform: rotate(45deg);
	   // background: red;
	}
	ul{
	   list-style: none;
	   li{
		  font-size: size(11);
		  display: flex;
		  justify-content: space-between;
		  line-height: 1.4;
		  padding:8px 0px 8px 0;
		  color: var(--default-font-color);
		  &:not(:last-child){
			 border-bottom: 1px solid var(--border-color2);
		  }         
		  a{
			 display: block;
			 color: var(--text-light-color);
			 position: relative;
			 font-size: size(11);
			 line-height: 1.4;
			 &:hover{
				color: var(--text-light-color);
			 }           
		  }
	   .ch-box{
		  width: 20px;
		  input[type=checkbox]{
			 background: var(--check-bg);
			 border-color: var(--check-bg);
			 cursor: pointer;
		  }
		  input[type=checkbox]:checked{
			 background-color: var(--logo-color);
			 border-color: var(--logo-color);
		  }
	   }
 
	   }
	}
 }
 .download-select-box{
	background: var(--icon-bg);
	padding: 10px 10px;
	border:none;
	border-radius: 4px;
	font-size:size(12);
	color: var(--text-light-color);
	line-height: 1;
 &.down-icon{
	position: relative;
	padding-right: 30px;
	&::after{
	   content:'';
	   position: absolute;
	   top:50%;
	   transform: translateY(-50%) rotate(90deg);
	   right: 10px;
	   width:12px;
	   height:12px;
	   display: flex;
	   mask-size: 12px 12px;
	   mask-repeat: no-repeat;
	   mask-position: center center;
	   mask-image: var(--background);
	   -webkit-mask-size: 12px 12px;
	   -webkit-mask-repeat: no-repeat;
	   -webkit-mask-position: center center;
	   -webkit-mask-image: var(--background);
	   background-size: cover;
	   background-color:#FF6868;
	   --background: url(../images/forward-icon.svg);
 
	}
 }
 }

 .download-button{	
	cursor: pointer;
	border:none;			
	width:20px;
	height: 20px;
	display: flex;
	mask-size: 20px 20px;
	mask-repeat: no-repeat;
	mask-position: center center;
	mask-image: var(--background);
	-webkit-mask-size: 20px 20px;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center center;
	-webkit-mask-image: var(--background);
	background-color: red;
	background: url(../images/download-icons.svg);
	background-size: cover;
	
	
 }
 .apply-btn{
	width:26px;
	height:26px;
	display: flex;
	mask-size: 26px 26px;
	mask-repeat: no-repeat;
	mask-position: center center;
	mask-image: var(--background);
	-webkit-mask-size: 26px 26px;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center center;
	-webkit-mask-image: var(--background);
	background-size: cover;
	background-color:#555B65;
	--background: url(../images/tick-apply.svg);
	cursor: pointer;
 }
 .td-gradient{
	background: rgb(2,0,36)!important;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 100%)!important;
	width: 10px;
	padding: 8px 0 !important;

 }
 .table-search-data{
	display: flex;
	justify-content: flex-end;
	input[type=search] {
		border-radius: 6px;
		-webkit-appearance: none;
		display: block; 
		background-color: #E3E3E3;
		border: 1px solid #E3E3E3;
		height: 38px;
		font-size: size(14);
		color: var(--default-font-color);
		padding: 12px 48px 12px 12px;
		box-sizing: border-box;
		position: relative;			
		width: 100%;
		min-width: 300px;
		box-sizing: border-box;			
	
	}
	.src-btn{
		width:26px;
		height:26px;
		display: flex;
		mask-size: 26px 26px;
		mask-repeat: no-repeat;
		mask-position: center center;
		mask-image: var(--background);
		-webkit-mask-size: 26px 26px;
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-position: center center;
		-webkit-mask-image: var(--background);
		background-size: cover;
		background-color:#555B65;
		--background: url(../images/search-icon.svg);
		cursor: pointer;
		position: absolute;
    right: 16px;
	}
	.table-search{
		display: flex;
		align-items: center;
		position: relative;
	}
 }

 