.toast{
	font-family: 'Open Sans','Helvetica Neue', 'Verdana', sans-serif;
	padding: 12px;
	border-radius: 6px;
	color: #232323;
	font-weight: 700;
	font-size: 0.6875rem;
	margin-bottom: 24px;
	max-width: 500px;
	position: relative;	
}
a {
	text-decoration: none;
	color: #232323;
	}
.forward-arrow {
	padding-right: 18px;
	position: relative;
	display: block;
	&::after{
		position: absolute;
		z-index:2;
		content: '';
		right:0;
		top: 50%;
		transform: translateY(-50%);
		width: 16px;
		height: 16px;    
		mask-size: 16px 16px;
		mask-repeat: no-repeat;
		mask-position: center center;
		mask-image: var(--icon-file);
		-webkit-mask-size: 16px 16px;
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-position: center center;
		-webkit-mask-image: var(--icon-file);
		background-color: #555B65;
		--icon-file: url("../images/forward-icon.svg");
	}
}

.toast-body{
	font-size: 0.6875rem;
	line-height: 1.5;
	font-weight: 400;
	p{
		padding: 0;
		margin: 0;		
	}
}
.mb-1{
	margin-bottom: 4px;
}
.t-success{
	background: #FFFCE3;
}
.toast.t-error{
	background: #ff6868;
	color: #fff;
	a{
		color: #fff;	
	}
}
.t-error{	
	.forward-arrow{
		&::after {
			background-color:#fff;
		}
	}
}
.dot-g,.dot-w{
	width: 11px;
	height: 11px;
	border-radius: 100%;
}
.dot-g {background: #78D537;}
.dot-w {background: #fff;}
.mr-2-5{margin-right: 10px;}
.inline-block{display: inline-block;}