// main css to compile

//fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$font-family-primary:'Open Sans','Helvetica Neue', 'Verdana', sans-serif;
//variables

:root {
	--default-font:'Open Sans','Helvetica Neue', 'Verdana', sans-serif;
	--default-background-color: #dce1e6;
	--comments-background-color: #f4f6f9;
	--comments-header-background-color: #c6cdd4;
	--default-font-color: #232323;
	--app-navigation-background-color: #ffffff;
	--logo-color: #ff6868;
	--button-red: #ef4747;
	--link-color: #121212;
	--icon-bg:#E0E4E7;
	--tab-bg:#F0F2F5;
	--text-light-color:#525252;
	--border-color:#AEB7C0;
	--border-color1:#CCCCCC;
	--border-color2:#E3E3E3;
	--border-color3:#B8BDC4;
	--comment-bg:#DFE3EB;
	--comment-bg1:#F4F6F9;
	--comment-bg2:#DFE4EB;
	--link-color:#488FCE;
	--dark-blue:#444488;
	--card-bg:#B1BAC5;
	--green-bg:#78D537;
	--green-bg1:#7DA379;
	--dark-btn-bg:#5C677D;
	--dark-bg:#566373;
	--tool-tip-bg:#333E4F;
	--orange-bg:#FFA268;
	--compare-bg:#C5CCD8;
	--icon-dark-color:#555B65;
	--icon-active-color:#7C828D;
	--white:#fff;
	--check-bg:#D8D8D8;
	--success-bg:#80AB88;
	--light-text:#7E8BA3;
	--yellow-light:#f9e076;
	--light-gray:#9199A8;
	--yellow-light-bg:#FFFCE3;

	--menu-active:#E4E9EE;
	--lighter-text:#A1A1AA;
	--high-color:#FF0000;
	--moderate-color:#FFB800;
	--low-color:#00D400;
	--high-bg:#F5365C;
	--moderate-bg:#FF8A00;
	--medium-bg:#F9E100;
	--low-bg:#9CB1C6;
	--light-high-bg:#FED8E5;
	--light-moderate-bg:#FEFCE8;
	--light-medium-bg:#FEFDF4;
	--light-low-bg:#F2F9FF;
	--alert-number-bg:#F4F4F5;
	--alert-number-color:#71717A;
	--border-color4:rgba(17, 17, 17, 0.15);
	--chips-text-color:#4F4F4F;
	--box-bg:#EFF5FA;
	--border-color5:rgba(13, 13, 13, 0.1);
	--obligation-inactive-bg:#F31260;
	--obligation-active-bg:#17C964;
	--dark-green:#5E7F84;
	--darker-green:#83A7AD;
	--light-green:#81C2CD;
	--dark-orange:#FFA968;
	--light-orange:#FFC89F;
	--dual-red:#FF7368;
	--light-red:#FFA8A8;

}

$base-size: 16;

//Function to convert px value into rem
@function size($target, $context: $base-size) {
	@return calc($target / $context) * 1rem;
  }
  $base-font-size: size($base-size);
//styles   
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0; 
  }
  ul,ol{
	list-style: none;
  }
html{
	// overflow-y: scroll; 
	font-size:16px;
	line-height: 1.5;
	@media(min-width:1367px){
		font-size:18px;
	}
}
html, body {    
    scroll-behavior: smooth;
	overflow: hidden;
} 

body {
	font-family: $font-family-primary;
	line-height: 1;
	margin: 0;
	padding: 0;
	min-height: 100vh;
}

.container {
	width: auto;
	height: 100vh; //auto;
	background-color: var(--default-background-color);
	color: var(--default-font-color);
	padding: 0;
	margin: 0;
	position: relative;
	overflow: hidden;
	min-width: 980px; //Stop after
	// display: flex;
	// flex-direction: column;
}


//main structure scss file
@import 'app-header';
@import 'app-common';
@import 'middle-outer';
@import 'sidebar-menu';
@import 'app-main';
@import 'app-controls';
//dashboard chart
@import 'tooltip';
@import 'barchart';


@import 'right-sharing-tab';
@import 'right-comments-tab';
@import 'my-drive';
@import 'share-popup';
@import 'dashboard-user';
@import 'admin-setting';
@import 'prompt-chat';
@import 'team';
@import 'search-result';
@import 'empty-state';
@import 'report-page';
@import 'wizard-dashboard';
@import 'toast-new';
@import 'landing-dashboard';
// @import 'app-navigation';
// @import 'app-sidebar';
// @import 'app-dashboard-viewer';
// @import 'app-dashboard-filelister';
// @import 'dataTables';
@import 'table-row-card';
@import '_compliance-dash';
@import 'record-obligation';
@import 'playbook';
@import 'fin-dashboard';
@import 'mfaPopup';



.popup-container {
	width: 100vw;
	height: 100vh;
	min-height: 600px;
	position: fixed; 
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	display: flex;
	align-items: center; 
	justify-content: center;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	z-index: 999;
	display: none;
	overflow: scroll;
	
	&.open {
		display: flex;
	}
	
	.popup {
		min-width: 860px;
		max-width: 960px;
		height: auto;
		border-radius: 12px;
		overflow: hidden;
		background: #fff;
		border-radius: 12px;
		width: 60vw;
		position: relative;
		padding: 0px;
		
		
		.close-popups {
			cursor: pointer;
			position: absolute;
			right: 12px;
			top: 12px;
			width: 24px;
			height: 24px;
			border-radius: 100%;
			background-color: var(--logo-color);
			background-image: url(images/icon-cross.svg);
			background-size: 16px;
			background-position: center center;
			background-repeat: no-repeat;
			transition: all .3s;
			z-index: 999;
			
			&:hover {
				transform: rotate(90deg);
			}
		}
		
		
		
		.files-share-list {
			width: 100%;
			min-height: 480px;
			max-height: 80vh; 
			overflow: scroll;
			
			.wrapper {
				padding: 12px 2%;
				width: 96%;
				
				&.sticky {
					position: sticky; 
					padding-top: 24px;
					top: 0; 
					background-color: #fff;
					box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
				}
			}
			
			.file-item  {
				width: 100%;
				
			}
			
			input[type=search] {
				padding: 12px;
				width: 75%;
				// height: auto;
			}
		}
	}
}
input,button{
	font-family: var(--default-font);
}