.app-bg{
	background-color: var(--default-background-color);
	width: 100%;
	min-height: 100vh;

}
//header
.home-header{
	height: 69px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index:999;
	// padding: 0 20px;
	background:transparent;
	-webkit-backdrop-filter: saturate(100%) blur(8px);
	backdrop-filter: saturate(100%) blur(8px);

}
.header-inner{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	position: relative;
	z-index: 8;
	// max-width: 1280px;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
	@media(min-width:1440px){
		max-width: 1440px;
	}
	.home-logo{
		width:175px;
		@media(max-width:600px){
			width:auto;
			margin-right: 24px;
		}
		img {
			max-width: 124px;
			width: 100%;
			@media(max-width:600px){
				max-width: 100px;
			}
		}
	}
	.header-left{
		display: flex;
		width: 100%;
		flex-grow:1;
	}
	.home-navigation{
		position: relative;
		display: flex;
		@media(max-width:767px){
			display: none;
		}
		ul{
			display: flex;
			align-items: center;
			list-style: none;
			li{
				margin-right: 40px;
				font-size:14px;
				font-weight: 700;

				a{
					color: var(--default-font-color);
					text-decoration: none;
					letter-spacing: 0.025em;			

					&.active{
						color: var(--button-red);
					}
				}
				
				}
		}
	}

}

 .primary-button, a.primary-button {
	margin: 0 20px 0 0;
	font-size: 13px;
	font-weight: bold;
	padding: 0px 18px;
	cursor: pointer;
	border-radius: 24px;
	border: 1px solid var(--logo-color);
	background-color: var(--logo-color);
	color:#fff;
	white-space: nowrap;
	text-transform: uppercase;
	font-family: var(--default-font);
	letter-spacing: 0.2em;
	height: 32px;
	line-height: 1px;
    display: flex;
    align-items: center;
	justify-content: center;
	@media(max-width:600px){
		padding: 0px 10px;
		font-size: 14px;
		margin: 0 10px 0 0;
	}
 }
 .form-button{
	margin: 0 20px 0 0;
	font-size: 18px;
	font-weight: bold;
	padding: 22px 32px;
	cursor: pointer;
	border-radius: 8px;
	border: 1px solid var(--logo-color);
	background-color: var(--logo-color);
	color:#fff;
	white-space: nowrap;
	font-family: var(--default-font);
	letter-spacing: 0.2em;
	line-height: 1px;
    display: flex;
    align-items: center;
	justify-content: center;
	@media(max-width:600px){
		padding: 0px 10px;
		font-size: 14px;
		margin: 0 10px 0 0;
	}
 }
 .vd-button,a.vd-button {
	margin: 0 0 0 0;
	font-size:15px;
	font-weight: bold;
	padding: 0px 18px;
	cursor: pointer;
	border-radius: 24px;
	border: 1px solid var(--bg-button);
	background-color: var(--bg-button);
	color:#fff;
	white-space: nowrap;
	text-transform: uppercase;
	font-family: var(--default-font);
	letter-spacing: 0.2em;
	// height: 34px;
    display: flex;
    align-items: center;
	justify-content: center;
	@media(max-width:600px){
		padding: 0px 10px;
		font-size: 14px;
	}
 }
 .login-btn{
	background: #fff;
	width:38px;
	min-width: 38px;
	height: 38px;
	border-radius: 100%;
	border: 0;
	.login-ic{
		width: 20px;
		height: 20px;
		display: flex;
		mask-size: 20px 20px;
		mask-repeat: no-repeat;
		mask-position: center center;
		mask-image: var(--icon-file);
		-webkit-mask-size: 20px 20px;
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-position: center center;
		-webkit-mask-image: var(--icon-file);
		background-color: #555B65;
		--icon-file: url("../images/user-login.svg");
		margin: auto;
		
	}
 }
 .header-right{
	min-width: 280px;
	display: flex;
    justify-content: flex-end;
	@media(max-width:600px){
		min-width: 200px;
	}
 }
 .header-bn-wrap{
	display: flex;
	align-items: center;
 }
.ineline-block{display: inline-block;}
 //banner
 .cont-sec{
padding-top: 140px;
padding-bottom: 95px;
 }
 .container{
	max-width: 1280px;
	padding-left: 20px;
	padding-right: 20px;
	margin: auto;
	position: relative;

	@media(min-width:1367px){
		max-width: 1440px;
	}
}
.main-wrap{
	padding-top: 100px;
}
h1,.h1{
	font-size: 42px;
	font-family: var(--default-font);
	letter-spacing: 0.025em;

}
.tracking-wide{letter-spacing: 0.025em;}
.cont-sec-inner{
	display: flex;
	justify-content: space-between;
	padding-bottom: 95px;

	.info-left{
		max-width: 620px;
		.info-para{
			font-size: 22px;
			font-weight: 700;
			line-height: 1.364;
		}
	}
	.icon-right{
		width:160px;
	img{
		max-width: 160px;
		max-height: 160px;
	}
	}
}
.text-color-default{color: var(--default-font-color);}
.contract-row{
	display: flex;
	gap:16px;
	border-bottom: 1px solid var(--divider-footer);
	padding-bottom: 54px;
	.col4{
		flex: 0 1 25%;
		max-width: 25%;
		transition: all .3s ease;
		padding: 16px;

		.readmore-link{
			opacity: 0;
		}
		&:hover{
			background: #fff;
			border-radius: 6px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
			.readmore-link{
				opacity: 1;
			}
		}
	}
	.icon-img{
		margin-bottom: 24px;
		height: 64px;
		img{
			max-width: 64px;
			max-height: 64px;
		}
	}
	.card-info{
		font-size: 18px;
		line-height: 1.6667;
		p{
		
			font-size: 18px;
			line-height: 1.6667;
			margin-bottom: 16px;	
		}
	}
}
h2,.h2{
	font-size: 24px;
	letter-spacing: 0.025em;
	color: var(--default-font-color);
}
h3,.h3{
	font-size: 22px;
	letter-spacing: 0.025em;
	color: var(--default-font-color);
}
.font-bold{font-weight: 700;}
.mb-4{margin-bottom: 16px;}
.mb-3{margin-bottom: 12px;}
.mb-8{margin-bottom: 32px;}
.mb-2{margin-bottom: 8px;}

.brand-vertical-line{
	position: relative;
	padding-left: 28px;
	&::after{
		content: '';
		width: 8px;
		height: 90%;
		border-radius: 8px;
		position: absolute;
		top:50%;
		transform: translateY(-50%);
		left: 0px;
		background: var(--logo-color);
	}
}
.mb-6{margin-bottom: 24px;}
.relative{position: relative;}
.body-text22{
	font-size: 22px;
	line-height: 1.364;
	color: var(--default-font-color);
	& p{

	font-size: 22px;
	line-height: 1.364;
	color: var(--default-font-color);
	}
}
.body-text{
	font-size: 18px;
	line-height: 1.364;
	font-weight: 400;
	color: var(--default-font-color);
	& p{

	font-size: 18px;
	font-weight: 400;
	line-height: 1.364;
	color: var(--default-font-color);
	}
}
.eff-sec{
	padding-bottom: 95px;
}
.pb-sec{padding-bottom: 95px!important}
.wh-sec{
	padding-bottom: 95px;
	.wh-inner{
		display: flex;
		gap: 42px;
		padding: 32px 0;
		border-bottom: 1px solid var(--divider-footer);
	.wh-col{
		flex: 0 1 33.33%;
		width: 100%;
		transition: all .3s ease;
		padding: 16px;
		.readmore-link{
			opacity: 0;
			margin-top: 10px;
		}
		&:hover{
			background: #fff;
			border-radius: 6px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
			.readmore-link{
				opacity: 1;
			}
		}
	}	
	}
	.wh-img{
		width: 40px;height: 40px;
		img{max-width: 26px;max-height: 26px;}
	}

}
.inner-wrap-sec{padding-bottom: 45px;border-bottom: 1px solid var(--divider-footer);}
.content-max{max-width: 950px;}
.form-group{display: flex;gap: 32px;width: 100%;margin-bottom: 32px;}
.form-item{
	flex: 1 1 50%;max-width: 50%;width: 100%;  position: relative;
	input[type=text], input[type=email], input[type=password], input[type=tel]{
		width: 100%;
		height:48px;
		margin-bottom: 0;
		border-radius: 8px;
		font-family: var(--default-font);
		font-size: 16px;
		border: none;
		color: #000;
	}
	&.error-state{
		label{
			color: var(--button-red)!important;
		}
	}
	input{
		transition: all .3s ease;
		padding: 0 15px;
	}
	label{
		position: absolute;
		cursor: text;
		z-index: 2;
		top: 16px;
		left: 10px;
		font-size: 16px;
		font-weight: 700;
		line-height: 1;
		margin: 0;
		font-weight: bold;
		padding: 0 10px;
		color: #BEBEBE;
		transition: all .3s ease
	}
}

.get-in-touch{
	
}
// .form-item input:focus + label,
// .form-item input:valid + label{
//   font-size: 11px;
//   top: -5px
// }
.form-item input:focus + label,.form-item.filled input + label{
	color: #666;
	top:-16px;
	font-size: 12px;
  }

  .cms-items{
	min-height: 400px;
	display: flex;
	align-items: center;
	// background: red;
	ul{
		display: flex;
		padding: 0;
		margin: 0;
		width: 100%;	
		li{
			width: 140px;
			position: relative;
			height: 132px;
			transition: all 0.3s ease-in;
			&:hover{
				.cms-info-box{
					background: #fff;
					border-radius: 6px;
					box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
					margin-top: -10px;
				}
				.cms-ic-box{
					box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
				}
				.readmore-link{opacity: 1;}
			}
			.h-color{color: var(--logo-color);}
			.cms-ic-box{
				background: #fff;
				width: 54px;
				height: 54px;
				border-radius: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: all 0.3s ease-in;

				img{
					width: 28px;
					height: 28px;
				}
			}
			.readmore-link{
				margin-top: 2px;	
				opacity: 0;
			}
			.cms-info-box{
				// padding-left: 27px;
				font-size: 14px;
				line-height: 1.25;
				color: #666;
				// background: red;
				position: absolute;
				padding: 8px 12px 4px 12px;
				width: 174px;
				left: 12px;
				top:-64px;
				z-index: 2;
				transition: all 0.3s ease-in;

				// display: none;
			}
			.cms-middle{height: 100px;}
			.vt-line{height: 33px;width:1px;background: var(--divider-footer);margin-left: 27px;}
			.hs-line{height: 1px;width:74px;background: var(--divider-footer);flex-grow: 1;}
			.box-m-line{display: flex;align-items: center;}
			&:nth-child(even){
				padding-top: 33px;
				.cms-info-box{
					top:121px;

				}
				&:hover{
					.cms-info-box{
						margin-top: -6px;

					}

				}
			}
			&:last-child{
				width: 56px;
				.cms-info-box{
					left: -80px;

				}
			}
		}
	}
  }
  .cms-ic-w{
	width: 28px;
	height: 28px;
	display: flex;
	mask-size: 28px 28px;
	mask-repeat: no-repeat;
	mask-position: center center;
	mask-image: var(--icon-file);
	-webkit-mask-size: 28px 28px;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center center;
	-webkit-mask-image: var(--icon-file);
	background-color: #7B6C6C;
  }
  .bot-ic {
	--icon-file: url("../images/cms-icons/bot.svg");
}
.user-ic {
	--icon-file: url("../images/cms-icons/user.svg");
}
.comment-ic {
	--icon-file: url("../images/cms-icons/comments.svg");
}
.esign-ic {
	--icon-file: url("../images/cms-icons/sign.svg");
}
.summary-ic {
	--icon-file: url("../images/cms-icons/summary.svg");
}
.api-ic {
	--icon-file: url("../images/cms-icons/related.svg");
}
.risk-ic {
	--icon-file: url("../images/cms-icons/alerts.svg");
}
.obligation-ic {
	--icon-file: url("../images/cms-icons/calendar.svg");
}
.playbook-ic {
	--icon-file: url("../images/cms-icons/playbook.svg");
}
.storage-ic {
	--icon-file: url("../images/cms-icons/search.svg");
}
.business-core{
	--icon-file: url("../images/cms-icons/business-core.svg");	
}
.high-volume{
	--icon-file: url("../images/cms-icons/high-volume.svg");	
}
.unmatched{
	--icon-file: url("../images/cms-icons/unmatched.svg");	
}
.workflow{
	--icon-file: url("../images/cms-icons/workflow.svg");	
}
.functional{
	--icon-file: url("../images/cms-icons/functional.svg");	
}
.secure{
	--icon-file: url("../images/cms-icons/storage-secure.svg");	
}

.why-ic-w{
	width: 40px;
	height: 40px;
	display: flex;
	mask-size: 40px 40px;
	mask-repeat: no-repeat;
	mask-position: center center;
	mask-image: var(--icon-file);
	-webkit-mask-size: 40px 40px;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center center;
	-webkit-mask-image: var(--icon-file);
	background-color: #FF6868;
  }
.contracts-ic-r{
	width: 160px;
	height: 160px;
	display: flex;
	mask-size: 160px 160px;
	mask-repeat: no-repeat;
	mask-position: center center;
	mask-image: var(--icon-file);
	-webkit-mask-size: 160px 160px;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center center;
	-webkit-mask-image: var(--icon-file);
	background-color: #FF6868;
	--icon-file: url("../images/cms-icons/sign.svg");
  }
  .contracts-ic-w{
	width: 64px;
	height: 64px;
	display: flex;
	mask-size: 64px 64px;
	mask-repeat: no-repeat;
	mask-position: center center;
	mask-image: var(--icon-file);
	-webkit-mask-size: 64px 64px;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: center center;
	-webkit-mask-image: var(--icon-file);
	background-color: #FF6868;
  }
  .ic-sign{
	--icon-file: url("../images/cms-icons/sign.svg");
  }
  .ic-interga{
	--icon-file: url("../images/cms-icons/bot.svg");
  }
  .ic-dataRoom{
	--icon-file: url("../images/cms-icons/storage-secure.svg");
  }
  .ic-grc{
	--icon-file: url("../images/cms-icons/workflow.svg");
  }

  a.readmore-link,.readmore-link{
	font-size: 12px;
	color: var(--logo-color);
	text-decoration: none;
	display: block;
	font-weight: 700;
}
.integration-sec{
	display: flex;
	gap: 32px;
	.integration-left{
		flex: 0 1 60%;
		width: 60%;
	}
	.integration-right{
		flex: 0 1 40%;
		width: 40%;
	}
	.integration-info{
		ul{
			padding: 0;
			margin: 0;
			display: flex;
			flex-direction: column;
		}
		li{
			&:not(:last-child){
				margin-bottom: 30px;
			}
		}
	}
}
.justify-between{justify-content: space-between;}
//footer
.ft-pt{padding-top: 30px;}
.footer-bg{
	padding:52px 0 85px 0;

	// background: var(--comments-header-background-color);
	@media(max-width: 1024px){
		padding: 40px 0;
	}

}
.footer-wrap{
	max-width: 1280px;
	padding-left: 20px;
	padding-right: 20px;
	@media(min-width:1440px){
		max-width: 1440px;
	}
	margin: auto;
}
.footer-top-sec{
	padding-bottom: 30px;
	border-bottom:1px solid var(--divider-footer);
	display: flex;
	@media(max-width:1024px){
		flex-direction: column-reverse;
		// border-bottom:0;
		// border-top:1px solid var(--divider-footer);
	}
	.ft-address-sec{
		width: 200px;
		border-right:1px solid var(--divider-footer);
		padding-right: 52px;
		margin-right: 52px;
		.ft-logo{
			margin-bottom: 12px;
			img{
				max-width: 120px;
				width: 100%;
			}
		}
		.ft-address-info{
			font-size: size(14);
			line-height: 1.4;
			color: var(--default-font-color);
			p{
				line-height: 1.4;
			}
		}
		@media(max-width:1024px){
			width: 100%;
			border-right:0;
			padding-right: 0;
			margin-right: 0;
			border-top:1px solid var(--divider-footer);
			padding-top: 20px;
			margin-top: 20px;
		}

	}
	.ft-logo-sec{
		.ft-heading{
			font-size: size(14);
			font-weight: 700;
			color: var(--default-font-color);
		}
		.ft-cmp-logo{
			ul{
				padding: 0;
				margin: 0;
				display: flex;
				li{
					width: 100px;
					height: 100px;
					border-radius: 100%;
					img{
						width: 100px;
						height: 100px;
						object-fit: cover;	
						display: block;
					}
					@media(max-width:1024px){
						width: 60px;
						height: 60px;
						img{
							width: 60px;
							height: 60px;
						}
						&:not(:last-child){
							margin-right: 10px;
						}
					}
					&:not(:last-child){
						margin-right: 20px;
					}
				}
			}
		}
	}
}
.ft-copywrite{
	font-size:size(14);
	line-height: 1.5;
	a{
		color: var(--default-font-color);
		text-decoration: underline;
	}
}
.social-sec{
	ul{
		padding: 0;
		margin: 0;
		display: flex;
		li{
		width: 26px;
		img{
			display: block;
			max-width: 26px;
			height: auto;
		}
		a{
			text-decoration: none;
			&:hover{
				opacity: 0.8;
			}
		}
		&:not(:last-child){
			margin-right: 12px;
		}
		}
	}
}