.app-bg{
	background-color: var(--default-background-color);
	width: 100%;
	min-height: 100vh;

}
//header
.home-header{
	height: 69px;
	width: 100%;
	position: fixed;
	top: 0;
	z-index:999;
	// padding: 0 20px;
	background:transparent;
	-webkit-backdrop-filter: saturate(100%) blur(8px);
	backdrop-filter: saturate(100%) blur(8px);

}
.header-inner{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	position: relative;
	z-index: 8;
	// max-width: 1280px;
	margin: auto;
	padding-left: 20px;
	padding-right: 20px;
	@media(min-width:1440px){
		max-width: 1440px;
	}
	.home-logo{
		width:175px;
		@media(max-width:600px){
			width:auto;
			margin-right: 24px;
		}
		img {
			max-width: 120px;
			width: 100%;
			@media(max-width:600px){
				max-width: 100px;
			}
		}
	}
	.header-left{
		display: flex;
		width: 100%;
		flex-grow:1;
	}
	.home-navigation{
		position: relative;
		display: flex;
		@media(max-width:767px){
			display: none;
		}
		ul{
			display: flex;
			align-items: center;
			list-style: none;
			li{
				margin-right: 40px;
				font-size:14px;
				font-weight: 700;
				a{
					color: var(--default-font-color);
					text-decoration: none;
					&.active{
						color: var(--button-red);
					}
				}
				
				}
		}
	}

}

 .demo-button, a.demo-button {
	margin: 0 20px 0 0;
	font-size: 15px;
	font-weight: bold;
	padding: 0px 18px;
	cursor: pointer;
	border-radius: 24px;
	border: 1px solid var(--logo-color);
	background-color: var(--logo-color);
	color:#fff;
	white-space: nowrap;
	text-transform: uppercase;
	font-family: var(--default-font);
	letter-spacing: 0.2em;
	height: 34px;
    display: flex;
    align-items: center;
	justify-content: center;
	@media(max-width:600px){
		padding: 0px 10px;
		font-size: 14px;
		margin: 0 10px 0 0;
	}
 }
 .vd-button,a.vd-button {
	margin: 0 0 0 0;
	font-size:15px;
	font-weight: bold;
	padding: 0px 18px;
	cursor: pointer;
	border-radius: 24px;
	border: 1px solid var(--bg-button);
	background-color: var(--bg-button);
	color:#fff;
	white-space: nowrap;
	text-transform: uppercase;
	font-family: var(--default-font);
	letter-spacing: 0.2em;
	height: 34px;
    display: flex;
    align-items: center;
	justify-content: center;
	@media(max-width:600px){
		padding: 0px 10px;
		font-size: 14px;
	}
 }
 .login-btn{
	background: #fff;
	width:38px;
	min-width: 38px;
	height: 38px;
	border-radius: 100%;
	border: 0;
	.login-ic{
		width: 20px;
		height: 20px;
		display: flex;
		mask-size: 20px 20px;
		mask-repeat: no-repeat;
		mask-position: center center;
		mask-image: var(--icon-file);
		-webkit-mask-size: 20px 20px;
		-webkit-mask-repeat: no-repeat;
		-webkit-mask-position: center center;
		-webkit-mask-image: var(--icon-file);
		background-color: #555B65;
		--icon-file: url("../images/user-login.svg");
		margin: auto;
		
	}
 }
 .header-right{
	min-width: 280px;
	display: flex;
    justify-content: flex-end;
	@media(max-width:600px){
		min-width: 200px;
	}
 }
 .header-bn-wrap{
	display: flex;
	align-items: center;
 }
.ineline-block{display: inline-block;}
 //banner
 .cont-sec{
padding-top: 140px;
padding-bottom: 95px;
 }
 .container{
	max-width: 1280px;
	padding-left: 20px;
	padding-right: 20px;
	margin: auto;
	position: relative;

	@media(min-width:1367px){
		max-width: 1440px;
	}
}
.main-wrap{
	padding-top: 100px;
}
h1{
	font-size: 42px;
	font-family: var(--default-font);
}
.cont-sec-inner{
	display: flex;
	justify-content: space-between;
	padding-bottom: 95px;

	.info-left{
		max-width: 620px;
		.info-para{
			font-size: 22px;
			font-weight: 700;
			line-height: 1.364;
		}
	}
	.icon-right{
		width:160px;
	img{
		max-width: 160px;
		max-height: 160px;
	}
	}
}
.text-color-default{color: var(--default-font-color);}
.contract-row{
	display: flex;
	gap:32px;
	.col4{
		flex: 0 1 25%;
		max-width: 25%;
	}
	.icon-img{
		margin-bottom: 24px;
		height: 64px;
		img{
			max-width: 64px;
			max-height: 64px;
		}
	}
	.card-info{
		font-size: 18px;
		line-height: 1.6667;
		p{
		
			font-size: 18px;
			line-height: 1.6667;	
		}
	}
}
h2{font-size: 24px;}
.font-bold{font-weight: 700;}
.mb-4{margin-bottom: 24px;}