// main css to compile

//fonts
// @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

//$font-family-primary:'Trebuchet MS','Helvetica Neue', 'Verdana', sans-serif;
//variables
@font-face {
    font-family: 'Trebuchet MS';
    src: url('../font/TrebuchetMS.eot');
    src: url('../font/TrebuchetMS.eot?#iefix') format('embedded-opentype'),
        url('../font/TrebuchetMS.woff2') format('woff2'),
        url('../font/TrebuchetMS.woff') format('woff'),
        url('../font/TrebuchetMS.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {    
	--default-font:'Trebuchet MS';
	--default-background-color: #E6EEF6;
	// --comments-background-color: #f4f6f9;
	// --comments-header-background-color: #c6cdd4;
	--default-font-color: #232323;
	// --app-navigation-background-color: #ffffff;
	--logo-color: #ff6868;
	--button-red: #ef4747;
	// --link-color: #121212;
	// --icon-bg:#E0E4E7;
	// --tab-bg:#F0F2F5;
	// --text-light-color:#525252;
	// --border-color:#AEB7C0;
	// --border-color1:#CCCCCC;
	// --border-color2:#E3E3E3;
	// --border-color3:#B8BDC4;
	// --comment-bg:#DFE3EB;
	// --comment-bg1:#F4F6F9;
	// --comment-bg2:#DFE4EB;
	// --link-color:#488FCE;
	// --dark-blue:#444488;
	// --card-bg:#B1BAC5;
	// --green-bg:#78D537;
	// --dark-btn-bg:#5C677D;
	// --dark-bg:#566373;
	// --tool-tip-bg:#333E4F;
	// --orange-bg:#FFA268;
	// --compare-bg:#C5CCD8;
	// --icon-dark-color:#555B65;
	// --icon-active-color:#7C828D;
	// --white:#fff;
	// --check-bg:#D8D8D8;
	// --success-bg:#80AB88;
	// --light-text:#7E8BA3;
	// --yellow-light:#f9e076;
	// --light-gray:#9199A8;
	// --bg-black:#1E1D22;
	// --bg-button:#5B667E;
	// --bg-color2:#E4E9EE;
	--divider-footer:#979797;
	// --form-background-color: #dfe8eb;
	// --bg-color3:#B2B2B2;
}

// $base-size: 16;

//Function to convert px value into rem
// @function size($target, $context: $base-size) {
// 	@return calc($target / $context) * 1rem;
// }
// $base-font-size: size($base-size);
//styles   
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
ul,ol{
	list-style: none;
}
html{
	// overflow-y: scroll; 
	font-family: var(--default-font);
	font-size:15px;
	line-height: 1.5;
	background: var(--comments-header-background-color);
}
html, body {
	scroll-behavior: smooth;
	// overflow: hidden;
}

body {
	font-family: var(--default-font);
	line-height: 1.4;
	margin: 0;
	padding: 0;
	min-height: 100vh;
}
 @import 'landing';
// @import 'home-slides';
// @import 'home-popups';
// @import 'controls';

.popup-container {
	width: 100vw;
	// height: 100vh;
	// min-height: 600px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	display: flex;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	z-index: 999;
	display: none;
	overflow: scroll;
	font-family: var(--default-font);
	color: var(--default-font-color);
	&.open {
		display: flex;
		overflow: hidden;
		@media(max-width:767px){
			overflow: scroll;
		}
	}

	.popup {
		// min-width: 860px;
		// max-width: 960px;
		// height: auto;
		// border-radius: 12px;
		// overflow: hidden;
		// background: #fff;
		// border-radius: 12px;
		// width: 60vw;
		// position: relative;
		// padding: 0px;


		.close-popups {
			cursor: pointer;
			position: absolute;
			right: 12px;
			top: 12px;
			width: 24px;
			height: 24px;
			border-radius: 100%;
			background-color: var(--logo-color);
			background-image: url(../images/icon-cross.svg);
			background-size: 16px;
			background-position: center center;
			background-repeat: no-repeat;
			transition: all .3s;
			z-index: 999;

			&:hover {
				transform: rotate(90deg);
			}
		}



		.files-share-list {
			width: 100%;
			min-height: 480px;
			max-height: 80vh;
			overflow: scroll;

			.wrapper {
				padding: 12px 2%;
				width: 96%;

				&.sticky {
					position: sticky;
					padding-top: 24px;
					top: 0;
					background-color: #fff;
					box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
				}
			}

			.file-item  {
				width: 100%;

			}

			input[type=search] {
				padding: 12px;
				width: 75%;
				// height: auto;
			}
		}
	}
}
input{
	font-family: var(--default-font);
	margin-bottom: 8px;
}
input[type=checkbox],input[type=radio]{
	margin-bottom: 0;
}

.button {
	margin: 0 0 0 6px;
	font-weight: bold;
	padding: 6px 24px;
	cursor: pointer;
	font-size: size(15);
	text-transform: uppercase;
	font-family: var(--default-font);
	letter-spacing: 0.2em;
}

label {
	margin-bottom: 4px;

}
.flex{
	display: flex;
}
.justify-between{justify-content: space-between;}
.loader {
	border: 5px solid #f3f3f3;
	border-radius: 50%;
	border-top: 5px solid #3498db;
	width: 10px;
	height: 10px;
	-webkit-animation: spin 2s linear infinite;  /* Safari */
	animation: spin 2s linear infinite;   
  }      
            
  /* Safari */
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
  
  
  #contactusform{
	max-width: 360px;
	margin: auto;
  }
  @media(max-width:767px){
	.popup-container .popup-slide-image-container img{
		display: none;
	}
  }
  