@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
	--default-font:'Open Sans','Helvetica Neue', 'Verdana', sans-serif;
	--default-background-color: #dce1e6;
	--comments-background-color: #f4f6f9;
	--comments-header-background-color: #c6cdd4;
	--default-font-color: #232323;
	--app-navigation-background-color: #ffffff;
	--logo-color: #ff6868;
	--button-red: #ef4747;
	--form-background-color: #dfe8eb

}

  
*{
	box-sizing: border-box;
	padding: 0;
	margin: 0; 
  }
  ul,ol{
	list-style: none;
  }

html, body {    
    scroll-behavior: smooth;
	
} 
.app-bg{
	background-color: var(--comments-header-background-color);
	width: 100%;
	min-height: 100vh;
}

body {
	font-family: var(--default-font);
	line-height: 1;
	margin: 0;
	padding: 0;
	min-height: 100vh;
    color: var(--default-font-color);
}
.form-container{
    width: 100%;
    max-width: 500px;
    background-color: var(--form-background-color);
    color: var(--default-dark-font-color);
    padding: 24px 4% 24px 4%;
    border-radius: 12px;
    margin: auto;
    box-shadow: 0 18px 24px rgba(0,0,0,.2);

}
input[type=submit], input[type=button], .btn {
    -webkit-appearance: none;
    display: inline-block;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: var(--button-red);
    border: 1px solid var(--button-red);
    height: 36px;
    width: 100%;
    cursor: pointer;
}
.mb-3{margin-bottom: 12px;}
.mb-6{margin-bottom: 24px;}
.mt-6{margin-top: 24px;}

.flex{display: flex;}
.tracking-wider{letter-spacing: .2em;}
.mt-3{margin-top: 12px;}
.text-center{text-align: center;}
.body-text {
    font-size: 14px;
    line-height: 1.5;
}
.logo{max-height: 36px;width: auto; margin: auto;text-align: center;margin-bottom: 16px;}
.logo img{max-height: 36px;margin: auto;}
.form-container label {
    margin: 0px 0 6px 6px;
    font-size: 12px;
   text-align: left;
}
.forgot-password{font-size: 12px;}
.d-block{display: block;}
input[type=text], input[type=email], input[type=password], input[type=tel] {
    -webkit-appearance: none;
    display: inline-block;
    border-radius: 8px;
    border: 1px solid #ccc;
    height: 36px;
    font-size: 14px;
    color: var(--default-font-color);
    padding: 12px;
    box-sizing: border-box;
}
.form-container input[type=text], .form-container input[type=email], .form-container input[type=password], .form-container input[type=tel] {
    width: 100%;
}
.error-message{
    color: var(--button-red);
    font-size: 13px;
    margin-left: 6px;
    margin-top: 4px;
}
.forgot-sec{display: flex;justify-content: space-between;font-size: 14px;}




/*  25 april css */
.header{
    background: transparent;
    padding:24px 21px;
}
#menuToggle
{
  display: block;
  position: relative;
  top: 0;
  left: 0px;  
  z-index: 1;  
  -webkit-user-select: none;
  user-select: none;  
  height: 32px;
  width: 32px;
}
.nav-menu{
    display: flex;
 }
.main-logo{
   width: 150px;
   height: 32px; 
   margin: 0 36px;
}
.main-logo img{max-height: 28px;margin-top: -4px;}
#menuToggle a
{
  text-decoration: none;
  color: #232323;  
  transition: color 0.3s ease;
}
#menuToggle a:hover
{
  color: tomato;
}
#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;  
  cursor: pointer;  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 2px; 
  margin-bottom: 5px; 
  position: relative;  
  background: #ff6868;
  /* border-radius: 3px;   */
  z-index: 1;
    transform-origin: 4px 0px;  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-6px, -3px);
  background: #232323;
}
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}
#menu
{
  position: fixed;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  height:calc(100% + 100px);  
  background: #fff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
}
#menuToggle input:checked ~ ul
{
  transform: none;
}
.content-sec{
    position: relative;
    padding: 0 21px;
}

.fs14{font-size: 14px;}
.fs16{font-size: 16px;}
.a-heading{
    font-size: 16px;
    font-weight: 700;
    color: #232323;
    background: #f4f6f9;
    border-radius: 6px;
    padding: 12px;
    margin-bottom: 8px;
    cursor: pointer;

}
.accrodian-sec{
  background: #fff;
  padding: 16px;
  border-radius: 6px;
}
.acc-wrap{margin-bottom: 16px;}
.a-content-body{
    font-size: 14px;
    line-height: 1.4;
    color: #232323; 
    padding: 0 12px; 
}
.body-text1{
    font-size: 14px;
    line-height: 1.4;
    color: #232323;  

}
.body-text{
    font-size: 16px;
    line-height: 1.4;
    color: #232323;

}
.font-bold{font-weight: 700;}
.text-area{
  width: 100%;height: 100px;resize: none;background: #fff;
  font-size: 14px;
  -webkit-appearance:none;
  border:1px solid #ccc;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 12px;
  margin-top: 8px;
}
.mb-2{margin-bottom:8px;}

.mb-3{margin-bottom: 12px;}
.button-red{
  -webkit-appearance: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: var(--button-red);
  border: 1px solid var(--button-red);
  height: 36px;
  /* width: 100%; */
  cursor: pointer;
  border-radius: 24px;
  min-width: 140px;

}